﻿body,h1,h2,h3,ul,li{
	margin:0;
	list-style:none;
	font-size: 11pt;
	font-family: "微软雅黑";
	padding:0;
}
/*头部导航栏目 开始*******************************************************/
.nav{
	height:45px;
    background: #CECECE url(images/nav.png) repeat-x fixed top;
    border:solid 1px #CECECE;
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
    position:fixed;
}
.nav ul li {
	display: block;
	float: left;
	width: 33%;
	line-height: 35pt;
	text-align: center;
    background-image: url(images/vline.png);
	background-position: right;
	background-repeat: no-repeat;
}
.nav ul li a {
	color: #000000;
    font-weight:bold;
	text-decoration: none;
	display: block;
}
.nav ul li a:hover {
	color: #333333;
    background-image: url(images/h-red-line.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.active{
    background-image: url(images/h-red-line.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.division{
    clear:both;
    padding-top:48px
}

/*头部导航栏目 结束*******************************************************/

/*案件描述部分 开始*/
#case{
    min-height:120px;
    border-bottom:1px solid #CECECE;
    border-left:1px solid #CECECE;
    border-right:1px solid #CECECE;
    background-image: url(images/red-bg.png);
    background-repeat: repeat;
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
    color: #000000;
    font-size:16px;
    position:fixed;
}

.jiantou{
    float: left;
	width:70%;
	background-image: url(images/dotted.png);
	background-repeat: no-repeat;
	background-position: right;
	height:20px;
}

.button {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding: .5em 1em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.buttonNav {
  display: inline-block;
  zoom: 1;
  vertical-align: baseline;
  width:98%;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  font-weight:bold;
  padding: .5em 0em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-left:2px;
  margin-right:2px;
}

.orange{
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.gray {
    color:#FFFFFF;
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}

.color797876{
    color:#797876;

}

.colorDc6527{
    color:#dc6527;
}

.mar15pad5{
    margin-left:15px;
    padding-top:5px;
}
/*案件描述部分 结束*/

.color888{
    color:#888;
}

.color000{
    color:#000;
}

.positionright{
    float:right;
}

.positionleft{
    float:left;
}

.textright{
    text-align:right;
}

.detail{
    padding:10px;
    border-bottom:1px solid #CECECE;
    height:50px;
}