﻿@model PinganHouse.SHHTS.WebUI.Models.CapitalAccountModel

@{
    ViewBag.Title = "资金台帐";
}
<body>
    <div class="wxh_main">
        <div class="top_main">
            <div class="c_left">
                <p class="id_case">案件编号<span>&nbsp;@Html.DisplayFor(model =>Model.CaseId)</span></p>
                <p class="addr_case">@Html.DisplayFor(model =>Model.Address)</p>
                <p class="price_case">网签价格：<span>@Html.DisplayFor(model =>Model.NetworkContractPrice)</span>万元</p>
            </div>
            <div class="c_right">
                @*<a href="javascript:void(0);">案件进度<i class="icon iconfont"></i></a>*@
                @Html.ActionLink("案件进度", "Edit", new { id = @Model.CaseId }) 
            </div>
        </div>
        <div class="bill_tab">
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">买房</th>
                        <th scope="col">卖方</th>

                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <th scope="row" rowspan="3">房款</th>
                        <td>应付：￥@Html.DisplayFor(model => Model.BuyerPayInfo.PrePayHouseMoney) 万  </td>
                        <td>应付：￥@Html.DisplayFor(model => Model.SellerPayInfo.PrePayHouseMoney) 万</td>

                    </tr>
                    <tr>
                        <td>实付：￥@Html.DisplayFor(model => Model.BuyerPayInfo.ActualPayHouseMoney) 万</td>
                        <td>实付：￥@Html.DisplayFor(model => Model.SellerPayInfo.ActualPayHouseMoney) 万</td>
                    </tr>
                    <tr>
                        <td>结余：￥@Html.DisplayFor(model => Model.BuyerPayInfo.BalanceHouseMoney) 万</td>
                        <td>结余：￥@Html.DisplayFor(model => Model.SellerPayInfo.BalanceHouseMoney) 万</td>

                    </tr>
                </tbody>
                <tbody>
                <th scope="row" rowspan="3">税费</th>
                <td>应付：￥@Html.DisplayFor(model => Model.BuyerPayInfo.PrePayTax) 万</td>
                <td>应付：￥@Html.DisplayFor(model => Model.SellerPayInfo.PrePayTax) 万</td>

                </tr>
                <tr>
                    <td>实付：￥@Html.DisplayFor(model => Model.BuyerPayInfo.ActualPayTax) 万</td>
                    <td>实付：￥@Html.DisplayFor(model => Model.SellerPayInfo.ActualPayTax) 万</td>
                </tr>
                <tr>

                    <td>结余：￥@Html.DisplayFor(model => Model.BuyerPayInfo.BalanceTax) 万</td>
                    <td>结余：￥@Html.DisplayFor(model => Model.SellerPayInfo.BalanceTax) 万</td>

                </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row" rowspan="3">佣金</th>
                        <td>应付：￥@Html.DisplayFor(model => Model.BuyerPayInfo.PrePayCommissions) 万</td>
                        <td>应付：￥@Html.DisplayFor(model => Model.SellerPayInfo.PrePayCommissions) 万</td>

                    </tr>
                    <tr>
                        <td>实付：￥@Html.DisplayFor(model => Model.BuyerPayInfo.ActualPayCommissions) 万</td>
                        <td>实付：￥@Html.DisplayFor(model => Model.SellerPayInfo.ActualPayCommissions) 万</td>
                    </tr>
                    <tr>

                        <td>结余：￥@Html.DisplayFor(model => Model.BuyerPayInfo.BalanceComissions) 万</td>
                        <td>结余：￥@Html.DisplayFor(model => Model.SellerPayInfo.BalanceComissions) 万</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
