﻿@{
    ViewBag.Title = "账单详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<div class="wxh_main">
    <div class="bill_head">
        <div class="bill_cont">
            <dl class="detail_sub"><dt><div><span>@(ViewData["OrderDate"])</span></div><p>@(ViewData["OrderBizType"])</p></dt><dd><span>@(ViewData["OrderAmount"])</span><i>元</i></dd></dl>
        </div>
    </div>
    <div class="detail_sub_list">
        <div><label>交易编号：<span>@(ViewData["CaseId"])</span></label></div>
        <div><label>物业地址：<span>@(ViewData["TenementAddress"])</span></label></div>
        <div><label>经纪人：<span>@(ViewData["AgentName"])</span></label></div>
        <div><label>备注：<p>@(ViewData["Remark"])</p></label></div>
    </div>

</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>

</script>