﻿@using PinganHouse.SHHTS.Enumerations
@using PinganHouse.SHHTS.Utils
@{
    ViewBag.Title = "账单明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var orderBillModelList = Model as IList<PinganHouse.SHHTS.DataTransferObjects.OrderBilledInfo>;
}


<div class="wxh_main">
    <div class="bill_head" id="J_head">
        <div class="bill_cont" id="J_cont">
            <ul>
                @using (Html.BeginForm("Index", "Bill", FormMethod.Get))
                {
                    <li>
                        <dl>
                            <dt><span id="selYear">2015</span>年</dt>
                            <dd>
                                <select class="month_select" name="selMonth" id="selMonth" >
                                    <option value="1" @if (ViewData["CurrentMonth"].ToString() == "01")
                                                      {
                                                          @:selected="selected"
                                                      }>1月</option>
                                    <option value="2" @if (ViewData["CurrentMonth"].ToString() == "02")
                                                      {
                                                          @:selected="selected"
                                                      }>2月</option>
                                    <option value="3" @if (ViewData["CurrentMonth"].ToString() == "03")
                                                      {
                                                          @:selected="selected"
                                                      }>3月</option>
                                    <option value="4" @if (ViewData["CurrentMonth"].ToString() == "04")
                                                      {
                                                          @:selected="selected"
                                                      }>4月</option>
                                    <option value="5" @if (ViewData["CurrentMonth"].ToString() == "05")
                                                      {
                                                          @:selected="selected"
                                                      }>5月</option>
                                    <option value="6" @if (ViewData["CurrentMonth"].ToString() == "06")
                                                      {
                                                          @:selected="selected"
                                                      }>6月</option>
                                    <option value="7" @if (ViewData["CurrentMonth"].ToString() == "07")
                                                      {
                                                          @:selected="selected"
                                                      }>7月</option>
                                    <option value="8" @if (ViewData["CurrentMonth"].ToString() == "08")
                                                      {
                                                          @:selected="selected"
                                                      }>8月</option>
                                    <option value="9" @if (ViewData["CurrentMonth"].ToString() == "09")
                                                      {
                                                          @:selected="selected"
                                                      }>9月</option>
                                    <option value="10" @if (ViewData["CurrentMonth"].ToString() == "10")
                                                       {
                                                           @:selected="selected"
                                                       }>10月</option>
                                    <option value="11" @if (ViewData["CurrentMonth"].ToString() == "11")
                                                       {
                                                           @:selected="selected"
                                                       }>11月</option>
                                    <option value="12" @if (ViewData["CurrentMonth"].ToString() == "12")
                                                       {
                                                           @:selected="selected"
                                                       }>12月</option>

                                </select>
                            </dd>
                        </dl>
                    </li>
                   }
                <li><dl><dt>收入(元)</dt><dd><span id="spCollectionAmount">@(ViewData["CollectionAmount"].ToString())</span></dd></dl></li>
                <li><dl><dt>支出(元)</dt><dd><span id="spPaymentAmount">@(ViewData["PaymentAmount"].ToString())</span></dd></dl></li>
            </ul>
        </div>
        <div class="bill_tab" id="J_tab">
            <a class="active" >明细</a>
            <a id="reportLink">报表</a>
        </div>
    </div>
    <div class="bill_list_detail">

                @{
                    if (orderBillModelList == null)
                    {
                        <br /><br /><br />
                        @:<p style="font-size: 15px;text-align: center">亲，您公司本月尚未有资金交易哟~</p>       
                    }
                    else
                    {
                        if (orderBillModelList.Count == 0)
                        {
                            <br /><br /><br />
                            @:<p style="font-size: 15px;text-align: center">亲，您公司本月尚未有资金交易哟~</p>       
                        }
                        else
                        {
                            foreach (var orderBill in orderBillModelList)
                            {

                                <a href="/Bill/Detail?route=enterprise&id=@(orderBill.SysNo)&Month=@(ViewData["CurrentMonth"])&Year=@(ViewData["CurrentYear"])">
                                    <dl>
                                        <dt>
                                            <span>
                                                @{
                                if (orderBill.OrderType == OrderType.Collection || (orderBill.OrderType == OrderType.Payment && orderBill.OppositeAccount == long.Parse(ViewData["AccountSysNo"].ToString())))
                                {
                                    @:入账款项
                                          }
                                else
                                {
                                    @:出账款项
                                          }
                                                }
                                            </span><span>@(EnumExtends.GetDescription(orderBill.OrderBizType))</span><span>
                                                @{
                                if (orderBill.OrderType == OrderType.Collection || (orderBill.OrderType == OrderType.Payment && orderBill.OppositeAccount == long.Parse(ViewData["AccountSysNo"].ToString())))
                                {
                                    @:+
                                          }
                                else
                                {
                                    @:-
                                          }
                                                }
                                                @(orderBill.OrderAmount)
                                            </span>
                                        </dt>
                                        <dd><span>@(orderBill.ModifyDate.Value.ToString("MM-dd"))&nbsp;@(orderBill.ModifyDate.Value.ToString("dddd", new System.Globalization.CultureInfo("zh-cn")))</span></dd>
                                    </dl>
                                </a>
                            }
                        }

                    }
}
            
    </div>

</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    KISSY.use("dom", function (S, DOM) {
        S.one('#reportLink').on('click', function () {
            location.href = "/Bill/Report?route=enterprise&Month=" +S.one('.month_select').val();
        });
    });

    KISSY.use('node,ajax,event', function(S,Node,IO,Event) {

        Event.on(window, 'scroll', function () {
            var srollPos = S.one(window).scrollTop();
            var maxheight = S.one("#J_head").height();
            if (srollPos >= maxheight) {
                S.one("#J_cont").css("display", "none");
                S.one("#J_head").css("position", "fixed");
                S.one("#J_head").css("top", "0px");
            } else {
                S.one("#J_cont").css("display", "block");
                S.one("#J_head").css("position", "relative");
            }


        });

        //var month=Node.all('.month_select').val();
        //Node.all('.bill_list_detail').on('swipe',function(){
        //    var windowHeight=Node.one(window).height();
        //    var srollPos=Node.one(window).scrollTop();
        //    var totalHeight = parseFloat(windowHeight) + parseFloat(srollPos);
        //    var docHeight=Node.one(document).height();


        //    if(docHeight  <= totalHeight ){
        //        Node.all('.bill_list_detail').append('<div class="loading" ></div>');
        //        getData(month);

        //    }
        //});


        //function getData(month){
        //    IO({
        //        url:'mockdata/bill.json',
        //        type:'get',
        //        dataType: "json",
        //        data:{
        //            month:month
        //        },
        //        success:function(data) {
        //            var html='';
        //            // console.log(data);
        //            S.each(data.data,function(item,i){

        //                html+=' <a href="bill_detail_sub.html"><dl> <dt><span>'+item.type
        //            +'</span><span>'+item.desc+'</span><span>'+item.sum
        //             +'</span></dt><dd><span>'+ item.date  +'</span><span>'+ item.week +'</span></dd> </dl></a>';
        //            });
        //            Node.all('.loading').remove();
        //            Node.all('.bill_list_detail').append(html);
        //        }
        //    });

        //}


        S.one('#selMonth').on('change', function () {
            
            var year = S.one('#selYear').text();
            var month = S.one('.month_select').val();
            location.href = '/Bill/Index?route=enterprise&Month=' + month + '&Year=' + year;

        });

        function GetOrderBiz(orderBizType) {
            switch (orderBizType) {
                case 0:
                    return "收款";
                case 1:
                    return "退款";
                case 2:
                    return "房款";
                case 3:
                    return "税费";
                case 4:
                    return "中介佣金";
                case 5:
                    return "其它服务费";
                case 6:
                    return "装修补偿款";
                default:
                    return "";
            }
        }



        function ChangeDateFormat(jsondate) {
            jsondate = jsondate.replace("/Date(", "").replace(")/", "");

            if (jsondate.indexOf("+") > 0) {
                jsondate = jsondate.substring(0, jsondate.indexOf("+"));
            } else if (jsondate.indexOf("-") > 0) {
                jsondate = jsondate.substring(0, jsondate.indexOf("-"));
            }
            var date = new Date(parseInt(jsondate, 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDay = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return month + "-" + currentDay + "&nbsp;&nbsp;" + GetWeek(date.getDay()) ;
        }

        function GetWeek(day) {
            switch (day) {
                case 1:
                    return "星期一";
                case 2:
                    return "星期二";
                case 3:
                    return "星期三";
                case 4:
                    return "星期四";
                case 5:
                    return "星期五";
                case 6:
                    return "星期六";
                case 0:
                    return "星期日";
                default:
                    return "";
            }
        }
    });




</script>
