﻿@using PinganHouse.SHHTS.Enumerations
@using PinganHouse.SHHTS.Utils
@{
    ViewBag.Title = "账单报表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var billModelList = Model as IList<PinganHouse.SHHTS.WebUI.Models.BillReportModel>;
}



<div class="wxh_main">
    <div class="bill_head" id="J_head">
        <div class="bill_cont" id="J_cont">
            <ul>
                @using (Html.BeginForm("Report", "Bill", FormMethod.Get))
                {
                    <li>
                        <dl>
                            <dt><span id="selYear">2015</span>年</dt>
                            <dd>
                                <select name="selMonth" id="selMonth">
                                    <option value="1" @if (ViewData["CurrentMonth"].ToString() == "01")
                                                      {
                                                          @: selected="selected"
                                                      }>1月</option>
                                    <option value="2" @if (ViewData["CurrentMonth"].ToString() == "02")
                                                      {
                                                          @: selected="selected"
                                                      }>2月</option>
                                    <option value="3" @if (ViewData["CurrentMonth"].ToString() == "03")
                                                      {
                                                          @: selected="selected"
                                                      }>3月</option>
                                    <option value="4" @if (ViewData["CurrentMonth"].ToString() == "04")
                                                      {
                                                          @: selected="selected"
                                                      }>4月</option>
                                    <option value="5" @if (ViewData["CurrentMonth"].ToString() == "05")
                                                      {
                                                          @: selected="selected"
                                                      }>5月</option>
                                    <option value="6" @if (ViewData["CurrentMonth"].ToString() == "06")
                                                      {
                                                          @: selected="selected"
                                                      }>6月</option>
                                    <option value="7" @if (ViewData["CurrentMonth"].ToString() == "07")
                                                      {
                                                          @: selected="selected"
                                                      }>7月</option>
                                    <option value="8" @if (ViewData["CurrentMonth"].ToString() == "08")
                                                      {
                                                          @: selected="selected"
                                                      }>8月</option>
                                    <option value="9" @if (ViewData["CurrentMonth"].ToString() == "09")
                                                      {
                                                          @: selected="selected"
                                                      }>9月</option>
                                    <option value="10" @if (ViewData["CurrentMonth"].ToString() == "10")
                                                       {
                                                           @: selected="selected"
                                                       }>10月</option>
                                    <option value="11" @if (ViewData["CurrentMonth"].ToString() == "11")
                                                       {
                                                           @: selected="selected"
                                                       }>11月</option>
                                    <option value="12" @if (ViewData["CurrentMonth"].ToString() == "12")
                                                       {
                                                           @: selected="selected"
                                                       }>12月</option>

                                </select>
                            </dd>
                        </dl>
                    </li>
                }
                <li><dl><dt>收入(元)</dt><dd><span id="spCollectionAmount">@(ViewData["Income"])</span></dd></dl></li>
                <li><dl><dt>支出(元)</dt><dd><span id="spPaymentAmount">@(ViewData["Pay"])</span></dd></dl></li>
            </ul>
        </div>
        <div class="bill_tab" id="J_tab">
            <a id="detailLink">明细</a>
            <a class="active" >报表</a>
        </div>
    </div>

    <div class="bill_list_report">
                @{
                    var i = 0;
                    
            
            if (billModelList != null)
            {
                if (billModelList.Count==0)
                    {
                        <br /><br /><br />
                        @:<p style="font-size: 15px;text-align: center">亲，您公司本月尚未有资金交易哟~</p>      
                    }
                foreach (var bill in billModelList)
                {
                    if (bill.Amount > 0)
                    {
                        i++;
                        if (i == 1)
                        {
                            <h1 id="hIncome">收入类别</h1>
                        }
                        <a href="/Bill/ReportDetail?route=enterprise&bizType=@(bill.BizType.GetHashCode())&year=@(ViewData["CurrentYear"])&month=@(ViewData["CurrentMonth"])"><dl><dt><span>@(EnumExtends.GetDescription(bill.BizType))</span></dt><dd>+@(bill.Amount.ToString("F0"))</dd></dl></a>
                    }
                }
            }
}
        
        @{
            if (billModelList != null)
            {
                i = 0;
                foreach (var bill in billModelList)
                {
                    if (bill.Amount < 0)
                    {
                        i++;
                        if (i == 1)
                        {
                            <h1 id="hPay">支出类别</h1>
                        }
                        <a href="/Bill/ReportDetail?route=enterprise&bizType=@(bill.BizType))&year=@(ViewData["CurrentYear"])&month=@(ViewData["CurrentMonth"])"><dl><dt><span>@(EnumExtends.GetDescription(bill.BizType))</span></dt><dd>+@(bill.Amount.ToString("F0"))</dd></dl></a>
                    }
                }
            }
}

    </div>


</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    KISSY.use("dom", function (S, DOM) {
        S.one('#detailLink').on('click', function () {
            location.href = "/Bill/Index?route=enterprise&Month=" + S.one('#selMonth').val();
        });
    });

    KISSY.use('node,ajax', function(S,Node,IO) {

        S.one('#selMonth').on('change', function () {
            var year = S.one('#selYear').text();
            var month = S.one('#selMonth').val();
            location.href = '/Bill/Report?route=enterprise&Month=' + month + '&Year=' + year;

        });

        function GetOrderBiz(orderBizType) {
            switch (orderBizType) {
                case 0:
                    return "收款";
                case 1:
                    return "退款";
                case 2:
                    return "房款";
                case 3:
                    return "税费";
                case 4:
                    return "中介佣金";
                case 5:
                    return "其它服务费";
                case 6:
                    return "装修补偿款";
                default:
                    return "";
            }
        }



        function ChangeDateFormat(jsondate) {
            jsondate = jsondate.replace("/Date(", "").replace(")/", "");

            if (jsondate.indexOf("+") > 0) {
                jsondate = jsondate.substring(0, jsondate.indexOf("+"));
            } else if (jsondate.indexOf("-") > 0) {
                jsondate = jsondate.substring(0, jsondate.indexOf("-"));
            }
            var date = new Date(parseInt(jsondate, 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDay = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return month + "-" + currentDay + "&nbsp;&nbsp;" + GetWeek(date.getDay()) ;
        }

        function GetWeek(day) {
            switch (day) {
                case 1:
                    return "星期一";
                case 2:
                    return "星期二";
                case 3:
                    return "星期三";
                case 4:
                    return "星期四";
                case 5:
                    return "星期五";
                case 6:
                    return "星期六";
                case 0:
                    return "星期日";
                default:
                    return "";
            }
        }
    });


    KISSY.use('node,event,dom', function (S, Node, Event,Dom) {
        Event.on(window, 'scroll', function () {
            var srollPos = S.one(window).scrollTop();
            var maxheight = S.one("#J_head_p").height();
            if (srollPos >= maxheight) {
                S.one("#J_cont_p").css("display", "none");
                S.one("#J_head_p").css("position", "fixed");
                S.one("#J_head_p").css("top", "0px");
            } else {
                S.one("#J_cont_p").css("display", "block");
                S.one("#J_head_p").css("position", "relative");
                Dom.removeAttr("#J_head_p", "top");
            }


        });

    });

</script>

