﻿@using PinganHouse.SHHTS.Enumerations
@using PinganHouse.SHHTS.Utils
@{
    ViewBag.Title = "报表详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var orderBillModelList = Model as IList<PinganHouse.SHHTS.DataTransferObjects.OrderBilledInfo>;
}


<div class="wxh_main">
    <div class="bill_head">
        <div class="bill_cont">
            <dl class="report_detail"><dt class="yj"><span>@(ViewData["BizType"])</span></dt><dd><span>@(ViewData["Amount"])</span><i>元</i></dd></dl>
        </div>
    </div>
    <div class="bill_detail">
        <h1>@(ViewData["CurrentYear"])-@(ViewData["CurrentMonth"])</h1>
@{
    if (orderBillModelList != null)
    {
        foreach (var orderBill in orderBillModelList)
        {
            <a href="/Bill/Detail?route=enterprise&id=@(orderBill.SysNo)&Month=@(ViewData["CurrentMonth"])&Year=@(ViewData["CurrentYear"])">
                <dl>
                    <dt>
                        <span>
                            @{
                            if (orderBill.OrderType == OrderType.Collection || (orderBill.OrderType == OrderType.Payment && orderBill.OppositeAccount == long.Parse(ViewData["AccountSysNo"].ToString())))
                            {
                                @:入账款项
                            }
                            else
                            {
                                @:出账款项
                            }
                            }
                        </span><span>@(EnumExtends.GetDescription(orderBill.OrderBizType))</span><span>
                            @{
                        if (orderBill.OrderType == OrderType.Collection || (orderBill.OrderType == OrderType.Payment && orderBill.OppositeAccount == long.Parse(ViewData["AccountSysNo"].ToString())))
                        {
                            @:+
                        }
                        else
                        {
                            @:-
                        }
                            }
                            @(orderBill.OrderAmount)
                        </span>
                    </dt>
                    <dd><span>@(orderBill.ModifyDate.Value.ToString("MM-dd"))&nbsp;@(orderBill.ModifyDate.Value.ToString("dddd", new System.Globalization.CultureInfo("zh-cn")))</span></dd>

                </dl>
                </a>
                }
         }
    }


</div>

</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>

    

</script>

