﻿@{
    Layout = "~/Areas/Test/Views/Shared/_Layout.cshtml";
}
@model IList<PinganHouse.SHHTS.DataTransferObjects.CaseDto>

@using PinganHouse.SHHTS.Utils;

    <div>
        <table border="1">
            <tr>
                <td>案件编号</td>
                <td>物业地址</td>
                <td>受理中心</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CaseId</td>
                        <td>@item.TenementAddress</td>
                        <td>@item.ReceptionCenter.GetDescription()</td>
                        <td><a href="/test/fs/co/@item.CaseId">发起代收</a></td>
                        <td><a href="/test/fs/eo/@item.CaseId">发起代付</a></td>
                        <td><a href="/test/fs/po/@item.CaseId">发起销帐</a></td>
                        <td><a href="/test/fs/order/@item.CaseId">订单列表</a></td>
                    </tr>
                }
            }
        </table>
    </div>
