﻿@{
    Layout = "~/Areas/Test/Views/Shared/_Layout.cshtml";
}

    <div>
@using (Html.BeginForm()) 
{ 
        <table border="1">
            <tr>
                <td>账户类型：</td>
                <td>
                    <select name="accountType">
                        <option value="0">卖家</option>
                        <option value="1">买家</option>
                    </select>
                </td>
            </tr>
            <tr><td>订单总额：</td><td><input type="text"  name="amount"/></td></tr>
            <tr><td>备注：</td><td><input type="text" name="remark"/></td></tr>
            <tr><td></td><td><input type="submit" /></td></tr>
        </table>
        <input type="hidden" name="CaseId" value="@ViewContext.RouteData.Values["id"]" />
}
    </div>
