﻿@{
    Layout = "~/Areas/Test/Views/Shared/_Layout.cshtml";
}

    <div>
    @using (Html.BeginForm())
    {
        <table border="1">
            <tr>
                <td>付款方：</td>
                <td>
                    <select name="accountType">
                        <option value="1">买家</option>
                        <option value="0">卖家</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>收款方：</td>
                <td>
                    <select name="receiveType">
                        <option value="0">卖家</option>
                        <option value="1">买家</option>
                    </select>
                </td>
            </tr>
            <tr><td>订单类型：</td><td>
                                  <select name="orderType">
                                      <option value="2">房款</option>
                                      <option value="3">税费</option>
                                      <option value="4">佣金</option>
                                  </select></td></tr>
            <tr><td>订单总额：</td><td><input type="text" name="amount" /></td></tr>
            <tr><td>转出帐号：</td><td><input type="text" name="accountNo" /></td></tr>
            <tr><td>银行简码：</td><td><input type="text" name="bankCode" /></td></tr>
            <tr><td>开户名：</td><td><input type="text" name="accountName" /></td></tr>
            <tr><td>银行名称：</td><td><input type="text" name="bankName" /></td></tr>
            <tr><td>备注：</td><td><input type="text" name="remark" /></td></tr>
            <tr><td></td><td><input type="submit" /></td></tr>
        </table>
        <input type="hidden" name="CaseId" value="@ViewContext.RouteData.Values["id"]" />
    }
    </div>
