﻿@{
    Layout = "~/Areas/Test/Views/Shared/_Layout.cshtml";
}
@model IList<PinganHouse.SHHTS.DataTransferObjects.MissCollectionTrade>

@using PinganHouse.SHHTS.Utils;

<div>
    <table border="1">
        <tr>
            <td>流水编号</td>
            <td>交易总额</td>
            <td>交易日期</td>
            <td>支付方式</td>
            <td>确认标识</td>
            <td></td>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.SerialNo</td>
                    <td>@item.Amount.ToString("f2")</td>
                    <td>@(item.PaymentDate.HasValue ? item.PaymentDate.Value.ToString("yyyy-MM-dd") : string.Empty)</td>
                    <td>@item.Channel.GetDescription()</td>
                    <td>@item.Confirmed</td>
                    <td><a href="/test/fs/re/@item.SysNo?channel=@((int)item.Channel)">@(item.Confirmed ? "" : "补单")</a> </td>
                </tr>
            }
        }
    </table>
</div>
