﻿@{
    Layout = "~/Areas/Test/Views/Shared/_Layout.cshtml";
}
@model IList<PinganHouse.SHHTS.DataTransferObjects.Order>

@using PinganHouse.SHHTS.Utils;
@using PinganHouse.SHHTS.Enumerations;

    <div>
        <table border="1">
            <tr>
                <td>订单编号</td>
                <td>订单总额</td>
                <td>订单类型</td>
                <td>业务性质</td>
                <td>订单状态</td>
                <td></td>
                <td></td>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderNo</td>
                        <td>@item.OrderAmount.ToString("f2")</td>
                        <td>@item.OrderType.GetDescription()</td>
                        <td>@(item.OrderBizType != null ? item.OrderBizType.GetDescription() : "")</td>
                        <td>@item.OrderStatus.GetDescription()</td>
                        <td><a href="/test/fs/trade/@item.OrderNo">查看交易流水</a></td>
                        <td>@if (item.OrderType == OrderType.Collection)
                        {<a href="/test/fs/st/@item.OrderNo">提交POS交易</a>}</td>
                    </tr>
                }
            }
        </table>
    </div>
