﻿@{
    Layout = "~/Areas/Test/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm())
    {
        <table border="1">
            <tr>
                <td>账户类型：</td>
                <td>
                    <select name="accountType">
                        <option value="0">卖家</option>
                        <option value="1">买家</option>
                    </select>
                </td>
            </tr>
            <tr><td>案件编号：</td><td><input type="text" name="caseId" /></td></tr>
            @if (Request["channel"] == "0")
            {
                <tr><td>终端号：</td><td><input type="text" name="terminaNo" /></td></tr>
                <tr><td>银行帐号：</td><td><input type="text" name="bankAccount" /></td></tr>
                <tr><td>开户名：</td><td><input type="text" name="accountName" /></td></tr>
            }
            <tr><td></td><td><input type="submit" /></td></tr>
        </table>
        <input type="hidden" name="SysNo" value="@ViewContext.RouteData.Values["id"]" />
    }
</div>
