﻿@{
    Layout = "~/Areas/Test/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm())
    {
        <table border="1">
            <tr><td>交易金额：</td><td><input type="text" name="amount" /></td></tr>
            <tr><td>流水号：</td><td><input type="text" name="serialNo" /></td></tr>
            <tr><td>终端号：</td><td><input type="text" name="terminalNo" /></td></tr>
            <tr><td>银行帐号：</td><td><input type="text" name="bankAccountNo" /></td></tr>
            <tr><td>银行简码：</td><td><input type="text" name="bankCode" /></td></tr>
            <tr><td>开户名：</td><td><input type="text" name="accountName" /></td></tr>
            <tr><td>交易日期：</td><td><input type="text" name="paymentDate" />格式：2015-03-26</td></tr>
            <tr><td>备注：</td><td><input type="text" name="remark" /></td></tr>
            <tr><td></td><td><input type="submit" /></td></tr>
        </table>
        <input type="hidden" name="OrderNo" value="@ViewContext.RouteData.Values["id"]" />
    }
</div>
