﻿@{
    Layout = "~/Areas/Test/Views/Shared/_Layout.cshtml";
}

@model IList<PinganHouse.SHHTS.DataTransferObjects.TradeDetail>

@using PinganHouse.SHHTS.Utils;

    <div>
        <table border="1">
            <tr>
                <td>订单编号</td>
                <td>交易编号</td>
                <td>交易金额</td>
                <td>财务编号</td>
                <td>支付完成日期</td>
                <td>交易状态</td>
                <td></td>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderNo</td>
                        <td>@item.TradeNo</td>
                        <td>@item.Amount.ToString("f2")</td>
                        <td>@item.SerialNo</td>
                        <td>@(item.PaymentDate != null ? item.PaymentDate.Value.ToString("yyyyMMdd HHmmss") : "")</td>
                        <td>@item.Status.GetDescription()</td>
                        <td>@if(item.Amount > 0){
                                <a href="/test/fs/trade/@item.OrderNo?tradeno=@item.TradeNo">撤销</a>
                            }</td>
                    </tr>
                }
            }
        </table>
    </div>
