﻿@{
    ViewBag.Title = "员工详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var staffModel = Model as PinganHouse.SHHTS.DataTransferObjects.AgentStaff;

}

<div class="esf-fd-calculator">

@*@using (Html.BeginForm("Delete", "Staff", FormMethod.Post))
{*@
    <div class="calculator-option">
        <dl>
            <dt>
                姓名
            </dt><dd>
                @(staffModel.RealName)
            </dd>
        </dl>
        <dl>
            <dt>
                手机号
            </dt><dd>
                @(staffModel.Mobile)
            </dd>
        </dl>
        <dl>
            <dt>
                身份证号
            </dt><dd>
                @(staffModel.IdentityNo)
            </dd>
        </dl>
        <dl>
            <dt>
                员工级别
            </dt><dd>
                @(ViewData["staffGrade"])
            </dd>
        </dl>
        <dl>
            <dt>
                公司全称
            </dt><dd>
                @(ViewData["companyName"])
            </dd>
        </dl>
    </div>

    <div class="calculator-btn">
        <input id="hidStaffName" type="hidden" value="@(ViewData["staffName"])" />
        <input id="hidStaffMobile" type="hidden" value="@(ViewData["staffMobile"])" />
        <input id="hidIdentityNo" type="hidden" value="@(ViewData["identityNo"])" />
        <input type="hidden" name="Id" id="hidSysNo" value="@(staffModel.SysNo)"/>
        @if (ViewData["IsManager"].ToString() == "True" && ViewData["staffIsManager"].ToString() == "False")
        {
            <button type="submit" class="btn-compute" id="J_Delete">删除员工信息</button>
        }
    </div>

@*}*@

</div>

  <!-- confirm -->
<div class="wxh-confirm-modal" style="display:none;" id="J_ConfirmModal" type="">
    <div class="wxh-confirm-modal-message" id="J_ConfirmMessage">员工的所有信息详情将被删除!</div>
    <div class="wxh-confirm-modal-button-bar basefix">
        <a class="button-confirm no" href="Javascript:void(0);" id="J_ConfirmNo">取消</a><em style="width:40px;display:inline-block;"></em>
        <a class="button-confirm yes" href="Javascript:void(0);" id="J_ConfirmYes">确认</a>
    </div>
</div>
<div class="wxh-confirm-modal" style="display:none;" id="J_ConfirmDeleteResult" type="">
    <div class="wxh-confirm-modal-message" id="J_ConfirmDeleteResultMessage" style="text-align: center"></div>
    <div class="wxh-confirm-modal-button-bar basefix">
        <a class="button-confirm yes" href="Javascript:void(0);" id="J_ConfirmDeleteResultYes">确认</a>
    </div>
</div>
<div class="masking" id="J_Mask"></div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    //KISSY.use("dom", function (S, DOM) {

    //    S.one('#btnDelete').on('click', function () {
    //        IO.Post("/Staff/Delete",{

    //        });

    //        //KISSY.use('io', function (S, IO) {
    //        //    // use IO
    //        //});

           



    //    });
    //});

    KISSY.use('ajax, event', function(S, IO, Event) {
        //Event.on('#J_Delete', 'click', function () {
        //    IO({
        //        url: '/Staff/Delete',
        //        type: 'post',
        //        data: {
        //            id: S.one("#hidSysNo").val()

        //        },
        //        success: function (data) {
        //            location.href = "/Staff/List?txtStaffName=" + S.one("#hidStaffName").val() + "&txtStaffMobile=" + S.one("#hidStaffMobile").val() + "&txtIdentityNo=" + S.one("#hidIdentityNo").val();
                    
        //        },
        //        error: function () {
        //            alert('error');
        //        }
        //    });
        //});

        // 展示
        Event.on('#J_Delete', 'click', function (e) {
            e.halt();
            S.one('#J_ConfirmModal').show();
            S.one('#J_Mask').show();
        });


        // 隐藏
        Event.on('#J_ConfirmNo', 'click', function () {
            S.one('#J_Mask').hide();
            S.one('#J_ConfirmModal').hide();
        });


        Event.on('#J_ConfirmDeleteResultYes', 'click', function () {
            S.one('#J_Mask').hide();
            S.one('#J_ConfirmDeleteResult').hide();
        });

        // 提交
        Event.on('#J_ConfirmYes', 'click', function () {
            S.one('#J_Mask').hide();
            S.one('#J_ConfirmModal').hide();
            // 如果是异步请求，那么这里就调用异步请求，如果不是就直接提交表单
            //S.one('#J_Submit').fire('click');
            IO({
                url: '/Staff/Delete?route=enterprise',
                        type: 'post',
                        data: {
                            id: S.one("#hidSysNo").val(),
                            route: "enterprise"

                        },
                        success: function (data) {
                            if (data.hasError == true) {
                                var errorMessate = data.error;
                                S.one('#J_ConfirmDeleteResultMessage').html(errorMessate);
                                S.one('#J_ConfirmDeleteResult').show();
                                S.one('#J_Mask').show();
                            } else {
                                location.href = "/Staff/List?route=enterprise&txtStaffName=" + S.one("#hidStaffName").val() + "&txtStaffMobile=" + S.one("#hidStaffMobile").val() + "&txtIdentityNo=" + S.one("#hidIdentityNo").val();
                            }
                        
                        },
                        error: function () {
                            alert('error');
                        }
                    });
        });

    });

    //KISSY.use('event', function (S, Event) {

    //    // 展示
    //    Event.on('#J_Delete', 'click', function (e) {
    //        e.halt();
    //        S.one('#J_ConfirmModal').show();
    //        S.one('#J_Mask').show();
    //    });


    //    // 隐藏
    //    Event.on('#J_ConfirmNo', 'click', function () {
    //        S.one('#J_Mask').hide();
    //        S.one('#J_ConfirmModal').hide();
    //    });

    //    // 提交
    //    Event.on('#J_ConfirmYes', 'click', function () {
    //        S.one('#J_Mask').hide();
    //        S.one('#J_ConfirmModal').hide();
    //        // 如果是异步请求，那么这里就调用异步请求，如果不是就直接提交表单
    //        S.one('#J_Submit').fire('click');
    //    });

    //});

</script>