﻿@{
    ViewBag.Title = "员工搜索";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="esf-fd-calculator">

    @using (Html.BeginForm("List", "Staff", FormMethod.Get))
    {
        <div class="calculator-option">
            <dl>
                <input type="text" value="" class="input-txt-100" name="txtStaffName" placeholder="请输入员工姓名">
            </dl>
            <dl>
                <input type="text" value="" class="input-txt-100" name="txtStaffMobile" placeholder="请输入员工手机号">
            </dl>
            <dl>
                <input type="text" value="" class="input-txt-100" name="txtIdentityNo" placeholder="请输入员工身份证号码">
            </dl>
        </div>
    <input id="route" name="route" type="hidden" value="enterprise" />
        <div class="calculator-btn">
            <button tyep="submit" class="btn-compute">搜索</button>
        </div>

    }

</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>

</script>
