﻿@{
    ViewBag.Title = "员工列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var staffModelList = Model as IList<PinganHouse.SHHTS.DataTransferObjects.AgentStaff>;
}

<input id="hidStaffName" type="hidden" value="@(ViewData["staffName"])" />
<input id="hidStaffMobile" type="hidden" value="@(ViewData["staffMobile"])" />
<input id="hidIdentityNo" type="hidden" value="@(ViewData["identityNo"])" />

<div class="esf-transaction-schedule">
    <div class="search-field">
        <a href="/Staff/Index?route=enterprise" class="input-txt"><i class="iconfont">&#xe60a;</i>&nbsp;&nbsp;搜索员工</a>
    </div>

    <div class="total-info">
        <span class="txt">共有员工@(ViewData["totalCount"])人。</span>
    </div>

    <ul class="staff-list" id="J_StaffList">

        <li class="thead">
            <span class="name">姓名</span><span class="mobile">手机号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </li>
        @{
            if (staffModelList != null)
            {
                foreach (var staff in staffModelList)
                {
                    <li class="tr J_TR">
                        <a href="/Staff/Detail?route=enterprise&id=@(staff.SysNo)&name=@(ViewData["staffName"])&mobile=@(ViewData["staffMobile"])&identityNo=@(ViewData["identityNo"])"><span class="name J_name">@(staff.RealName)</span><span class="mobile">@(staff.Mobile)</span><a href="javascript:void(0);" class="iconfont link J_Link">&#xe66a;</a></a>
                    </li>
                }
            }
        }


    </ul>

</div>



<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    //是否正在请求
    var isLoading = false;
    //当前页面
    var pageIndex = 1;


    KISSY.use('ajax, event', function (S, IO, Event) {



        function getStaffData(pageIndex) {
            if (isLoading) {
                return;
            };
            IO({
                url: '/Staff/GetAjaxList?route=enterprise',
                type: 'post',
                dataType: "json",
                data: {
                    pageIndex: pageIndex + 1,
                    staffName: S.one("#hidStaffName").val(),
                    staffMobile: S.one("#hidStaffMobile").val(),
                    identityNo: S.one("#hidIdentityNo").val(),
                    route:"enterprise"

                },
                beforeSend: function () {
                    isLoading = true;
                },
                success: function (data) {
                    renderStaffList(data);
                    isLoading = false;
                },
                error: function () {
                    isLoading = false;
                }
            });
        }

        function renderStaffList(data) {
            var array = new Array();

            for (var k in data.data) {
                var html = [
                  '<li class="tr J_TR">',
                    '<a href="/Staff/Detail?route=enterprise&id='+ data.data[k].SysNo+'&name='+S.one("#hidStaffName").val()+'&mobile='+ S.one("#hidStaffMobile").val()+'&identityNo='+S.one("#hidIdentityNo").val()+'"><span class="name J_name">' + data.data[k].RealName + '</span><span class="mobile">' + data.data[k].Mobile + '</span><a href="javascript:void(0);" class="iconfont link J_Link">&#xe66a;</a></a>',
                  '</li>'
                ];
                array.push(html.join(''));
            }
            S.one('#J_StaffList').append(array.join(''));
            pageIndex += 1;

        }

        // 滚动到页底的时候请求数据
        Event.on(window, 'scroll', function () {
            var totalCount = @(ViewData["totalCount"]);
            var maxPage = Math.floor(totalCount / 5);
            if (totalCount % 5 > 0) maxPage += 1;

            if ((S.one(window).height() + S.one(window).scrollTop()) >= S.one("body").height()) {
                if (pageIndex< maxPage)
                {
                    getStaffData(pageIndex);
                }
            }
        });

    });




</script>