﻿@using PinganHouse.SHHTS.Utils;
@model IList<PinganHouse.SHHTS.DataTransferObjects.LoanOptimizePlan>
@{
    ViewBag.Title = "GetPlans";
}
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
            text-align: center;
        }

    .pline {
        margin: 20px;
    }
</style>

<div class="pline">
    <h1>全部可行方案</h1>
</div>



@if (ViewBag.Error != null)
{
    <div class="pline">
        <span style="color:red">错误：@ViewBag.Error</span>
    </div>
}

<div class="pline">
    <table class="gridtable">
        <thead>
            <tr>
                <th>
                    银行名称
                </th>
                <th>
                    套数认定
                </th>
                <th>
                    商业贷款
                </th>
                <th>
                    公积金贷款
                </th>
                <th>
                    商贷利率
                </th>
                <th>
                    公积金利率
                </th>
                <th>
                    商贷期限
                </th>
                <th>
                    公积金期限
                </th>
                <th>
                    还款方式
                </th>
                <th>
                    商贷月供
                </th>
                <th>
                    公积金月供
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.BankName</td>
                    <td>@m.TaoShu.GetDescription()</td>
                    <td>@m.SAmount 万</td>
                    <td>@m.GAmount 万</td>
                    <td>@m.SInterest %</td>
                    <td>@m.GInterest %</td>
                    <td>@m.SYears 年</td>
                    <td>@m.GYears 年</td>
                    <td>@m.RepayType.GetDescription()</td>
                    <td>@m.SRepay</td>
                    <td>@m.GRepay</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11">
                    <a href="@Url.Action("Index")" style="color:blueviolet;float:right;">返回</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>