﻿@{
    ViewBag.Title = "贷款优化";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>贷款优选测试</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/parsley.js/2.0.7/parsley.min.js"></script>
    <style>
        .parsley-error {
            background-color: lightpink;
        }

        .parsley-errors-list {
            display: inline-block;
            padding: 0px 5px;
            margin: 0px;
        }

            .parsley-errors-list li {
                list-style: none;
                color: red;
            }

        .gjj_benren, .gjj_peiou {
            display: none;
        }

    </style>
    <script>
        $(function () {
            $("#main").parsley();

            $("#gjj7").change(function () {
                if (parseInt($("#gjj7").val()) == 1) {
                    $(".gjj_benren").show();

                    if (parseInt($("#gjj11").val()) == 0)
                        $(".gjj1_p").show();
                    else
                        $(".gjj1_p").hide();

                    if (parseInt($("#gjj9").val()) == 0)
                        $(".gjj3_p").hide();
                    else
                        $(".gjj3_p").show();
                }
                else
                    $(".gjj_benren").hide();
            });
            $("#gjj11").change(function () {
                if (parseInt($("#gjj11").val()) == 0)
                    $(".gjj1_p").show();
                else
                    $(".gjj1_p").hide();
            });

            $("#gjj9").change(function () {
                if (parseInt($("#gjj9").val()) == 0)
                    $(".gjj3_p").hide();
                else
                    $(".gjj3_p").show();
            });

            $("#gjj8").change(function () {
                if (parseInt($("#gjj8").val()) == 1) {
                    $(".gjj_peiou").show();

                    if (parseInt($("#gjj12").val()) == 0)
                        $(".gjj4_p").show();
                    else
                        $(".gjj4_p").hide();

                    if (parseInt($("#gjj10").val()) == 0)
                        $(".gjj6_p").hide();
                    else
                        $(".gjj6_p").show();
                }
                else
                    $(".gjj_peiou").hide();
            })
            $("#gjj12").change(function () {
                if (parseInt($("#gjj12").val()) == 0)
                    $(".gjj4_p").show();
                else
                    $(".gjj4_p").hide();
            });



            $("#gjj10").change(function () {
                if (parseInt($("#gjj10").val()) == 0)
                    $(".gjj6_p").hide();
                else
                    $(".gjj6_p").show();
            });


            $("#cso1").click(function () {
                $("#ur1").removeAttr("disabled");
                $("#ur2").attr("disabled", "disabled");
                $("#ur2").val('');
            })

            $("#cso2").click(function () {
                $("#ur2").removeAttr("disabled");
                $("#ur1").attr("disabled", "disabled");
                $("#ur1").val('');
            })
        });

        function bsubmit() {
            var ips = {
                UserBasic1: parseInt($("#ub1").val()),
                UserBasic2: parseFloat($("#ub2").val()),
                UserBasic3: parseFloat($("#ub3").val()),
                UserBasic4: parseInt($("#ub4").val()),
                UserBasic5: parseInt($("#ub5").val()),
                UserBasic6: parseInt($("#ub6").val()),
                UserBasic7: parseInt($("#ub7").val()),
                UserRequire1: $("#ur1").val() == '' ? null : parseFloat($("#ur1").val()),
                UserRequire2: $("#ur2").val() == '' ? null : parseFloat($("#ur2").val()),
                UserRequire3: parseInt($("#ur3").val()),
                UserRequire4: parseInt($("#ur4").val()),
                Gjj1: parseFloat($("#gjj1").val()),
                Gjj2: parseFloat($("#gjj2").val()),
                Gjj3: parseFloat($("#gjj3").val()),
                Gjj4: parseFloat($("#gjj4").val()),
                Gjj5: parseFloat($("#gjj5").val()),
                Gjj6: parseFloat($("#gjj6").val()),
                Gjj7: parseInt($("#gjj7").val()),
                Gjj8: parseInt($("#gjj8").val()),
                Gjj9: parseInt($("#gjj9").val()),
                Gjj10: parseInt($("#gjj10").val()),
                Gjj11: parseInt($("#gjj11").val()),
                Gjj12: parseInt($("#gjj12").val()),
                Xgxd1: parseInt($("#xgxd1").val()),
                Xgxd2: parseInt($("#xgxd2").val()),
                Xgxd3: parseInt($("#xgxd3").val()),
                Xgxd4: parseInt($("#xgxd4").val()),
            }

            if (ips.UserRequire1 == null && ips.UserRequire2 == null) {
                alert("贷款金额和月还款额至少设置一个");
                return false;
            }

            $("#ipss").val(JSON.stringify(ips));
        }
    </script>
</head>
<body>
    <form id="main" action="@Url.Action("GetPlans")" method="post">
        <fieldset>
            <label>贷款资格认定</label>
            <p>
                <label>户籍身份</label>
                <select id="xgxd4">
                    <option value="0">上海家庭</option>
                    <option value="1">非上海家庭</option>
                </select>
            </p>
            <p>
                <label>婚姻状况</label>
                <select id="xgxd1">
                    <option value="0">单身</option>
                    <option value="1">已婚</option>
                </select>
            </p>
            <p>
                <label>现有住房</label>
                <select id="xgxd2">
                    @for (var i = 0; i <= 4; i++)
                    {
                        <option value="@i">@i 套</option>
                    }
                    <option value="5">5 套及以上</option>
                </select>
            </p>
            <p>
                <label>未结清住房贷款</label>
                <select id="xgxd3">
                    @for (var i = 0; i <= 4; i++)
                    {
                        <option value="@i">@i 套</option>
                    }
                    <option value="5">5 套及以上</option>
                </select>
            </p>
        </fieldset>


        <fieldset>
            <label>客户详情</label>
            <p>
                <label>主贷人年龄</label>
                <select id="ub6">
                    @for (var i = 18; i <= 70; i++)
                    {
                        <option value="@i">@i 岁</option>
                    }
                </select>
            </p>
            <p>
                <label>主贷人性别</label>
                <select id="ub1">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </p>
            <p>
                <label>家庭税后工资收入</label>
                <input id="ub2" type="text" required data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" value="0" /> 元/月
            </p>
            <p>
                <label>买卖合同价格</label>
                <input id="ub3" type="text" required data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" value="0" /> 万
            </p>
            <p>
                <label>竣工时间</label>
                <select id="ub4">
                    @for (var i = DateTime.Now.Year; i >= 1970; i--)
                    {
                        <option value="@i">@i 年</option>
                    }
                </select>
            </p>
            <p>
                <label>房屋类型</label>
                <select id="ub5">
                    <option value="1">普通住宅</option>
                    <option value="2">非普通住宅</option>
                </select>
            </p>
            <p>
                <label>未结清公积金贷款</label>
                <select id="ub7">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </p>
        </fieldset>

        <fieldset>
            <label>公积金信息</label>
            <p>
                <label>本人是否已经连续缴纳6个月</label>
                <select id="gjj7">
                    <option value="1">是</option>
                    <option value="0" selected>否</option>
                </select>
            </p>
            <p class="gjj_benren">
                <label>本人基本公积金月缴额</label>
                <input id="gjj2" type="text" required data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" value="0" /> 元
            </p>
            <p class="gjj_benren">
                <label>本人公积金余额是否有12500</label>
                <select id="gjj11">
                    <option value="1">是</option>
                    <option value="0" selected>否</option>
                </select>
            </p>
            <p class="gjj_benren gjj1_p">
                <label>本人基本公积金余额</label>
                <input id="gjj1" type="text" required data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" value="0" /> 元
            </p>
            <p class="gjj_benren">
                <label>本人是否有补充公积金</label>
                <select id="gjj9">
                    <option value="1">是</option>
                    <option value="0" selected>否</option>
                </select>
            </p>
            <p class="gjj_benren gjj3_p">
                <label>本人补充公积金余额</label>
                <input id="gjj3" type="text" required data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" value="0" /> 元
            </p>

            <p>
                <label>配偶是否已经连续缴纳6个月</label>
                <select id="gjj8">
                    <option value="1">是</option>
                    <option value="0" selected>否</option>
                </select>
            </p>
            <p class="gjj_peiou">
                <label>配偶基本公积金月缴额</label>
                <input id="gjj5" type="text" required data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" value="0" /> 元
            </p>
            <p class="gjj_peiou">
                <label>配偶公积金余额是否有12500</label>
                <select id="gjj12">
                    <option value="1">是</option>
                    <option value="0" selected>否</option>
                </select>
            </p>
            <p class="gjj_peiou gjj4_p">
                <label>配偶基本公积金余额</label>
                <input id="gjj4" type="text" required data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" value="0" /> 元
            </p>
            <p class="gjj_peiou">
                <label>配偶是否有补充公积金</label>
                <select id="gjj10">
                    <option value="1">是</option>
                    <option value="0" selected>否</option>
                </select>
            </p>
            <p class="gjj_peiou gjj6_p">
                <label>配偶补充公积金余额</label>
                <input id="gjj6" type="text" required data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" value="0" /> 元
            </p>
        </fieldset>
        <fieldset>
            <label>客户需求信息</label>
            <p>
                <input type="radio" name="cso" checked id="cso1" />
                <label>贷款金额</label>
                <input id="ur1" type="text" data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change" /> 万
            </p>
            <p>
                <input type="radio" name="cso" id="cso2" />
                <label>月还款额</label>
                <input id="ur2" type="text" data-parsley-type="number" data-parsley-min="0" data-parsley-trigger="change"  disabled/> 元
            </p>
            <p>
                <label>贷款期限</label>
                <select id="ur3">
                    @for (var i = 30; i >= 1; i--)
                    {
                        <option value="@i">@i 年</option>
                    }
                </select>
            </p>
            <p>
                <label>还款方式</label>
                <select id="ur4">
                    <option value="0">等额本息</option>
                    <option value="1">等额本金</option>
                </select>
            </p>
        </fieldset>


        <input type="hidden" name="ipss" id="ipss" />
        <button onclick="return bsubmit()">提交</button>
    </form>
</body>
</html>