﻿@{
    ViewBag.Title = "交易搜索";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="esf-fd-calculator">

    <form action="/Case/CaseStaffSearchIndex?route=enterprise" method="post">
        <div class="calculator-option">
            <dl>
                <input type="text" value="" class="input-txt-100" name="caseId" placeholder="请输入交易编号">
            </dl>
            <dl class="cat-tit">
                物业地址
            </dl>
            <dl style="text-align:left;">
                <dt style="width:50%;">
                    <span class="city-name">上海</span><span class="city-name">上海市</span>
                </dt>
                <dd class="dd-width-50">
                    <select class="select-txt" name="area">
                        <option>宝山区</option>
                        <option>浦东新区</option>
                        <option>黄浦区</option>
                        <option>徐汇区</option>
                        <option>长宁区</option>
                        <option>静安区</option>
                        <option>普陀区</option>
                        <option>闸北区</option>
                        <option>虹口区</option>
                        <option>杨浦区</option>
                        <option>闵行区</option>
                        <option>嘉定区</option>
                        <option>金山区</option>
                        <option>松江区</option>
                        <option>青浦区</option>
                        <option>奉贤区</option>
                        <option>崇明县</option>
                    </select>
                    @*<i class="iconfont">&#xe66a;</i>*@
                </dd>
            </dl>
            <dl>
                <input type="text" value="" class="input-txt-100" name="address" placeholder="请输入详细物业地址">
            </dl>
            <dl>
                <dt>
                    交易状态
                </dt>
                <dd>
                    <select class="select-txt" name="status">
                        <option value="0">全部交易</option>
                        <option value="1">进行中</option>
                        <option value="2">已结案</option>
                    </select>
                    @*<i class="iconfont">&#xe66a;</i>*@
                </dd>
            </dl>
            <dl>
                <dt>
                    签约时间
                </dt>
                <dd>
                    <input type="text" value="" class=" starttime" name="starttime" placeholder="开始日期" readonly="readonly"><i>&ndash;</i>
                    <input type="text" value="" class=" endtime" name="endtime" placeholder="截止日期" readonly="readonly">
                    @*<i class="iconfont">&#xe66a;</i>*@
                </dd>
            </dl>
            @*<dl class="cat-tit">
                    经纪人信息
                </dl>
                <dl>
                    <input type="text" value="" class="input-txt-100" name="staffName" placeholder="姓名">
                </dl>
                <dl>
                    <input type="text" value="" class="input-txt-100" name="staffPhone" placeholder="手机">
                </dl>*@
        </div>

        <div class="calculator-btn">
            <button tyep="submit" class="btn-compute">搜索交易</button>
        </div>
        <input id="route" name="route" type="hidden" value="enterprise" />
    </form>

</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    KISSY.use('node,calendar,calendar/assets/dpl.css', function (S, Node, Calendar) {
        var S_Date = S.Date;
        var startdata, enddate;
        Node.one('.starttime').val("");
        Node.one('.endtime').val("");
        var type = "yyyy-mm-dd";
        new Calendar('.starttime', {
            popup: true,
            triggerType: ['click'],
            closable: true,
            align: { points: ['bl', 'tl'], offset: [-40, 10] }
        }).on('select', function (e) {
            startdata = e.date;
            if (startdata <= enddate || enddate == undefined) {
                Node.one('.starttime').val(S_Date.format(startdata, type));
            } else {
                //alert('结束日期不能小于开始日期');
                Node.one('.starttime').val("");
            }
        });

        new Calendar('.endtime', {
            popup: true,
            triggerType: ['click'],
            closable: true,
            align: { points: ['bl', 'tl'], offset: [-150, 10] }
        }).on('select', function (e) {
            enddate = e.date;
            if (startdata <= enddate || startdata == undefined) {
                Node.one('.endtime').val(S_Date.format(enddate, type));
            } else {
                //alert('结束日期不能小于开始日期');
                Node.one('.endtime').val("");
            }
        });
    });
</script>
<style type="text/css">
    .ks-cal-call-multi-1 {
        width: 228px !important;
    }
</style>