﻿@{
    ViewBag.Title = "交易列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var caseList = Model as List<PinganHouse.SHHTS.WebUI.Models.CaseModel>;
}
<input id="txtStatus" type="hidden" value="@(ViewData["Status"])" />@*状态信息*@
<input id="searchModel" type="hidden" value="@(ViewData["SearchModel"])" />@*搜索信息*@
<div class="esf-transaction-schedule">
    <div class="search-field">
        <a href="/Case/CaseAgentCompanySearch?route=enterprise" class="input-txt"><i class="iconfont">&#xe60a;</i>&nbsp;&nbsp;搜索交易</a>
    </div>
    <div class="tab-bread">
        @{
            var status = 0;
            //判断状态
            int.TryParse(Convert.ToString(ViewData["Status"]), out status);
        }
        <a href="/Case/CaseAgentCompanyIndex?route=enterprise&status=0" class="item @(status == 0 ? "active" : "")">全部</a><a href="/Case/CaseAgentCompanyIndex?route=enterprise&status=1" class="item @(status == 1 ? "active" : "")">进行中</a><a href="/Case/CaseAgentCompanyIndex?route=enterprise&status=2" class="item @(status == 2 ? "active" : "")">已结案</a>
    </div>
    <ul class="transaction-list" id="J_List">
        @{
            if (caseList != null)
            {
                if (caseList.Count == 0)
                {
                    <br />
                    <br />
                    <br />
                    @:
                    <p style="font-size: 15px; text-align: center">亲，您公司尚未有房屋交易哟~</p>     
                }
                else
                {
                    foreach (var caseDto in caseList)
                    {
                        @*<li class="transaction-item">
                                <div class="case-title">
                                    <span class="case-id">交易编号 @(caseDto.CaseId)</span><span class="case-date">@(caseDto.CreateDate)</span>
                                </div>
                                <div class="case-detail">
                                    <p class="case-detail-addr">@(caseDto.TenementAddress)</p>
                                    <div class="case-detail-schedule">
                                        <span class="item">@(caseDto.AuditTaxStutas)</span><i class="line">
                                        </i><span class="item">@(caseDto.ReLoanStutas)</span><i class="line">
                                        </i><span class="item">@(caseDto.LoanStutas)</span>
                                    </div>
                                </div><a href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseDto.CaseId)" class="iconfont case-link">&#xe66a;</a>
                            </li>*@
                        <li class="transaction-item">
                            <a href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseDto.CaseId)">
                                <div class="case-title">
                                    <span class="case-id">交易编号 @(caseDto.CaseId)</span><span class="case-date">@(caseDto.CreateDate)</span>
                                </div>
                                <div class="case-detail">
                                    <p class="case-detail-addr">@(caseDto.TenementAddress)</p>
                                    <div class="case-detail-schedule">
                                        <span class="item">@(caseDto.CurrentCaseStatus)</span>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="iconfont case-link">&#xe66a;</a>
                            </a>
                        </li>
                    }

                }
            }
        }
    </ul>
</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    //是否正在请求
    var isLoading = false;
    //当前页面
    var pageIndex = 1;
    KISSY.use('ajax, event', function (S, IO, Event) {
        function getData() {
            IO({
                url: '/Case/GetAgentCompanyCaseModeAjaxList?route=enterprise',
                type: 'post',
                dataType: "json",
                data: {
                    pageIndex: pageIndex + 1,
                    searchModel: $("#searchModel").val(),
                    status: $("#txtStatus").val(),
                    route: "enterprise"
                },
                beforeSend: function () {
                    isLoading = true;
                },
                success: function (data) {
                    renderScheduleList(data);
                    pageIndex = pageIndex + 1;
                    isLoading = false;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    isLoading = false;
                }
            });
        }

        function renderScheduleList(data) {
            var array = new Array();
            for (var k in data.data) {
                var html = [
                  '<li class="transaction-item">',
                  '<a href="/Case/QYCaseDetails?route=enterprise&caseId=' + data.data[k].CaseId + '&isManager=1">',
                    '<div class="case-title">',
                      '<span class="case-id">案件编号' + data.data[k].CaseId + '</span><span class="case-date"' + data.data[k].CreateDate + '</span>',
                    '</div>',
                    '<div class="case-detail">',
                      '<p class="case-detail-addr">' + data.data[k].TenementAddress + '</p>',
                      '<div class="case-detail-schedule">',
                        '<span class="item">' + data.data[k].CurrentCaseStatus + '</span>',
                      '</div>',
                    '</div>',
                    '<a href="/Case/QYCaseDetails?route=enterprise&caseId=' + data.data[k].CaseId + '&isManager=1" class="iconfont case-link">&#xe66a;</a>',
                  '</a>',
                  '</li>'
                ];
                array.push(html.join(''));
            }
            S.one('#J_List').append(array.join(''));
        }

        // 滚动到页底的时候请求数据
        Event.on(window, 'scroll', function () {
            if ((S.one(window).height() + S.one(window).scrollTop()) >= S.one("body").height()) {

                getData();
            }
        });

    });
</script>
