﻿@{
    ViewBag.Title = "交易详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var caseModel = Model as PinganHouse.SHHTS.WebUI.Models.CaseModel;
    var caseType = Convert.ToString(ViewData["CaseType"]);
    var isManager = Convert.ToInt32(ViewData["IsManager"]);
    var isHide = "visible";
    var isShowMessage = false;
    var message = "贷款";
    switch (caseType)
    {
        case "buyer"://买家贷款
            if (caseModel.Loaned)
            {
                isHide = "collapse";
                isShowMessage = true;
            }
            break;
        case "seller"://卖家还贷
            if (caseModel.ReLoaned)
            {
                isHide = "collapse";
                isShowMessage = true;
                message = "还款";
            }
            break;
        default://默认
            break;
    }
}

<div class="esf-transaction-schedule">

    <div class="tab-bread">
        @{
            switch (caseType)
            {
                case "buyer"://买家贷款
                    <a class="item" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&caseType=taxAudit&isManager=@(isManager)">审税过户</a><a class="item active" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&&caseType=buyer&isManager=@(isManager)">买方贷款</a><a class="item" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&&caseType=seller&isManager=@(isManager)">卖方还款</a>
                    break;
                case "seller"://卖家还贷
                <a class="item" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&caseType=taxAudit&isManager=@(isManager)">审税过户</a><a class="item" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&&caseType=buyer&isManager=@(isManager)">买方贷款</a><a class="item active" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&&caseType=seller&isManager=@(isManager)">卖方还款</a>
                    break;
                default://默认
                <a class="item active" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&caseType=taxAudit&isManager=@(isManager)">审税过户</a><a class="item" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&&caseType=buyer&isManager=@(isManager)">买方贷款</a><a class="item" href="/Case/QYCaseDetails?route=enterprise&caseId=@(caseModel.CaseId)&&caseType=seller&isManager=@(isManager)">卖方还款</a>
                    break;
            }
        }
    </div>
    @{
        if (isShowMessage)
        {
            <div style="text-align:center;margin:15px;">亲，此交易没有办理@(message)业务。</div>
        }
    }
    <ul class="transaction-list" style="visibility:@(isHide)">
        <li class="transaction-item basefix" style="max-height:80px;">
            <div class="case-div">
                <div class="case-title">
                    <span class="case-id no-width">交易编号 @(caseModel.CaseId)</span>
                </div>
                <div class="case-detail no-width">
                    <p class="case-detail-addr">当前进度:@(caseModel.CurrentCaseStatus)</p>
                    <div class="case-detail-schedule">
                        @{
                            if (!string.IsNullOrEmpty(caseModel.NextCaseStatus))
                            {
                                <i style="color:#333;">等待工作:</i>@(caseModel.NextCaseStatus)
                            }
                        }

                    </div>
                </div>
            </div>
        </li>

        <li class="chart-node">
            @{
                switch (caseType)
                {
                    case "buyer"://买家贷款
                        @Html.Partial("CaseCtrl/LoanCtrl", caseModel.DicEvent)
                        break;
                    case "seller"://卖家还贷
                    @Html.Partial("CaseCtrl/ReLoanCtrl", caseModel.DicEvent)
                        break;
                    default://默认
                    @Html.Partial("CaseCtrl/TaxAuditCtrl", caseModel)
                        break;
                }
            }
        </li>

        <li class="detail-tit">物业详情</li>
        <li class="detail-item basefix">
            <span class="th">产权证</span><span class="td">@(caseModel.TenementContract)</span>
        </li>
        <li class="detail-item basefix">
            <span class="th">权利人</span><span class="td">@(caseModel.SellerName)</span>
        </li>
        <li class="detail-item basefix">
            <span class="th">楼盘名</span><span class="td">@(caseModel.TenementName)</span>
        </li>
        <li class="detail-item basefix">
            <span class="th">地址</span><span class="td">@(caseModel.TenementAddress)</span>
        </li>
        <li class="detail-item basefix">
            <span class="th">面积</span><span class="td">@(caseModel.CoveredArea)平米</span>
        </li>
    </ul>
</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>

</script>
