﻿@{
    ViewBag.Title = "进度详情";
}
@model PinganHouse.SHHTS.WebUI.Models.CaseProcessModel

<meta charset="utf-8" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style type="text/css">
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        max-width: 640px;
    }

    #head {
        font-size: 20px;
        font-weight: bold;
        margin: 20px;
    }

    #main {
        border: 1px solid #ccc;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }

        #main div {
            margin-top: 15px;
            margin-left: 15px;
            margin-bottom: 10px;
        }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-left: 1px solid #CECECE;
        border-top: 1px solid #CECECE;
        background: #f2f2f2;
        width: 95%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    td {
        border-right: 1px solid #CECECE;
        border-bottom: 1px solid #CECECE;
        height: 35px;
        background-color: #FFF;
        vertical-align: middle;
        text-align:center;
        min-width:35px;
    }

    th {
        border-right: 1px solid #CECECE;
        border-bottom: 1px solid #CECECE;
        font-weight: bold;
        height: 35px;
        color: #666666;
    }
</style>

<div>
    <div id="head">
        <div>办理流程状态</div>
        <div>@Model.SendDate</div>
    </div>
    <div id="main">
        <div>已完成流程：@Model.PreProcess</div>
        <div>待办理流程：@Model.NextProcess</div>
        <div>预计完成时间：@Model.NextDate</div>
        <div>办理地址：@Model.Address</div>
    </div>
    <div id="details" style="margin-top:50px;">
        @(new HtmlString(Model.Material))
    </div>
    <div id="space" style="margin-top:50px;">
    </div>
</div>

<script>
    $(function () {
        $("#details table tr").each(function (i) {
            if (i > 0) {
                $(this).find("td").each(function (j) {
                    if (j == 1)
                        $(this).css("text-align", "left");
                });
            }
        });
    });
</script>