﻿@{
    ViewBag.Title = "编辑资源";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:25px;margin-top:25px;line-height:25px;">
    <input id="sysNo" type="hidden" />   
    <div>资源名称：<input id="resourceName" class="easyui-validatebox textbox" type="text" data-options="required:true"/></div>
     <div>资源组别：<input id="groupName"  type="text" /></div>
    <div>资源说明：<br/><textarea id="resourcDescribe" cols="28" rows="4"></textarea></div>
</div>
