﻿@{
    ViewBag.Title = "资源列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="width:90%;">
    <div id="gataGridResource"></div>
</div>
<div id="w"></div>
<div id="tt" style="padding-left: 8px;">
   <input class="easyui-searchbox" data-options="prompt:' 请输入资源名称模糊快速查询',searcher:doSearch" style="width:300px"></input>
</div>
<script>
    var toolbar = [{
        text: '新增资源',
        iconCls: 'icon-add',
        handler: function () {
            addResource();
        }
    }, '-', {
        text: '编辑资源',
        iconCls: 'icon-edit',
        handler: function () {
            var row = $('#gataGridResource').datagrid('getSelected');
            if (row) {
                eidtResource(row.SysNo);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }            
        }
    }, '-', {
        text: '删除资源',
        iconCls: 'icon-remove',
        handler: function () {
            var row = $('#gataGridResource').datagrid('getSelected');
            if (row) {
                delResource(row.SysNo);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }           
        }
    }];
    
    var dtoolbar = [{
        text: '保存',
        iconCls: 'icon-save',
        handler: function () {
            saveResource();
        }
    }, '-', {
        text: '取消',
        iconCls: 'icon-edit',
        handler: function () {
            $("#w").dialog("close");
        }
    }];

    // 获取iframe大小
    function getWidthAndHeigh() {
        var windowHeight = 0;
        var widowWidth = 0;
        if (typeof (window.innerHeight) == 'number') {
            windowHeight = window.innerHeight;
            widowWidth = window.innerWidth;
        }
        else {
            if (document.documentElement && document.documentElement.clientHeight) {
                windowHeight = document.documentElement.clientHeight;
                widowWidth = document.documentElement.clientWidth;
            }
            else {
                if (document.body && document.body.clientHeight) {
                    windowHeight = document.body.clientHeight;
                    widowWidth = document.body.clientWidth;
                }
            }
        }
        return { width: widowWidth, height: windowHeight };
    }

    $(function () {
        
        var size = getWidthAndHeigh();
        //加载数据  
        $('#gataGridResource').datagrid({
            widht: 'auto',
            height: size.height - 80,
            url: '/Admin/Resource/GetResourceList',
            loadMsg: '数据加载中请稍后……',
            toolbar: toolbar,
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            remoteSort:false,
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'ApplicationsName', title: '应用程序', align: 'left', width: 120 },
                { field: 'ResourceNo', title: '资源编号', align: 'left', sortable:true,width: 150 },
                { field: 'ResourceName', title: '资源名称', align: 'left', width: 180 },
                { field: 'GroupName', title: '资源组', align: 'left', width: 100 },
                { field: 'ResourcDescribe', title: '资源说明', align: 'left', width: 250 },
                { field: 'CreateDate', title: '创建时间', align: 'left', sortable: true, width: 150 },
                { field: 'ModifyDate', title: '更新时间', align: 'left', sortable: true, width: 150 },
                {
                    field: 'opt', title: '操作', width: 150, align: 'center',
                    formatter: function (value, row,index) {
                        var e = '<a href="#" class="editcls" onclick="eidtResourceByIndex(\'' + index + '\')">编辑</a> ';
                        e = e + '<a href="#" class="delcls" onclick="delResource(\'' + row.SysNo + '\')">删除</a>';
                        return e;
                    }
                }
            ]],
            onLoadSuccess: function () {
                $('.editcls').linkbutton({ text: '编辑', plain: true, iconCls: 'icon-edit' });
                $('.delcls').linkbutton({ text: '删除', plain: true, iconCls: 'icon-remove' });
            },
            onClickRow: function (rowIndex, rowData) {
                if (!rowData) return;
            }
        });
       $('#tt').appendTo('.datagrid-toolbar');
    });

    //添加资源
    function addResource() {
        $("#w").dialog({
            title: '编辑资源',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/Resource/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/Resource/GetResource',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        SysNo: 0
                    },
                    success: function (opt) {
                        $("#sysNo").val(0);
                        $("#groupName").val(opt.GroupName);
                        $("#resourceName").val(opt.ResourceName);
                        $("#resourcDescribe").val(opt.ResourcDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }
    
    //编辑资源
    function eidtResourceByIndex(index) {
        $('#gataGridResource').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridResource').datagrid('getSelected');
        $("#w").dialog({
            title: '编辑资源',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/Resource/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/Resource/GetResource',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (opt) {
                        $("#sysNo").val(opt.SysNo);
                        $("#groupName").val(opt.GroupName);
                        $("#resourceName").val(opt.ResourceName);
                        $("#resourcDescribe").val(opt.ResourcDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }
    
    //编辑资源
    function eidtResource(sysNo) {
        $("#w").dialog({
            title: '编辑资源',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/Resource/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/Resource/GetResource',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: sysNo
                    },
                    success: function (opt) {
                        $("#sysNo").val(opt.SysNo);
                        $("#groupName").val(opt.GroupName);
                        $("#resourceName").val(opt.ResourceName);
                        $("#resourcDescribe").val(opt.ResourcDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }
    
    //保存资源
    function saveResource() {
        var resource = {};
        resource.SysNo = $("#sysNo").val();
        resource.GroupName = $("#groupName").val();
        resource.ResourceName = $("#resourceName").val();              
        resource.ResourcDescribe = $("#resourcDescribe").val();
        $.ajax({
            url: '/Admin/Resource/SaveResource',
            type: "POST",
            datatype: 'json',
            data: {
                resource:JSON.stringify(resource)
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统消息', '当前操作保存成功!', 'info',function() {
                        $("#w").dialog("close");
                        $("#gataGridResource").datagrid('reload');
                    });
                } else {
                    $.messager.alert('系统消息', '很抱歉,当前操作保存失败!', 'info');
                }

            },
            error: function () {
                $.messager.alert('系统错误', '很抱歉,当前操作保存错误!', 'error');
            }
        });
    }
    
    //删除资源
    function delResource(index) {
        $('#gataGridResource').datagrid('selectRow', index);// 关键在这里
        $.messager.confirm('系统确认', '确定删除当前记录吗?', function (r) {
            if (r) {
                $.ajax({
                    url: '/Admin/Resource/DelResource',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: index
                    },
                    success: function () {
                        $("#gataGridResource").datagrid('reload');
                    },
                    error: function () {
                        $.messager.alert('系统错误', '很抱歉,当前操作保存失败!', 'error');
                    }
                });
            }
        });
    }
    //搜索
    function doSearch(value) {
        if (value.length > 0) {
            $('#gataGridResource').datagrid('reload', {
                filter: value
            });
        }
    }
</script>