﻿@{
    ViewBag.Title = "资源/证书配置";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="width:90%" id="main-content">
    <div class="easyui-layout" style="width: 100%;min-height:780px;">
        <div data-options="region:'north'" style="height:35px">
            <b style="padding: 10px;line-height: 25px;">点击左侧资源列表为每个资源添加相对应的证书并赋上对应的权限</b>
        </div>
        <div data-options="region:'west',split:true,collapsible:false" title="资源列表" style="width:450px;">
            <div id="gataGridResource"></div>
        </div>
        <div data-options="region:'center',title:'资源对应证书列表+规则',iconCls:'icon-ok'">
            <div id="gataGridResourceRelation"></div>
        </div>
    </div>
</div>
<div id="w"></div>
@*<div id="tt" style="padding-left: 8px;">
    
</div>*@
<div id="tb" style="padding:5px;height:auto">
    <input class="easyui-searchbox" data-options="prompt:' 请输入资源名称模糊快速查询',searcher:doSearch" style="width:300px"></input>
</div>
<script>
    var toolbar = [
        {
            text: '新增证书',
            iconCls: 'icon-add',
            handler: function() {
                addCredentialsToResource();
            }
        }, '-',
        {
            text: '保存',
            iconCls: 'icon-save',
            handler: function() {
                SetCredentialsRulesListToResource();
            }
        }];
    
    var dtoolbar = [{
        text: '确定',
        iconCls: 'icon-save',
        handler: function () {
            saveCredentialsToResource();
        }
    }, '-', {
        text: '取消',
        iconCls: 'icon-edit',
        handler: function () {
            $("#w").dialog("close");
        }
    }];

    $(function () {
                
        var jsonLimitsRules = [
            { "key": 0, "value": "未分配" },
            { "key": -1, "value": "拒绝" },
            { "key": 1, "value": "允许" }
        ];
        
        //加载数据  
        $('#gataGridResource').datagrid({
            fit: true,
            url: '/Admin/Resource/GetResourceList',
            loadMsg: '数据加载中请稍后……',
            toolbar: '#tb',
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'ResourceNo', title: '资源编号', align: 'left', width: 150 },
                { field: 'ResourceName', title: '资源名称', align: 'left', width: 180 }
            ]],
            onClickRow: function(rowIndex, rowData) {
                if (!rowData) return;
                endEditing();
                $('#gataGridResourceRelation').datagrid('load', {
                    resource: rowData.SysNo
                });
            }
        });
        //加载数据  
        $('#gataGridResourceRelation').datagrid({
            fit: true,
            url: '/Admin/Resource/GetCredentialsListInResource',
            loadMsg: '数据加载中请稍后……',
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            toolbar: toolbar,
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'CredentialsName', title: '证书名称', align: 'left', width: 180 },
                {
                    field: 'LimitsRules', title: '访问规则', width: 100,
                    formatter: function (key) {
                        for (var i = 0; i < jsonLimitsRules.length; i++) {
                            if (jsonLimitsRules[i].key == key) return jsonLimitsRules[i].value;
                        }
                        return key;
                    },
                    editor: {
                        type: 'combobox',
                        options: {
                            valueField: 'key',
                            textField: 'value',
                            data: jsonLimitsRules,
                            panelHeight:'auto',
                            required: true
                        }
                    }
                },
                { field: 'ModifyDate', title: '更新时间', align: 'left', width: 180 },
                {
                    field: 'opt', title: '操作', width: 150, align: 'center',
                    formatter: function (value, row, index) {
                        var e = '<a href="#" class="editcls" onclick="delCredentialsInResource(\'' + index + '\')">移除</a> ';
                        return e;
                    }
                }
            ]],
            onLoadSuccess: function () {
                $('.editcls').linkbutton({ text: '移除', plain: true, iconCls: 'icon-cut' });
            },
            onClickRow: function (index) {
                onClickRow(index);
            },
            onAfterEdit: function (index, row) {
                row.editing = false;
                $('.editcls').linkbutton({ text: '移除', plain: true, iconCls: 'icon-cut' });
            }
        });
    });

    //给资源添加证书
    function addCredentialsToResource() {
        var row = $('#gataGridResource').datagrid('getSelected');
        if (!row) return;
        $("#w").dialog({
            title: '选择证书',
            toolbar: dtoolbar,
            width: 500,
            height: 400,
            href: '/Admin/Credentials/CredentialsIndex?resource=' + row.SysNo,
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true
        });
        $("#w").dialog("open");
    }

    //保存资源持有证书
    function saveCredentialsToResource() {
        var rows = $('#credentialsList').datagrid('getSelections');
        if (rows.length == 0) return;
        var credentialsList = [];
        for (var i = 0; i < rows.length; i++) {
            var credentials = {};
            credentials.SysNo = rows[i].SysNo;
            credentials.CredentialsName = rows[i].CredentialsName;
            credentialsList.push(credentials);
        }
        
        var resourceRow = $('#gataGridResource').datagrid('getSelected');
        var resource = {};
        resource.SysNo = resourceRow.SysNo;
        resource.ResourceName = resourceRow.ResourceName;

        $.ajax({
            url: '/Admin/Resource/AddCredentialsListToResource',
            type: "POST",
            datatype: 'json',
            data: {
                resource: JSON.stringify(resource),
                credentialsList: JSON.stringify(credentialsList)
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统消息', '当前操作保存成功!', 'info', function () {
                        $("#w").dialog("close");
                        $("#gataGridResourceRelation").datagrid('reload');
                    });
                } else {
                    $.messager.alert('系统消息', '很抱歉,当前操作保存失败!', 'info');
                }

            },
            error: function () {
                $.messager.alert('系统错误', '很抱歉,当前操作保存错误!', 'error');
            }
        });
    }
    
    //移除证书
    function delCredentialsInResource(index) {
        $('#gataGridResourceRelation').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridResourceRelation').datagrid('getSelected');
        $.messager.confirm('系统提示', '确定移除当前选择的证书?', function (r) {
            if (r) {
                $.ajax({
                    url: '/Admin/Resource/RemoveCredentialsInResource',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (opt) {
                        if (opt) {
                            $.messager.alert('系统提示', '移除证书成功!', 'info');
                            $('#gataGridResourceRelation').datagrid('reload');
                        } else {
                            $.messager.alert('系统提示', '很抱歉,移除证书操作失败!', 'info');
                        }
                    },
                    error: function () {
                        $.messager.alert('系统错误', '很抱歉,移除操作发生错误!', 'error');
                    }
                });
            }
        });
    }
    
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true; }
        if ($('#gataGridResourceRelation').datagrid('validateRow', editIndex)) {
            var ed = $('#gataGridResourceRelation').datagrid('getEditor', { index: editIndex, field: 'LimitsRules' });
            var value = $(ed.target).combobox('getText');
            $('#gataGridResourceRelation').datagrid('getRows')[editIndex]['LimitsRules'] = value;
            $('#gataGridResourceRelation').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#gataGridResourceRelation').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#gataGridResourceRelation').datagrid('selectRow', editIndex);
            }
        }
    }

    //设置证书访问规则
    function SetCredentialsRulesListToResource() {        
        endEditing();
        var rows = $('#gataGridResourceRelation').datagrid('getChanges');
        if (rows.length == 0) return;
        
        $.ajax({
            url: '/Admin/Resource/AddCredentialsRulesListToResource',
            type: "POST",
            datatype: 'json',
            data: {
                rulesList: JSON.stringify(rows)                
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统提示', '访问规则设置成功!', 'info');
                    $('#gataGridResourceRelation').datagrid('reload');
                } else {
                    $.messager.alert('系统提示', '很抱歉,设置访问规则保存失败!', 'info');
                }
            },
            error:function() {
                $.messager.alert('系统错误', '很抱歉,设置访问规则发生错误!', 'error');
            }
        });
    }
    //搜索
    function doSearch(value) {
        $('#gataGridResource').datagrid('reload', {
            filter: value
        });
    }
</script>