﻿@{
    ViewBag.Title = "编辑主体";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:25px;margin-top:25px;line-height:25px;">
    <input id="sysNo" type="hidden" />
    <div>主体编号：<input id="principalPartNo" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>主体名称：<input id="principalPartName" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>主体说明：<br/><textarea id="principalPartDescribe" cols="28" rows="4"></textarea></div>
</div>
