﻿@{
    ViewBag.Title = "权限主体";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="width:90%;">
    <div id="gataGridPrincipalPart"></div>
</div>
<div id="w"></div>
<div id="tt" style="padding-left: 8px;">
   <input class="easyui-searchbox" data-options="prompt:' 请输入主体名称模糊快速查询',searcher:doSearch" style="width:300px"></input>
</div>
<script>
    var toolbar = [{
        text: '新增主体',
        iconCls: 'icon-add',
        handler: function () {
            addPrincipalPart();
        }
    }, '-', {
        text: '编辑主体',
        iconCls: 'icon-cut',
        handler: function () {
            var row = $('#gataGridPrincipalPart').datagrid('getSelected');
            if (row) {
                var index = $('#gataGridPrincipalPart').datagrid('getRowIndex', row);
                eidtPrincipalPart(index);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }
        }
    }, '-', {
        text: '删除主体',
        iconCls: 'icon-remove',
        handler: function () {
            var row = $('#gataGridPrincipalPart').datagrid('getSelected');
            if (row) {
                var index = $('#gataGridPrincipalPart').datagrid('getRowIndex', row);
                delPrincipalPart(index);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }
        }
    }];

    var dtoolbar = [{
        text: '保存',
        iconCls: 'icon-save',
        handler: function () {
            savePrincipalPart();
        }
    }, '-', {
        text: '取消',
        iconCls: 'icon-edit',
        handler: function () {
            $("#w").dialog("close");
        }
    }];

    // 获取iframe大小
    function getWidthAndHeigh() {
        var windowHeight = 0;
        var widowWidth = 0;
        if (typeof (window.innerHeight) == 'number') {
            windowHeight = window.innerHeight;
            widowWidth = window.innerWidth;
        }
        else {
            if (document.documentElement && document.documentElement.clientHeight) {
                windowHeight = document.documentElement.clientHeight;
                widowWidth = document.documentElement.clientWidth;
            }
            else {
                if (document.body && document.body.clientHeight) {
                    windowHeight = document.body.clientHeight;
                    widowWidth = document.body.clientWidth;
                }
            }
        }
        return { width: widowWidth, height: windowHeight };
    }


    $(function () {
        
        var size = getWidthAndHeigh();
        //加载数据  
        $('#gataGridPrincipalPart').datagrid({
            widht: 'auto',
            height: size.height - 80,
            url: '/Admin/PrincipalPart/GetPrincipalPartList',
            loadMsg: '数据加载中请稍后……',
            toolbar: toolbar,
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'PrincipalPartNo', title: '主体编号', align: 'left', width: 150 },
                { field: 'PrincipalPartName', title: '主体名称', align: 'left', width: 180 },
                { field: 'PrincipalPartDescribe', title: '主体说明', align: 'left', width: 250 },
                { field: 'ApplicationsName', title: '应用程序', align: 'left', width: 100 },
                { field: 'CreateDate', title: '创建时间', align: 'left', width: 150 },
                { field: 'ModifyDate', title: '更新时间', align: 'left', width: 150 },
                {
                    field: 'opt', title: '操作', width: 150, align: 'center',
                    formatter: function (value, row, index) {
                        var e = '<a href="#" class="editcls" onclick="eidtPrincipalPart(\'' + index + '\')">编辑</a> ';
                        e = e + '<a href="#" class="delcls" onclick="delPrincipalPart(\'' + index + '\')">删除</a>';
                        return e;
                    }
                }

            ]],
            onLoadSuccess: function () {
                $('.editcls').linkbutton({ text: '编辑', plain: true, iconCls: 'icon-edit' });
                $('.delcls').linkbutton({ text: '删除', plain: true, iconCls: 'icon-remove' });
            },
            onClickRow: function (rowIndex, rowData) {
                if (!rowData) return;
            }
        });
        $('#tt').appendTo('.datagrid-toolbar');
    });
    
    function addPrincipalPart() {
        $("#w").dialog({
            title: '编辑主体',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/PrincipalPart/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/PrincipalPart/GetPrincipalPart',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        SysNo: 0
                    },
                    success: function (opt) {
                        $("#sysNo").val(0);
                        $("#principalPartNo").val(opt.PrincipalPartNo);
                        $("#principalPartName").val(opt.PrincipalPartName);
                        $("#principalPartDescribe").val(opt.PrincipalPartDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }
    
    //删除主体
    function delPrincipalPart(index) {
        $('#gataGridPrincipalPart').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridPrincipalPart').datagrid('getSelected');
        $.messager.confirm('系统确认', '确定删除当前记录吗?', function (r) {
            if (r) {
                $.ajax({
                    url: '/Admin/PrincipalPart/DelPrincipalPart',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function () {
                        $("#gataGridPrincipalPart").datagrid('reload');
                    },
                    error: function () {
                        $.messager.alert('系统错误', '很抱歉,当前操作保存失败!', 'error');
                    }
                });
            }
        });
    }

    //编辑主体
    function eidtPrincipalPart(index) {
        $('#gataGridPrincipalPart').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridPrincipalPart').datagrid('getSelected');
        $("#w").dialog({
            title: '编辑主体',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/PrincipalPart/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/PrincipalPart/GetPrincipalPart',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (opt) {
                        $("#sysNo").val(opt.SysNo);
                        $("#principalPartNo").val(opt.PrincipalPartNo);
                        $("#principalPartName").val(opt.PrincipalPartName);
                        $("#principalPartDescribe").val(opt.PrincipalPartDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }

    
    //保存主体
    function savePrincipalPart() {
        var principalPart = {};
        principalPart.SysNo = $("#sysNo").val();
        principalPart.PrincipalPartNo = $("#principalPartNo").val();
        principalPart.PrincipalPartName = $("#principalPartName").val();
        principalPart.PrincipalPartDescribe = $("#principalPartDescribe").val();
        $.ajax({
            url: '/Admin/PrincipalPart/SavePrincipalPart',
            type: "POST",
            datatype: 'json',
            data: {
                principalPart: JSON.stringify(principalPart)
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统消息', '当前操作保存成功!', 'info', function () {
                        $("#w").dialog("close");
                        $("#gataGridPrincipalPart").datagrid('reload');
                    });
                } else {
                    $.messager.alert('系统消息', '很抱歉,当前操作保存失败!', 'info');
                }

            },
            error: function () {
                $.messager.alert('系统错误', '很抱歉,当前操作保存错误!', 'error');
            }
        });
    }
    
    //搜索
    function doSearch(value) {
        if (value.length > 0) {
            $('#gataGridPrincipalPart').datagrid('reload', {
                filter: value
            });
        }
    }
</script>