﻿@{
    ViewBag.Title = "主体/证书设置";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="width:95%;">
    <div class="easyui-layout" style="width:95%;min-height:750px;">
        <div data-options="region:'north'" style="height:35px">
            <b style="padding: 10px;line-height: 25px;">点击左侧主体列表为每个主体添加相对应的持有证书</b>
        </div>
        <div data-options="region:'west',split:true,collapsible:false" title="主体列表" style="width:450px;">
            <div id="gataGridPrincipalPart"></div>
        </div>
        <div data-options="region:'center',title:'主体持有证书列表',iconCls:'icon-ok'">
            <div id="gataGridPrincipalPartRelation"></div>
        </div>
    </div>
</div>
<div id="w"></div>
<script>
    var toolbar = [
        {
            text: '添加证书',
            iconCls: 'icon-add',
            handler: function() {
                addCredentialsToPrincipalPart();
            }
        }];

    var dtoolbar = [{
            text: '确定',
            iconCls: 'icon-save',
            handler: function() {
                saveCredentialsToPrincipalPart();
            }
        }, '-', {
            text: '取消',
            iconCls: 'icon-edit',
            handler: function() {
                $("#w").dialog("close");
            }
        }];

    $(function() {
        //加载数据  
        $('#gataGridPrincipalPart').datagrid({
            fit: true,
            url: '/Admin/PrincipalPart/GetPrincipalPartList',
            loadMsg: '数据加载中请稍后……',
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'PrincipalPartNo', title: '主体编号', align: 'left', width: 150 },
                { field: 'PrincipalPartName', title: '主体名称', align: 'left', width: 180 }
            ]],
            onClickRow: function(rowIndex, rowData) {
                if (!rowData) return;
                $('#gataGridPrincipalPartRelation').datagrid('load', {
                    principalPart: rowData.SysNo
                });
            }
        });

        //加载数据  
        $('#gataGridPrincipalPartRelation').datagrid({
            fit: true,
            url: '/Admin/PrincipalPart/GetCredentialsListInPrincipalPart',
            loadMsg: '数据加载中请稍后……',
            toolbar: toolbar,
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'CredentialsName', title: '证书名称', align: 'left', width: 180 },
                { field: 'CreateDate', title: '创建时间', align: 'left', width: 150 },
                { field: 'ModifyDate', title: '更新时间', align: 'left', width: 150 },
                {
                    field: 'opt', title: '操作', width: 150, align: 'center',
                    formatter: function (value, row, index) {
                        var e = '<a href="#" class="editcls" onclick="delCredentialsInPrincipalPart(\'' + index + '\')">移除</a> ';
                        return e;
                    }
                }
            ]],
            onLoadSuccess: function () {
                $('.editcls').linkbutton({ text: '移除', plain: true, iconCls: 'icon-cut' });
            },
            onClickRow: function(rowIndex, rowData) {
                if (!rowData) return;
            }
        });

    });

    //给资源添加证书

    function addCredentialsToPrincipalPart() {
        var row = $('#gataGridPrincipalPart').datagrid('getSelected');
        if (!row) {
            $.messager.alert('系统消息', '请先选择主体!', 'info');
             return;
        }
        $("#w").dialog({
            title: '选择证书',
            toolbar: dtoolbar,
            width: 500,
            height: 400,
            href: '/Admin/Credentials/CredentialsOutPrincipalPart?principalPart=' + row.SysNo,
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true
        });
        $("#w").dialog("open");
    }

    //未主体添加持有证书
    function saveCredentialsToPrincipalPart() {
        var rows = $('#credentialsList').datagrid('getSelections');
        if (rows.length == 0) return;
        var credentialsList = [];
        for (var i = 0; i < rows.length; i++) {
            var credentials = {};
            credentials.SysNo = rows[i].SysNo;
            credentials.CredentialsName = rows[i].CredentialsName;
            credentialsList.push(credentials);
        }

        var principalPartRow = $('#gataGridPrincipalPart').datagrid('getSelected');
        var principalPart = {};
        principalPart.SysNo = principalPartRow.SysNo;
        principalPart.PrincipalPartRowName = principalPartRow.PrincipalPartRowName;

        $.ajax({
            url: '/Admin/PrincipalPart/AddCredentialsListToPrincipalPart',
            type: "POST",
            datatype: 'json',
            data: {
                principalPart: JSON.stringify(principalPart),
                credentialsList: JSON.stringify(credentialsList)
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统消息', '当前操作保存成功!', 'info', function () {
                        $("#w").dialog("close");
                        $("#gataGridPrincipalPartRelation").datagrid('reload');
                    });
                } else {
                    $.messager.alert('系统消息', '很抱歉,当前操作保存失败!', 'info');
                }

            },
            error: function () {
                $.messager.alert('系统错误', '很抱歉,当前操作保存错误!', 'error');
            }
        });
    }

    //移除证书
    function delCredentialsInPrincipalPart(index) {
        $('#gataGridPrincipalPartRelation').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridPrincipalPartRelation').datagrid('getSelected');
        $.messager.confirm('系统提示', '确定移除当前选择的证书?', function (r) {
            if (r) {
                $.ajax({
                    url: '/Admin/PrincipalPart/RemoveCredentialsInPrincipalPart',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (opt) {
                        if (opt) {
                            $.messager.alert('系统提示', '移除证书成功!', 'info');
                            $('#gataGridPrincipalPartRelation').datagrid('reload');
                        } else {
                            $.messager.alert('系统提示', '很抱歉,移除证书操作失败!', 'info');
                        }
                    },
                    error: function () {
                        $.messager.alert('系统错误', '很抱歉,移除操作发生错误!', 'error');
                    }
                });
            }
        });
    }


</script>