﻿@charset "utf-8";
/* CSS Document */

body {
font-family:Microsoft Yahei;
padding-bottom: 40px;
}
a{
text-decoration:none;
}
ul,li{
margin:0;
padding:0;
}

.loading {
background: transparent url(http://file.pinganfang.com/view/banner/194ed5c0269740467ca2fdd0ebf5c2cd35f8fc5d.gif) no-repeat center;
height: 50px !important;
}
.loading-v2 {
  display: none;
  background-color: #fff;
  opacity: 0.8;
  width:100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
}
.loading-v2 .icon-loading{
  display: block;
  position: absolute;
  left: 50%;
  margin:-16px 0 0 -16px;
  top:50%;
}
.wxh_main{
  margin:0 auto;
  position:relative;
  background:#fff;
}
/*
*资金台账页面样式
*/
.top_main{
height:75px;
overflow:hidden;
zoom:1;
position:relative;
border:1px #c7c7c7 solid;
}
.top_main .c_left{
float:left;
padding-left:10px;

}
.top_main .c_left p{
width:200px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
margin:0 auto;
}
.top_main .c_left .id_case{
font-size:14px;
line-height:28px;
color:#333;
}
.top_main .c_left .addr_case,.top_main .c_left .price_case{
font-size:13px;
line-height:23px;
color:#666;
}
.top_main .c_right{
float:right;
position:absolute;
right:12px;
top:35px;
}
.top_main .c_right a{
font-size:13px;
text-decoration:none;
color:#666;
}
.top_main .c_right i{
font-size:14px;
font-weight:bold;
color:#666;
padding-left:5px;
}
.bill_tab {
text-align:center;
margin:0 auto;
}
.bill_tab table{
text-align:center;
margin:0 auto;
width:90%;
}
.bill_tab thead,.bill_tab thead th{
font-family:Microsoft Yahei;
font-size:14px;
font-weight:normal;
line-height:20px;
color:#666;
padding-top:10px;
}
.bill_tab tbody::before
{
 content: '';
 display: block;
 height: 7px;
}
.bill_tab tbody th{
border-collapse: collapse;
border-top:1px #c7c7c7 solid;
border-bottom:1px #c7c7c7 solid;
border-left:1px #c7c7c7 solid;
border-right:1px #dedede solid;
width:13px;
font-family:Microsoft Yahei;
font-size:13px;
font-weight:normal;
line-height:30px;
color:#333;
padding:0px 10px;
}
.bill_tab tbody td{
font-family:Microsoft Yahei;
font-size:14px;
font-weight:normal;
line-height:30px;
color:#666;
padding:0px 8px;
text-align:left;
border-right:1px #dedede solid;
white-space:nowrap;
}
.bill_tab tbody td:last-child{
border-right:1px #c7c7c7 solid;
}
.bill_tab tbody tr:last-child td{
border-bottom:1px #c7c7c7 solid;
border-top:1px #dedede solid;
}
.bill_tab tbody tr:first-child td{

border-top:1px #c7c7c7 solid;
}
.bill_tab tbody:nth-child(odd) tr td{
background:#f6f6f6;
}
.bill_tab tbody:nth-child(even) tr td{
background:#fff;
}
/*
*交易清单页面样式
*/
.trade_tab {
position:fixed;
 width:100%;
 background:#efefef;
 height:44px;
 border-top:1px #c7c7c7 solid;
  border-bottom:1px #c7c7c7 solid;
 z-index:55;
 }
.trade_tab ul{
   width:100%;
	height:42px;
    display: -moz-box;
    display: -webkit-box;
    display: box;

 }
.trade_tab li {
height:42px;
padding:10px 20px 0px 20px;
list-style:none;
 -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
	text-align:center;
}
.trade_tab li a{
display:block;
height:32px;
color:#000;
font-size:14px;
line-height:19px;

}
.trade_tab li a.selected{
color:#ff6b31;
border-bottom:2px #ff6b31 solid;

}
.trade_tab li a:hover{
color:#ff6b31;
border-bottom:2px #ff6b31 solid;

}

.trade_list {
padding:46px 9px 10px 9px;

}
.trade_list a{
display:block;

}

.list_item1{
border-bottom:1px #e5e5e5 solid;
padding:5px ;
}
.list_item1 dt{
font-size:16px;
font-weight:normal;
line-height:21px;
overflow:hidden;
color:#343434;
padding-bottom:5px;
}
.list_item1 dt span:first-child{
float:left;
}
.list_item1 dt span:last-child{

float:right;
}
.list_item1 dd{
font-size:14px;
line-height:19px;
color:#9a9a9a;
overflow:hidden;
}
.list_item1 dd span:first-child{
float:left;
}
.list_item1 dd span:last-child{

float:right;
}
/*
*交易详情页面样式
*/
.trade_detail_head{
margin:0 auto;
height:33px;
width:99%;
background:#efefef;
border:1px #c8c8c8 solid;
border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
-webkit-border-radius:5px;
background:#efefef;

}
.trade_detail_head h1{
margin:0 auto;
text-align:center;
height:33px;
line-height:33px;
font-size:15px;
color:#333;
}
.trade_detail_list{
margin:0 auto;
width:90%;
}
.trade_detail_list table{
margin:0 auto;
width:100%;
}
.trade_detail_list table tr{

}
.trade_detail_list table th{
text-align:left;
font-size:14px;
font-weight:normal;
color:#9c9c9c;
padding:10px 0px;
width:60px;

}

.trade_detail_list table td{
text-align:right;
font-size:14px;
font-weight:normal;
color:#333;
width:210px;
max-width:210px;
/*white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;*/
padding:3px 0px;
}
.trade_detail_list table tr:last-child td{

font-size:29px;
font-weight:normal;
color:#333;
}
.border_show{
border-bottom:1px #ccc solid;
}


/*苹果按钮*/
.btn-ios-switch {
  position: absolute;
  top:50%;
  margin-top: -11px;
  right: 0px;
}
.ios-switch{
  position: absolute;
  opacity: 0;
}
input[type="checkbox"].ios-switch + div{
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
}
input[type="checkbox"].ios-switch:checked + div{
  width: 40px;
  background-position: 0 0;
  background-color: #3b89ec;
  border: 1px solid #0e62cd;
  box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}
input[type="checkbox"].green.ios-switch:checked + div{
  background-color: #00e359;
  border: 1px solid rgba(0, 162, 63,1);
  box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}
input[type="checkbox"].ios-switch + div > div{
  float: left;
  width: 18px;
  height: 18px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}
input[type="checkbox"].ios-switch:checked + div > div{
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/*交易进度*/
.hide{
  display: none;
}
.esf-transaction-schedule .search-field {
  width: 100%;
  text-align: center;
}
.esf-transaction-schedule .search-field .input-txt {
  display: block;
  border-radius: 8px;
  border:1px solid #e4e4e4;
  width: 90%;
  height: 34px;
  line-height: 34px;
  margin: 10px;
  font-size: 14px;
  margin:0 auto;
  margin-top:10px;
  margin-bottom: 10px;
}
.esf-transaction-schedule .staff-type {
  width: 100%;
  text-align: center;
  margin-bottom:10px;
}
.esf-transaction-schedule .staff-type .active{
  background-color: #676767;
  color: #fff !important;
}
.esf-transaction-schedule .staff-type .item{
  display: inline-block;
  width:45%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #676767;
  text-align: center;
  border:1px solid #676767;
  margin:0 auto;
}
.esf-transaction-schedule .total-info {
  border-top:1px solid #e4e4e4;
  background-color: #f5f5f5;
  font-size: 13px;
  color: #ccc;
}
.esf-transaction-schedule .total-info .txt{
  display: block;
  width:90%;
  margin:0 auto;
  height: 24px;
  line-height: 24px;
}
.esf-transaction-schedule .staff-list {
  font-size: 14px;
  width: 100%;
}
.esf-transaction-schedule .staff-list .thead{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #efefef;
}
.esf-transaction-schedule .staff-list .thead .name{
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 35%;
  margin:0 auto;
  /*margin-left: 10%;*/
}
.esf-transaction-schedule .staff-list .thead .mobile{
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 65%;
  margin:0 auto;
  /*margin-right: 10%;*/
}
.esf-transaction-schedule .staff-list .thead,
.esf-transaction-schedule .staff-list .tr {
  padding:0 10px;
  position: relative;
}
.esf-transaction-schedule .staff-list .tr .name{
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 35%;
  vertical-align: middle;
}
.esf-transaction-schedule .staff-list .tr .mobile{
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 55%;
  vertical-align: middle;
}
.esf-transaction-schedule .staff-list .tr .link{
  /*display: none;*/
  display: inline-block;
  height: 60px;
  line-height: 64px;
  text-align: center;
  width: 10%;
  vertical-align: middle;
}
.esf-transaction-schedule .staff-list .delete{
  /*display: inline-block;*/
  display: none;
  position: absolute;
  right: 0;
  top:0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 35%;
  background-color: red;
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
}

.esf-transaction-schedule .staff-list .tr{
  border-bottom: 1px solid #e4e4e4;
}
.esf-transaction-schedule .tab-bread {
  background-color: #efefef;
  border-bottom: 1px solid #e4e4e4;
}
.esf-transaction-schedule .tab-bread .item{
  display: inline-block;
  width: 33%;
  text-align: center;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  cursor: pointer;
}
.esf-transaction-schedule .tab-bread .active{
  color: #ff6b31;
  border-bottom:2px solid #ff6b31;
}
.transaction-list .transaction-item {
position:relative;
overflow:hidden;

}
.transaction-list .transaction-item .case-title .case-id {
  display: inline-block;
  width:70%;
  text-align: left;
  height: 30px;
  line-height: 30px;
}
.transaction-list .transaction-item .case-title .case-date {
  display: inline-block;
  width:30%;
  text-align: right;
  height: 30px;
  line-height: 30px;
}
.transaction-list .transaction-item .case-detail {
  /*display: inline-block;*/
  display: block;
  /*float: left;*/
  width: 100%;
  vertical-align: middle;
}
.transaction-list .transaction-item .case-link {
  /*display: inline-block;*/
  display: block;
  /*width: 16%;*/
  /*vertical-align: middle;*/
  text-align: right;
  font-size: 20px;
  /*font-weight: 700;*/
  min-height: 68px;
  line-height: 68px;
  position:absolute;
  right:10px;
  top:40px;
  background-color: transparent;
}
.transaction-list .transaction-item .case-link-88 {
  display: block;
  /*width: 16%;*/
  vertical-align: middle;
  text-align: right;
  font-size: 14px;
  float: right;
  min-height: 88px;
  /*min-width: 100px;*/
  line-height: 102px;
  float: right;
  white-space: nowrap;
  margin-right: 4px;
}
.transaction-list .detail-tit {
  height: 44px;
  background-color: #f5f5f5;
  font-size: 13px;
  line-height: 44px;
  padding-left: 10px;
  border-bottom:1px solid #e4e4e4;
  color: #999;
}
.transaction-list .detail-item {
  line-height:50px;
  border-bottom:1px solid #e4e4e4;
  padding:0 10px;
  color: #999;
  display:block;
  overflow:hidden;
}
.transaction-list .detail-item .th {
  display: block;
  float: left;
   vertical-align:middle;
   height:50px;
}
.transaction-list .detail-item .td {
	width:240px;
	padding:15px 0px;
	line-height:20px;
  display:block;
  float: right;
  color: #666;
  white-space:normal;
  text-align:right;
}


/*竖线*/
.long-vertical-line {
  border-left: 1px solid #e4e4e4;
  height: 714px;
  width:0px;
  position: relative;
}
.chart-node .vertical-line {
  border-left: 1px solid #e4e4e4;
  height: 45px;
  width:0px;
  position: relative;
}
.chart-node .bi {
  border-right: 1px solid #e4e4e4;
  width:8px;
  right:4px;
}
.bi .top-arrow{
  position: absolute;
  color: #ccc;
  top:-6px;
  left:-9px;
}
.bi .bottom-arrow{
  position: absolute;
  color: #ccc;
  bottom:-15px;
  right:-8px;
}
.chart-node .transverse-line {
  border-top: 1px solid #e4e4e4;
  width: 33px;
  height: 1px;
}
.chart-node .long-transverse-line {
  border-top: 1px solid #e4e4e4;
  width: 66px;
  height: 1px;
}
.chart-node .short-transverse-line {
  border-top: 1px solid #e4e4e4;
  width: 26px;
  height: 1px;
}
.chart-node .inline-block{
  display: inline-block;
  vertical-align: middle;
}
.note-txt {
  position: absolute;
  top:23px;
  right: 3px;
  white-space: nowrap;
}
.right-sub-node {
  position: absolute;
  margin-top: -12px;
  width:58px;
}
.left-sub-node {
  position: absolute;
  margin-top: -12px;
  width:58px;
  margin-left: -17px;
}
.right-node {
  position: absolute;
  top:-33px;
}
.left-node {
  position: absolute;
  top:-40px;
  left:-42px;
}
.left-sub-node .circle-item{
  margin-left: -17px;
}
.left-single-node {
  position: absolute;
  top:-20px;
  left:-42px;
}
.right-node-item {
  position: relative;
}
.left-node-item {
  position: relative;
}
.single-right-txt-item {
  position: absolute;
  top:-6px;
  right:22px;
}
.chart-node .circle-item-txt .right-txt-item{
  position: absolute;
  top:-12px;
  right:22px;
}
.chart-node .active {
  width: 12px !important;
  height: 12px !important;
  background-color: #ea8010 !important;
  border:2px solid #ffd8c9 !important;
  margin-left: -2px;
}
.circle-item-txt {
  position: relative;
  margin:0 -5px;
  width: 0px;
}
.circle-item-txt .big-arrow {
  position: relative;
  height: 88px;
  width: 196px;
  margin-top: 54px;
  margin-left: 74px;
}
.circle-item-txt .big-arrow .right-polyline{
  position: absolute;
  right: 56px;
  top:-82px;
  width:19px;
  border:1px solid #bebebe;
  border-left: none;
  border-bottom: none;
  height: 88px;
}
.circle-item-txt .big-arrow .arrow-line-container{
  /*position: absolute;*/
  bottom: 0px;
  right: 0px;
}
.circle-item-txt .big-arrow .arrow-line-container .arrow {
  position: absolute;
  left: 0px;
  top:0px;
  border-width:7px 12px;
  border-style:solid;
  border-color:transparent #bebebe transparent transparent;
}
.circle-item-txt .big-arrow .arrow-line-container .line{
  position: absolute;
  left: 20px;
  top:6px;
  width:120px;
  height: 1px;
  background-color: #bebebe;
}
.chart-node .circle-item-txt .single-right-txt-item .txt,
.chart-node .circle-item-txt .right-txt-item .txt,
.circle-item-txt .txt-item .txt {
  display: block;
  font-size: 13px;
  white-space: nowrap;
}
.chart-node .circle-item-txt .right-txt-item .date,
.circle-item-txt .txt-item .date {
  display: block;
  font-size: 12px;
  white-space: nowrap;
}
.chart-node .circle-item-txt .txt-item {
  position: absolute;
  top:-12px;
  left:30px;
}
.chart-node .circle-item{
  color: #ccc;
  font-size: 14px;
  border: 1px solid #ccc;
  width:10px;
  height: 10px;
  border-radius:10px;
  background-color: #ccc;
}
.chart-all {
  position: relative;
  margin-left: 40px;
  /*margin: 0 auto;*/
  /*width: 200px;*/
  padding: 40px 0;
}
.transaction-list .transaction-item .case-detail .case-detail-addr{
  font-size: 14px;
  color: #333;
  text-align: left;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.transaction-list .transaction-item{
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
  /*height: 80px;*/
}
.transaction-list .transaction-item a{
  display: block;
  position:relative;
}
.transaction-list .transaction-item .case-div {
  display: block;
  /*width:84%;*/
  vertical-align: middle;
  min-width: 200px;
  float: left;
}
/*.transaction-list .min-width-300 {
  min-width: 300px;
}*/
.no-width {
  width:inherit !important;
}
.transaction-list .transaction-item .case-title{
  color: #666;
  font-size: 14px;
}
.transaction-list .transaction-item .case-detail .case-detail-schedule {
  color: #f7a700;
  font-size: 14px;
  text-align: left;
  /*text-overflow:ellipsis;*/
  /*overflow: hidden;*/
  white-space: nowrap;
}
.transaction-list .transaction-item .case-detail .case-detail-schedule .item {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  width: 70%;
  overflow: hidden;
  /*text-overflow:ellipsis;*/
  white-space: nowrap;
}
.transaction-list .transaction-item .case-detail .case-detail-schedule .line {
  display: inline-block;
  height: 20px;
  margin:0 6px;
  border-left: 1px solid #f7a700;
  vertical-align: middle;
}

/*房贷计算器*/
.font-size-20 {
  font-size: 20px;
}
.font-size-24 {
  font-size: 24px;
  font-weight: 400;
}
.font-size-18 {
  font-size: 18px;
  font-weight: 400;
}
.esf-fd-calculator {
  width:100%;
  /*min-width: 320px;*/
  background-color: #fff;
}
.esf-fd-calculator .tab-title {
  margin:6px 20px 10px 20px;
  border-radius: 8px;
  border:1px solid #5C5F68;
  /*min-width: 320px;*/
  color: #5C5F68;
}
.esf-fd-calculator .tab-title .item{
  display: inline-block;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  width: 50%;
  text-align: center;
}
.esf-fd-calculator .tab-title .active{
  background-color: #676767;
  color: #fff;
}
.esf-fd-calculator .loan-type {
  border: 1px solid #E5E5E5;
  border-left:none;
  border-right: none;
  color: #030303;
}
.esf-fd-calculator .loan-type .border {
  border-radius: 8px;
  border: 1px solid #CBCBCB;
  margin: 12px 30px;
}
.esf-fd-calculator .loan-type .item {
  display: inline-block;
  width:33%;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}
.left-border-radius {
  border-radius: 5px 0 0 5px;
}
.right-border-radius {
  border-radius: 0 5px 5px 0;
}
.esf-fd-calculator .loan-type .both-border {
  border: 1px solid #CBCBCB;
  border-top:none;
  border-bottom: none;
}
.esf-fd-calculator .loan-type .active {
  background-color: #E3E3E3;
}
.esf-fd-calculator .calculator-option {
  max-width: 480px;
  margin-bottom: 170px;
  margin: 0 auto;
}
.esf-fd-calculator .calculator-option dl{
  width:90%;
  border-bottom: 1px solid #CBCBCB;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  clear: both;
}

.esf-fd-calculator .calculator-option dl:after {
    content: ".";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0
}
.esf-fd-calculator .calculator-option .cat-tit{
  height: 24px;
  color: #000;
  line-height: 24px;
  text-align: left;
  background-color: #f5f5f5;
}
.esf-fd-calculator .calculator-option .tit-item {
  border-bottom: 1px solid #CBCBCB;
  padding: 10px
}
.esf-fd-calculator .calculator-option .tit-txt {
  display: block;
  height: 24px;
  line-height: 24px;
  /*padding: 0 10px;*/
  font-size: 14px;
}
.esf-fd-calculator .calculator-option .tit-price {
  display: block;
  height: 24px;
  line-height: 24px;
  /*padding: 0 10px;*/
  text-align: right;
}
.esf-fd-calculator .calculator-option dt{
  display: block;
  font-size: 13px;
  float: left;
  text-align: left;
}
.esf-fd-calculator .calculator-option .width-36-dt {
  display: inline-block;
  font-size: 16px;
  width:36%;
  min-width:105px;
}
.esf-fd-calculator .calculator-option dd{
  position: relative;
  display: block;
  white-space: nowrap;
  height: 44px;
  text-align: right;
  float: right;
  font-size: 14px;
  vertical-align: middle;
}
.esf-fd-calculator .calculator-option .width-64-dd {
  display: inline-block;
  white-space: nowrap;
  text-align: right;
  width:64%;
  min-width: inherit;
  font-size: 16px;
  vertical-align: middle;
}
.esf-fd-calculator .calculator-option .inline-dd {
  display: inline-block;
  width:26%;
  min-width: inherit;
  text-align: left;
}
.esf-fd-calculator .calculator-option .dd-width-50 {
  width:50%;
  text-align: left;
  min-width: inherit;
}
.esf-fd-calculator .calculator-option .dd-width-50 .select-txt{
  width:90%;
}
.esf-fd-calculator .calculator-option .city-name {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.esf-fd-calculator .calculator-option dt b{
  margin:0 1em;
}
/*.esf-fd-calculator .calculator-option dd i {
  vertical-align: middle;
}*/
.esf-fd-calculator .calculator-option .inline-dd .input-txt {
  width: 70px;
}
.esf-fd-calculator .input-txt-100 {
  width:100% !important;
}
.esf-fd-calculator [class*="time"]{
  width:100px ;
  text-align:center;
}
.esf-fd-calculator .calculator-option .text-align-right {
  text-align: right;
}
.esf-fd-calculator .calculator-option dd .input-txt {
  font-size: 13px;
  text-align: right;
  color: #0396DC;
  width:100px;
  margin-right: 3px;
  /*vertical-align: middle;*/
}
.esf-fd-calculator .calculator-option dd .select-txt {
  border:none;
  font-size: 13px;
  color: #606060;
  -webkit-appearance: none;
  vertical-align: middle;
  background-color: #fff;
  /*width:100%;*/
}
.esf-fd-calculator .calculator-btn {
  text-align: center;
  margin: 70px 0;
}
.esf-fd-calculator .calculator-btn .btn-compute {
  background-color: #F0906A;
  border:none;
  width:90%;
  height: 40px;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

/*房贷还款详情*/
.fd-repayment-detail {
    width:100%;
    background-color: #fff;
}
.fd-repayment-detail .page-title{
  height: 36px;
  background-color: #E3E3E3;
  border:1px solid #CDCDCD;
  border-radius: 8px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
}
.fd-repayment-detail .pie-chart {
  /*height: 400px;*/
}
.fd-repayment-detail .repayment-detail-list {
  min-width: 320px;
  width:100%;

}
.repayment-detail-list .thead {
  height: 40px;
  background-color: #efefef;
  border:1px solid #C7C7C7;
  border-left: none;
  border-right: none;
  font-size: 13px;
}
.repayment-detail-list .width-20 {
  width:20%;
}
.repayment-detail-list .width-25 {
  width:25%;
}
.repayment-detail-list .width-30 {
  width:30%;
}
.repayment-detail-list .td {
  height: 38px;
  background-color: #fff;
  border:1px solid #C7C7C7;
  border-left: none;
  border-right: none;
  font-size: 13px;
  text-align: center;
  color: #333;
}
.repayment-detail-list .year {
  height: 24px;
  background-color: #e6e6e6;
  border:1px solid #C7C7C7;
  width:20%;
  border-left: none;
  border-right: none;
  font-size: 14px;
  text-align: center;
  color: #333;
}
.repayment-detail-list .grey {
  background-color: #e6e6e6;
}
/*
*经纪人搜索案件
*/
.search_option{
position:relative;

}
.search_option .addr_option{
height:22px;
background:#f5f5f5;
padding:5px 10px;
border-bottom:1px #d1d1d1 solid;
color:#999;
}
.search_option .addr_select{
color:#000;
}
.search_option .addr_select select{
color:#000;
border:0;
}
.search_option dl{
border-bottom:1px #e5e5e5 solid;
padding:10px;
overflow:auto;
font-size:13px;
color:#b3b3b3;
}
.search_option dl dt{
display:inline;
width:20%;
text-align:left;
font-size:13px;
color:#000;
}
.search_option dl dd{
display:inline;
text-align:right;
min-width:200px;
font-size:13px;
color:#666;
float:right;
}
.search_option dl dd select{
border:0;
color:#666;
width:100px;
text-align:center;
}
.search_option dl dd input{
border:0;
color:#666;
width:100px;
text-align:center;
}
.search_option  .addr_detail{
display:block;
}

.search_btn {
  text-align: center;
  margin: 170px 0 100px 0;
}
.search_btn button {
  background-color: #F0906A;
  border:none;
  width:90%;
  height: 33px;
  color: #fff;
  font-size: 13px;
  border-radius: 8px;
  cursor: pointer;
}
.combox_Casei{
display:block;
position:relative;
height:15px;

}
.combox_Casea{
display:block;
position:relative;
height:15px;
}
.ks-popupmenu {
        position:absolute;
        left:-9999px;
        top:-9999px;
		background:#fff;
    }
.ks-combobox-placeholder{
position:absolute;
left:0px;
top:0px;

}
/*
*限购查询
*/
.quota_type  {
position:fixed;
 width:100%;
 background:#efefef;
 height:44px;
 border-bottom:1px #c7c7c7 solid;
 z-index:55;
 top:0px;
 left:0px;
 }
.quota_type  ul{
   width:100%;
	height:42px;
    display: -moz-box;
    display: -webkit-box;
    display: box;

 }
.quota_type  li {
height:42px;
padding:10px 0px 0px 0px;
list-style:none;
 -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
	text-align:center;
}
.quota_type  li a{
display:block;
height:32px;
color:#000;
font-size:14px;
line-height:19px;

}
.quota_type  li a.selected{
color:#ff6b31;
border-bottom:2px #ff6b31 solid;

}
.quota_type  li a:hover{
color:#ff6b31;
border-bottom:2px #ff6b31 solid;

}

.quota_option{
margin:0 auto;
width:100%;
position:relative;
padding-top:46px;
margin:0 auto;
z-index:1;
/*overflow: hidden;*/
}
.quota_option .switch_btn,.quota_option .switch_btn1{
width:42px;
height:22px;
cursor:pointer;
text-align:left;
border:0;
display:inline-block;
position:absolute;
right:5px;
top:2px;
}
.switch_btn_p{
top:15px;
}
.quota_option .switch_text,.quota_option .switch_text1{
width:42px;
height:22px;
text-align:center;
display:inline-block;
position:absolute;
right:47px;
top:8px;
}
.quota_option  .switch_btn.active,.quota_option .switch_btn1.active{
width:53px;
height:31px;
}
.quota_option .quota_state{
background-color:#f5f5f5;
padding:3px 10px;
color:#999;
border-bottom:1px #d1d1d1 solid;
}
.quota_option dl{
font-size:13px;
line-height:18px;
color:#333;
border-bottom:1px #bfbfbf solid;
padding:10px;
position:relative;
overflow:hidden;
display:black;

}
.quota_option dt{
display:block;
width:130px;
text-align:left;
font-size:13px;
line-height:19px;
color:#333;
float:left;
padding:10px 0px;
vertical-align:middle;

}
.quota_option dd{

display:block;
text-align:right;
width:155px;
position:absolute;
right:4px;
top:15px;
}
.quota_option dd i{
display: inline-table;
padding:5px;
vertical-align: middle;

}
.quota_option .mar{
display:none;


}

.quota_option dd button{

width:29px;
height:27px;
border:1px #bfbfbf solid;
font-size:14px;
color:#606060;
text-align:center;
vertical-align:middle;
font-weight:bold;
 border-radius: 5px;
 margin:0px 5px;
 cursor:pointer;
 display: inline-table;
}
.quota_option dd input[type="text"]{
text-align:center;
width:50px;
height:25px;
border:1px #c4c4c4 solid;
padding:0px;
font-size:14px;
color:#0099e8;
vertical-align:middle;
display: inline-table;
}
.quota_option dd i{
font-size:13px;
color:#333;
display: inline-table;
}
.quota_search_btn{

text-align: center;
}
.quota_search_btn_mar {
  margin:20px 0px ;

}

.quota_search_btn_unmar {
  margin-top: 40px;
}

.quota_search_btn button {
	margin:0 auto;
  background-color: #F0906A;
  border:none;
  width:90%;
  height: 33px;
  color: #fff;
  font-size: 13px;
  border-radius: 8px;
  cursor: pointer;
}
/*
*账单
*/
.bill_head{
position:relative;
 width:100%;
 text-align:center;
 z-index:55;
 background:#fff;
}
.bill_head .bill_cont {
 background:#efefef;
 height:106px;
 border:1px #c7c7c7 solid;
 z-index:55;
 }
.bill_head .bill_cont  ul{
   width:100%;
	height:106px;
    display: -moz-box;
    display: -webkit-box;
    display: box;

 }
.bill_head .bill_cont  li {
height:80px;
padding:10px 0px;
list-style:none;
-moz-box-flex: 1;
-webkit-box-flex: 1;
box-flex: 1;
text-align:center;
}
.bill_head .bill_cont  li dl{
display:block;
height:80px;
color:#000;
font-size:14px;
line-height:19px;
border-right:1px #dedede solid;
overflow:hidden;
text-align:center;
}
.bill_head .bill_cont  li:last-child dl{
border-right:0;
text-align:center;
}
.bill_head .bill_cont  li dl dt{
font-size:14px;
color:#333;
text-align:center;
display:block;
}

.bill_head .bill_cont  li dl dd{
font-size:24px;
color:#666;
padding:15px 0px;
text-align:center;
display:block;
}
.bill_head .bill_cont  li:first-child dl dd{
text-align:center;
padding:5px 0px;
}
.bill_head .bill_cont  li dl select{
border:0;
 background:#efefef;
 color:#333;

}
.bill_head  .bill_tab{
width:90%;
height:32px;
border:1px #5b5d69 solid;
display: -moz-box;
display: -webkit-box;
display: box;
margin-top:10px;
border-radius:5px;

}
.bill_head .bill_tab  a {
display: block;
-moz-box-flex: 1;
-webkit-box-flex: 1;
box-flex: 1;
text-align:center;
color:#5b5d69;
font-size:14px;
line-height:32px;
background:#fff;

}
.bill_head .bill_tab  a:first-child{
  border-radius: 4px 0 0 4px;
}
.bill_head .bill_tab  a:last-child{
border-radius: 0 4px 4px 0;
}

.bill_head .bill_tab  a.active {
background:#676767;
color:#fff;
}
.bill_list_detail{
margin:0 auto;
width:90%;
/*padding-top:10px;*/
padding:10px 0px;
}


.bill_list_detail dl{
margin:0 auto;
cursor:pointer;
padding:11px;
border-bottom:1px #e5e5e5 solid;

}
.bill_list_detail dl dt{
margin:0 auto;
cursor:pointer;
color:#333;
font-size:14px;
}
.bill_list_detail dl dt span{
padding-right:10px;
}
.bill_list_detail dl dt span:last-child{
display:block;
font-size:15px;
text-align:right;
float:right;
}
.bill_list_detail dl dd{
margin:0 auto;
cursor:pointer;
color:#999;
font-size:12px;

}

.bill_list_report{
margin:0 auto;
width:90%;
padding:10px 0px;
}
.bill_list_report h1{
border-bottom:1px #d0d0d0 solid;
background:#f5f5f5;
padding-left:5px;
}
.bill_list_report a{
display:block;
}

.bill_list_report a dl{
margin:0 auto;
padding:10px;
border-bottom:1px #e5e5e5 solid;
overflow:hidden;

}
.bill_list_report  a dl dt{
white-space:nowrap;
max-width:120px;
height:45px;
padding-top:22px;
padding-left:20px;
display:inline-table;
text-align:center;
background:url(http://file.pinganfang.com/view/banner/123147499becd1f9ca685e34ff1af446bca81909.png) no-repeat left;

}

.bill_list_report a dl dt span{
display:block;
font-size:14px;
padding-left:8px;
padding-top:5px;
}
/*.bill_list_report a dl dt span:last-child{
display:block;
font-size:18px;
}*/
.bill_list_report a dl dd{
max-width:140px;
height:65px;
line-height:65px;
display:inline-table;
float:right;
padding-top:5px;

}
/*.bill_list_report a dl{
margin:0 auto;
padding:10px;
border-bottom:1px #e5e5e5 solid;
overflow:hidden;
height:68px;
}
.bill_list_report  a dl dt{
width:60px;
height:68px;
display:inline-table;
text-align:center;
position:relative;
}

.bill_list_report a dl dt span{
display:block;
font-size:14px;
position:absolute;
top:10px;
left:23px;
}
.bill_list_report a dl dt span:last-child{
display:block;
font-size:18px;
top:30px;
left:14px;
}
.bill_list_report a dl dd{
width:60px;
height:65px;
line-height:65px;
display:inline-table;
float:right;

}
#canvas1{
position:relative;
z-index:1;
margin:0 auto;
width:80px;
height:68px;
overflow:hidden;
}
#canvas2{
position:relative;
z-index:1;
margin:0 auto;
width:80px;
height:68px;
overflow:hidden;
}
#canvas3{
position:relative;
z-index:1;
margin:0 auto;
width:80px;
height:68px;
overflow:hidden;
}*/


/*
*报表详情
*/
.bill_head .bill_cont {
/*padding-left:10px;*/
padding:0px 5px;
}
.bill_head .bill_cont  .report_detail{
position:relative;
height:106px;
overflow:hidden;
padding:0px 10px;
}
.bill_head .bill_cont  .report_detail dt{
position: absolute;
display:inline-table;
left:0;
padding:40px 0px 10px 40px;
width:70px;
height:55px;
background:url(http://file.pinganfang.com/view/banner/d03e6dc98fe3b26d0bc295584f4602511cecf8a8.png) no-repeat 10px 20px;
}
.bill_head .bill_cont  .report_detail dt span:last-child{
font-size:24px;
line-height:29px;
color:#333;
display: block;
white-space:nowrap;
padding-left:15px;
}
/*.bill_head .bill_cont  .report_detail dt span:first-child{
font-size:14px;
line-height:19px;
color:#333;
display: block;
}
.bill_head .bill_cont  .report_detail dt{
position: absolute;
display:inline-table;
top: 10px;
left:10px;
padding:0px;
width:70px;
height:60px;
}
.bill_head .bill_cont  .report_detail dt span:last-child{
font-size:24px;
line-height:29px;
color:#333;
display: block;
top:36px;

}
.bill_head .bill_cont  .report_detail dt span{
font-size:14px;
line-height:19px;
color:#333;
display: block;
position: absolute;
left: 30px;
top:18px;
}*/
.bill_head .bill_cont  .report_detail dd{
position: absolute;
display: inline-table;
right:0;
padding:40px 10px 0px 10px;
font-size:24px ;
line-height:29px;
color:#333;
overflow:hidden;
}
.bill_head .bill_cont  .report_detail dd span{
font-size:30px ;
line-height:30px;
color:#333;
overflow:hidden;
padding-right:30px;
max-width:180px;
overflow:hidden;
display:block;
}
.bill_head .bill_cont  .report_detail dd i{
font-size:24px ;
line-height:30px;
color:#333;
overflow:hidden;
position:absolute;
top:41px;
right:10px;
}
.bill_head .bill_cont .yj span:last-child{

left:20px;
}
.bill_head .bill_cont .fl span:last-child{

left:20px;
}
.bill_head .bill_cont .ct span:last-child{

left:14px;
}
.bill_detail{
margin:0 auto;
width:100%;
/*padding-top:108px;*/

}
.bill_detail h1{
font-size:13px ;
line-height:18px;
color:#999;
border-bottom:1px #d0d0d0 solid;
background:#f5f5f5;
padding:5px 10px;

}
.bill_detail dl{
margin:0 auto;
padding:10px;
border-bottom:1px #e5e5e5 solid;

}
.bill_detail dl dt{
margin:0 auto;
color:#333;
font-size:14px;
}
.bill_detail dl dt span{
padding-right:10px;
}
.bill_detail dl dt span:last-child{
display:block;
font-size:15px;
text-align:right;
float:right;
}
.bill_detail dl dd{
margin:0 auto;
color:#999;
font-size:12px;

}
.detail_sub{
overflow:hidden;
padding-top:10px;

}
.detail_sub dt{
text-align:left;
padding:10px ;
color:#333;
font-size:14px;
line-height:19px;
float:left;
}
.detail_sub dt p{
text-align:left;
padding:10px;
color:#333;
font-size:24px;
line-height:29px;
white-space:nowrap;
}
.detail_sub dt span{
text-align:left;
padding:5px ;
white-space:nowrap;
}

.detail_sub dd{
display:block;
color:#333;
position:absolute;
right:10px;
top:48px;
}

.detail_sub dd span{
color:#333;
font-size:30px;
line-height:30px;
display:block;
padding-right:25px;
max-width:180px;
overflow:hidden;
display:block;
}
.detail_sub dd i{
color:#333;
font-size:24px;
line-height:29px;
position:absolute;
right:0px;
top:1px;
}
.detail_sub_list{
padding:10px 10px 0px 10px;
font-size:14px;
line-height:19px;
}
.detail_sub_list div{
padding-bottom:10px;

}
#canvas4{
position:relative;
z-index:1;
margin:0 auto;
width:90px;
height:85px;
overflow:hidden;
}
#canvas5{
position:relative;
z-index:1;
margin:0 auto;
width:90px;
height:85px;
overflow:hidden;
}
#canvas6{
position:relative;
z-index:1;
margin:0 auto;
width:90px;
height:85px;
overflow:hidden;
}

/*confirm */
.masking {
  display: none;
  background-color: #ccc;
  opacity: 0.8;
  width:100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
}
.wxh-alert-modal {
  width:200px;
  height: 170px;
  background-color: #fff;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -85px;
  margin-left: -100px;
  border-radius: 8px;
  z-index: 2;
  /*padding: 20px;*/
}
.wxh-alert-modal .title {
  height: 24px;
  line-height: 24px;
  background-color: #efefef;
  padding-left: 20px;
}
.wxh-alert-modal .body{
  padding-top: 20px;
}
.wxh-alert-modal .body p{
  text-align: center;
  height: 24px;
}
.wxh-alert-modal .body p b{
  font-size: 16px;
  color: red;
  margin-right: 10px;
}
.wxh-alert-modal .button{
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #F0906A;
  height: 24px;
  margin: 0 auto;
  width: 80px;
  margin-top: 10px;
  border-radius: 5px;
}
.wxh-confirm-modal {
  width:188px;
  height: 86px;
  background-color: #fff;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -63px;
  margin-left: -114px;
  border-radius: 8px;
  z-index: 2;
  padding: 20px;
}
.wxh-confirm-modal .wxh-confirm-modal-message {
  height: 50px;
  /*line-height: px;*/
  margin: 0 auto;
}
.wxh-confirm-modal .wxh-confirm-modal-button-bar {
  margin-top: 10px;
  text-align: center;
}
.wxh-confirm-modal .button-confirm {
  display: inline-block;
  width:40px;
  height: 24px;
  line-height: 24px;
  background-color: #999;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
}
.wxh-confirm-modal .yes{
  background-color: #F0906A !important;
}
/*
*新增交易详情页面
*/
.trade_detail_2{
margin:0 auto;
padding-top:10px;
width:90%;
}
.trade_detail_2 table{
margin:0 auto;
width:100%;
}
.trade_detail_2 table tr{

}
.trade_detail_2 table th{
text-align:left;
font-size:14px;
font-weight:normal;
color:#9c9c9c;
padding:10px 0px;
width:90px;

}

.trade_detail_2 table td{
text-align:right;
font-size:14px;
font-weight:normal;
color:#333;
width:210px;
overflow: hidden;
padding:3px 0px;
word-spacing:normal;
word-break:break-all;
}

/*二手房交易详情*/
.deal-detail-list .detail-item{
  position: relative;
  /*height: 67px;*/
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}
.deal-detail-list .hover-grey {
  background-color: #f2f2f2;
}
.deal-detail-list .detail-item-tit {
  /*margin-bottom: 10px;*/
}
.deal-detail-list .detail-item-tit .tit-item{
  display: block;
  float: left;
}
.deal-detail-list .detail-date {
  display: block;
  float: right;
}
.deal-detail-list .max-width-120 {
  max-width: 120px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.deal-detail-list .max-width-150 {
  max-width: 150px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.deal-detail-list .detail-money {
  font-size: 16px;
  color: #000;
  /*float: left;*/
}
.deal-detail-list .detail-child-money {
  font-size: 18px;
  color: #000;
  float: left;
}
.deal-detail-list .detail-status {
  color: #fd6a39;
  /*float: right;*/
  font-size: 14px;
}
.detail-child-status {
  color: #fd6a39;
  float: right;
  font-size: 14px;
}
.detail-item-money {
  position: relative;
}
.deal-detail-list .grey {
  position: absolute;
  right: 0px;
  bottom:0px;
  font-size: 34px;
  color: #666;
  /*width: 50px;*/
  display: block;
}
.deal-detail-list .child-grey {
  background-color: #dfdfdf;
  height: 46px;
}
.deal-detail-list .detail-item-child-tit .tit-child-item{
  display: block;
  float: left;
}
.deal-detail-list .detail-children-item {
  position: relative;
  display: none;
}
.deal-detail-list .cover-link {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*background-color: red;*/
}

/*日历样式*/
.ks-cal-call-multi-1 {
  width: 228px !important;
}
.ks-cal-call .ks-cal-hd,
.ks-cal-call .ks-cal-bd,
.ks-cal-call .ks-cal-bd .ks-dbd{
  width:220px !important;
}
.ks-cal-call .ks-cal-bd .ks-whd span {
  width: 30px !important;
}
.ks-cal-call .ks-cal-bd .ks-dbd a, .ks-cal-call .ks-cal-bd .ks-dbd a:link {
  width: 28px !important;
  line-height: 28px !important;
}
