﻿@{
    ViewBag.Title = "编辑系统用户";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style type ="text/css">
    input  {
        border: 1px skyblue solid;
        min-height: 20px;
    }
    select {
        border: 1px skyblue solid; 
        min-height: 20px;
    }
</style>
<div style="margin-left:25px;margin-top:25px;line-height:25px;">
    <input id="sysNo" type="hidden" />
    <div>域&nbsp;账&nbsp;号：<input id="domainName" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>工&nbsp;&nbsp;&nbsp;&nbsp;号：<input id="userNo" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>邮&nbsp;&nbsp;&nbsp;&nbsp;箱：<input id="emailAddr" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>姓&nbsp;&nbsp;&nbsp;&nbsp;名：<input id="name" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>用&nbsp;户&nbsp;名：<input id="userName" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>密&nbsp;&nbsp;&nbsp;&nbsp;码：<input id="password" type="password"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>是否启用：
        <select  id="isEnable" style="width:135px;">
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select><br/>
    </div>
</div>