﻿@{
    ViewBag.Title = "用户列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="width:91%;">
    <div id="gataGridUser"></div>
</div>
<div id="w"></div>
<script language="javascript">
    
    var toolbar = [{
        text: '新增用户',
        iconCls: 'icon-add',
        handler: function () {
            addUser();
        }
    }, '-',{
        text: '编辑用户',
        iconCls: 'icon-cut',
        handler: function () {
            var row = $('#gataGridUser').datagrid('getSelected');
            if (row) {
                var index = $('#gataGridUser').datagrid('getRowIndex', row);
                eidtUser(index);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }
        }
    }, '-', {
        text: '删除用户',
        iconCls: 'icon-remove',
        handler: function () {
            var row = $('#gataGridUser').datagrid('getSelected');
            if (row) {
                var index = $('#gataGridUser').datagrid('getRowIndex', row);
                delUser(index);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }
        }
    }];
    
    var dtoolbar = [{
        text: '保存',
        iconCls: 'icon-save',
        handler: function () {
            saveUser();
        }
    }, '-', {
        text: '取消',
        iconCls: 'icon-edit',
        handler: function () {
            $("#w").dialog("close");
        }
    }];

    $(function () {        
        //加载数据  
        $('#gataGridUser').datagrid({
            widht: 'auto',
            url: '/Admin/User/GetUserList',
            loadMsg: '数据加载中请稍后……',
            toolbar:toolbar,
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'UserName', title: '用户名', align: 'left', width: 125 },
                { field: 'DomainName', title: '域账号', align: 'left', width: 180 },
                { field: 'EmailAddr', title: '邮箱地址', align: 'left', width: 180 },
                { field: 'IsEnable', title: '当前状态',  formatter:function(val,rec){
                    if (val==0){
                        return '<span style="color:red;">禁用</span>';
                    } else {
                        return '<span style="color:green;">启用</span>';
                    }
                }, align: 'left', width: 100
                },
                { field: 'CreateDate', title: '创建时间', align: 'left', width: 120 },
                { field: 'ModifyDate', title: '更新时间', align: 'left', width: 120 }
            ]],
            onClickRow: function (rowIndex, rowData) {
                if (!rowData) return;
            }
        });
    });

    //新增用户
    function addUser() {
        $("#w").dialog({
            title: '编辑系统用户',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/User/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/User/GetUser',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        SysNo: 0
                    },
                    success: function (opt) {
                        $("#sysNo").val(0);
                        $("#domainName").val(opt.DomainName);
                        $("#userNo").val(opt.UserNo);
                        $("#emailAddr").val(opt.EmailAddr);
                        $("#name").val(opt.Name);
                        $("#userName").val(opt.UserName);
                        $("#password").val(opt.Password);
                        $("#isEnable").val(opt.IsEnable);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }
    
    //编辑用户
    function eidtUser(index) {
        $('#gataGridUser').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridUser').datagrid('getSelected');
        $("#w").dialog({
            title: '编辑主体',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/User/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/User/GetUser',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (opt) {
                        $("#sysNo").val(opt.SysNo);
                        $("#domainName").val(opt.DomainName);
                        $("#userNo").val(opt.UserNo);
                        $("#emailAddr").val(opt.EmailAddr);
                        $("#name").val(opt.Name);
                        $("#userName").val(opt.UserName);
                        $("#password").val(opt.Password);
                        if (opt.IsEnable) {
                            $("#isEnable").val(1);
                        }
                    }
                });
            }
        });
        $("#w").dialog("open");
    }
    
    //删除主体
    function delUser(index) {
        $('#gataGridUser').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridUser').datagrid('getSelected');
        $.messager.confirm('系统确认', '确定删除当前记录吗?', function (r) {
            if (r) {
                $.ajax({
                    url: '/Admin/User/DelUser',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function () {
                        $("#gataGridUser").datagrid('reload');
                    },
                    error: function () {
                        $.messager.alert('系统错误', '很抱歉,当前操作保存失败!', 'error');
                    }
                });
            }
        });
    }


    //保存用户
    function saveUser() {
        var user = {};
        user.SysNo = $("#sysNo").val();
        user.DomainName = $("#domainName").val();
        user.UserNo=$("#userNo").val();
        user.EmailAddr=$("#emailAddr").val();
        user.Name=$("#name").val();
        user.UserName = $("#userName").val();
        user.Password = $("#password").val();
        var enable = $("#isEnable").val();
        user.IsEnable = enable > 0;
        $.ajax({
            url: '/Admin/User/SaveUser',
            type: "POST",
            datatype: 'json',
            data: {
                user: JSON.stringify(user)
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统消息', '当前操作保存成功!', 'info', function () {
                        $("#w").dialog("close");
                        $("#gataGridUser").datagrid('reload');
                    });
                } else {
                    $.messager.alert('系统消息', '很抱歉,当前操作保存失败!', 'info');
                }

            },
            error: function () {
                $.messager.alert('系统错误', '很抱歉,当前操作保存错误!', 'error');
            }
        });
    }

</script>