﻿@{
    ViewBag.Title = "人员列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="userList"></div>
<input id="applications" type="hidden" value="@Model"/>
<script>
    $(function () {
        //加载数据  
        $('#userList').datagrid({
            fit: 'true',
            url: '/Admin/User/GetUserListOutApplications',
            loadMsg: '数据加载中请稍后……',
            collapsible: true,
            pagination: true,
            nowrap: true,
            rownumbers: true,
            striped: true, //隔行变色
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            singleSelect: false, //允许选择多行
            selectOnCheck: true,//true勾选会选择行，false勾选不选择行, 1.3以后有此选项
            checkOnSelect: false, //true选择行勾选，false选择行不勾选, 1.3以后有此选项
            queryParams: {
                applications: $("#applications").val(),
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field:'ck',checkbox:true,width: 40},
                { field: 'UserName', title: '用户名', align: 'left', width: 125 },
                { field: 'DomainName', title: '域账号', align: 'left', width: 180 },
                { field: 'EmailAddr', title: '邮箱地址', align: 'left', width: 180 }
            ]]
        });      
    });
</script>