﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#ResultMessage").val() != "") {
                alert($("#ResultMessage").val());
            }
        });
    </script>
</head>
<body>
    <a href="/test/fs/case">案件</a>
    <a href="/test/fs/miss">掉单数据</a>
        @RenderBody()

    <input type="hidden" id="ResultMessage" value="@ViewBag.Message" />
</body>
</html>