﻿@{
    ViewBag.Title = "选择证书";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="credentialsList"></div>
<input id="resource" type="hidden" value="@Model"/>
<script>
    
    $(function () {
        //加载数据  
        $('#credentialsList').datagrid({
            fit: 'true',
            url: '/Admin/Credentials/GetCredentialsListOutResource',
            loadMsg: '数据加载中请稍后……',
            collapsible: true,
            pagination: true,
            nowrap: true,
            rownumbers: true,
            striped: true, //隔行变色
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            singleSelect: false, //允许选择多行
            selectOnCheck: true,//true勾选会选择行，false勾选不选择行, 1.3以后有此选项
            checkOnSelect: false, //true选择行勾选，false选择行不勾选, 1.3以后有此选项
            queryParams: {
                resource: $("#resource").val(),
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field:'ck',checkbox:true,width: 40},
                { field: 'CredentialsNo', title: '证书编号', align: 'left', width: 80 },
                { field: 'CredentialsName', title: '证书名称', align: 'left', width: 180}
            ]]
        });      
    });
</script>