﻿@{
    ViewBag.Title = "编辑证书";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:25px;margin-top:25px;line-height:25px;">
    <input id="sysNo" type="hidden" />   
    <div>证书名称：<input id="credentialsName" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>证书编号：<input id="credentialsNo" type="text"/></div>
    <div>证书说明：<br/><textarea id="credentialsDescribe" cols="28" rows="4"></textarea></div>
</div>