﻿@{
    ViewBag.Title = "证书列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="width:90%;">
    <div id="gataGridCredentials"></div>
</div>
<div id="w"></div>
<div id="tt" style="padding-left: 8px;">
   <input class="easyui-searchbox" data-options="prompt:' 请输入资源名称模糊快速查询',searcher:doSearch" style="width:300px"></input>
</div>
<script>
    var toolbar = [{
        text: '新增证书',
        iconCls: 'icon-add',
        handler: function () {
            addCredentials();
        }
    }, '-', {
        text: '编辑证书',
        iconCls: 'icon-cut',
        handler: function() {
            var row = $('#gataGridCredentials').datagrid('getSelected');
            if (row) {
                var index= $('#gataGridCredentials').datagrid('getRowIndex',row);
                eidtCredentials(index);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }
        }
    }, '-', {
        text: '删除证书',
        iconCls: 'icon-remove',
        handler: function () {
            var row = $('#gataGridCredentials').datagrid('getSelected');
            if (row) {
                delCredentials(row.SysNo);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }
        }
    }];
    

    var dtoolbar = [{
        text: '保存',
        iconCls: 'icon-save',
        handler: function () {
            saveCredentials();
        }
    }, '-', {
        text: '取消',
        iconCls: 'icon-edit',
        handler: function () {
            $("#w").dialog("close");
        }
    }];

    // 获取iframe大小
    function getWidthAndHeigh() {
        var windowHeight = 0;
        var widowWidth = 0;
        if (typeof (window.innerHeight) == 'number') {
            windowHeight = window.innerHeight;
            widowWidth = window.innerWidth;
        }
        else {
            if (document.documentElement && document.documentElement.clientHeight) {
                windowHeight = document.documentElement.clientHeight;
                widowWidth = document.documentElement.clientWidth;
            }
            else {
                if (document.body && document.body.clientHeight) {
                    windowHeight = document.body.clientHeight;
                    widowWidth = document.body.clientWidth;
                }
            }
        }
        return { width: widowWidth, height: windowHeight };
    }

    $(function () {
        var size = getWidthAndHeigh();
        //加载数据  
        $('#gataGridCredentials').datagrid({
            widht: 'auto',
            height:size.height-80,
            url: '/Admin/Credentials/GetCredentialsList',
            loadMsg: '数据加载中请稍后……',
            toolbar: toolbar,
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'ApplicationsName', title: '应用程序', align: 'left', width: 100 },
                { field: 'CredentialsNo', title: '证书编号', align: 'left', width: 150 },
                { field: 'CredentialsName', title: '证书名称', align: 'left', width: 180 },
                { field: 'CredentialsDescribe', title: '证书说明', align: 'left', width: 250 },
                { field: 'CreateDate', title: '创建时间', align: 'left', width: 150 },
                { field: 'ModifyDate', title: '更新时间', align: 'left', width: 150 },
                {
                    field: 'opt', title: '操作', width: 150, align: 'center',
                    formatter: function (value, row, index) {
                        var e = '<a href="#" class="editcls" onclick="eidtCredentials(\'' + index + '\')">编辑</a> ';
                        e = e + '<a href="#" class="delcls" onclick="delCredentials(\'' + index + '\')">删除</a>';
                        return e;
                    }
                }
            
            ]],
            onLoadSuccess: function () {
                $('.editcls').linkbutton({ text: '编辑', plain: true, iconCls: 'icon-edit' });
                $('.delcls').linkbutton({ text: '删除', plain: true, iconCls: 'icon-remove' });
            },
            onClickRow: function (rowIndex, rowData) {
                if (!rowData) return;
            }
        });
        $('#tt').appendTo('.datagrid-toolbar');
    });
    
    //添加证书
    function addCredentials() {
        $("#w").dialog({
            title: '编辑证书',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/Credentials/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/Credentials/GetCredentials',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        SysNo: 0
                    },
                    success: function (opt) {
                        $("#sysNo").val(0);
                        $("#credentialsNo").val(opt.CredentialsNo);
                        $("#credentialsName").val(opt.CredentialsName);
                        $("#credentialsDescribe").val(opt.CredentialsDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }


    //编辑证书
    function eidtCredentials(index) {
        $('#gataGridCredentials').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridCredentials').datagrid('getSelected');
        $("#w").dialog({
            title: '编辑证书',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/Credentials/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/Credentials/GetCredentials',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (opt) {
                        $("#sysNo").val(opt.SysNo);
                        $("#credentialsNo").val(opt.CredentialsNo);
                        $("#credentialsName").val(opt.CredentialsName);
                        $("#credentialsDescribe").val(opt.CredentialsDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }


    //保存证书
    function saveCredentials() {
        var credentials = {};
        credentials.SysNo = $("#sysNo").val();
        credentials.CredentialsNo = $("#credentialsNo").val();
        credentials.CredentialsName = $("#credentialsName").val();
        credentials.CredentialsDescribe = $("#credentialsDescribe").val();
        $.ajax({
            url: '/Admin/Credentials/SaveCredentials',
            type: "POST",
            datatype: 'json',
            data: {
                credentials: JSON.stringify(credentials)
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统消息', '当前操作保存成功!', 'info', function () {
                        $("#w").dialog("close");
                        $("#gataGridCredentials").datagrid('reload');
                    });
                } else {
                    $.messager.alert('系统消息', '很抱歉,当前操作保存失败!', 'info');
                }

            },
            error: function () {
                $.messager.alert('系统错误', '很抱歉,当前操作保存错误!', 'error');
            }
        });
    }
    
    //删除资源
    function delCredentials(index) {
        $('#gataGridCredentials').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridCredentials').datagrid('getSelected');
        $.messager.confirm('系统确认', '确定删除当前记录吗?', function (r) {
            if (r) {
                $.ajax({
                    url: '/Admin/Credentials/DelCredentials',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (result) {
                        if (result) {
                            $("#gataGridCredentials").datagrid('reload');
                        } else {
                            $.messager.alert('删除失败', '很抱歉,当前删除操作失败,请检查该证书是否正在使用中!', 'info');
                        }
                    },
                    error: function () {
                        $.messager.alert('系统错误', '很抱歉,当前删除操作失败!', 'error');
                    }
                });
            }
        });
    }
    
    //搜索
    function doSearch(value) {
        if (value.length > 0) {
            $('#gataGridCredentials').datagrid('reload', {
                filter: value
            });
        }
    }
</script>