﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="../../Scripts/jQuery-1.8.1-min.js"></script>
    <script src="../../Jquery-easyui/jquery.easyui.min.js"></script>
    <link href="../../Jquery-easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="../../Jquery-easyui/themes/icon.css" rel="stylesheet" />
    <script src="../../Jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../../Jquery-easyui/easyui-Dialog.js"></script>
    <link rel="shortcut icon" href="../../Images/cnter.ico" type="image/x-icon"/>
</head>

<body>
    @RenderBody()
</body>
</html>
