﻿@{
    ViewBag.Title = "贷款优化算法参数配置页面";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>贷款优选测试</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
                text-align: center;
            }

        input {
            width: 50px;
        }

        .error {
            background-color: red;
        }
    </style>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script>
        function updateInterest(name, index) {
            var ctrl = $("#in-" + name + "-" + index);
            var value = $(ctrl).val();
            var oldValue = $(ctrl).data("old");
            if ($(ctrl).attr("required")) {
                if (value.length == 0) {
                    $(ctrl).addClass("error");
                    return;
                }
            }
            if ($(ctrl).data("reg") != null && value.length > 0) {
                var reg = new RegExp($(ctrl).data("reg"));
                if (!reg.test(value)) {
                    $(ctrl).addClass("error");
                    return;
                }
            }
            $(ctrl).removeClass("error");
            if (confirm("是否确定更新？")) {
                $.post("@Url.Action("UpdateInterest")", { name: name, index: index, value: value }, function (c) {
                    if (c.error == 1) {
                        alert(c.msg);
                    }
                    else
                        $(ctrl).data('old', value);
                });
            }
            else
                $(ctrl).val(oldValue);
        }

        function updateBankPolicy(name, index) {
            var ctrl = $("#bp-" + name + "-" + index);
            var value = $(ctrl).val();
            var oldValue = $(ctrl).data("old");
            var reg = new RegExp($(ctrl).data("reg"));
            if ($(ctrl).attr("required")) {
                if (value.length == 0) {
                    $(ctrl).addClass("error");
                    return;
                }
            }
            if ($(ctrl).data("reg") != null && value.length > 0) {
                var reg = new RegExp($(ctrl).data("reg"));
                if (!reg.test(value)) {
                    $(ctrl).addClass("error");
                    return;
                }
            }
            $(ctrl).removeClass("error");
            if (confirm("是否确定更新？")) {
                $.post("@Url.Action("UpdateBankPolicy")", { name: name, index: index, value: value }, function (c) {
                    if (c.error == 1) {
                        alert(c.msg);
                    }
                    else
                        $(ctrl).data('old', value);
                });
            }
            else
                $(ctrl).val(oldValue);
        }
    </script>
</head>
<body>
    <p>
        <span style="color:red">* 注，红色文本框标识输入格式错误</span>
    </p>
    <p>
        <label>利率表</label>
        <table class="gridtable">
            <thead>
                <tr>
                    <th>利率代码</th>
                    <th>利率名称</th>
                    <th>1-3 年</th>
                    <th>3-5 年</th>
                    <th>5 年以上</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Interests != null)
                {
                    foreach (PinganHouse.SHHTS.Entities.Setting s in ViewBag.Interests)
                    {
                        <tr>
                            <td>@s.Name</td>
                            <td>@s.Description</td>
                            @{
                        var ss = PinganHouse.SHHTS.Core.ServiceDepository.SettingService.GetSettingItemsByPath(s.Path);
                        for (int i = 1; i <= ss.Count(); i++)
                        {
                            <td>
                                <input type="text" id="in-@s.Name-@i" value="@ss.ElementAt(i-1).Value" required data-reg="^[0-9]+(\.[0-9]{1,2})?$" data-old="@ss.ElementAt(i-1).Value" onchange="updateInterest('@s.Name',@i)" />%
                            </td>
                        }
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
    </p>
    <p>
        <label>银行政策表</label>
        <table class="gridtable">
            <thead>
                <tr>
                    <th>银行代码</th>
                    <th>银行名称</th>
                    <th>非普认定</th>
                    <th>首套贷款成数</th>
                    <th>首套利率</th>
                    <th>二套普通贷款成数</th>
                    <th>二套普通贷款利率</th>
                    <th>是否有公积金</th>
                    <th>最高可减年龄男</th>
                    <th>最高可减年龄女</th>
                    <th>最高可减房龄</th>
                    <th>主贷人准入年龄男</th>
                    <th>主贷人准入年龄女</th>
                    <th>准入房龄</th>
                    <th>限额</th>
                    <th>二套非普通成数</th>
                    <th>二套非普通利率</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.BankPolicies != null)
                {
                    foreach (PinganHouse.SHHTS.Entities.Setting s in ViewBag.BankPolicies)
                    {
                        <tr>
                            <td>@s.Name</td>
                            <td>@s.Description</td>
                            @{
                        var ss = PinganHouse.SHHTS.Core.ServiceDepository.SettingService.GetSettingItemsByPath(s.Path);

                            }
                            <td>
                                <select id="bp-@s.Name-1" onchange="updateBankPolicy('@s.Name',1)" data-old="@ss.ElementAt(0).Value">
                                    <option value="True" @(ss.ElementAt(0).Value == "True" ? "selected" : string.Empty)>是</option>
                                    <option value="False" @(ss.ElementAt(0).Value == "False" ? "selected" : string.Empty)>否</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-2" value="@ss.ElementAt(1).Value" required data-reg="^[0-9]+(\.[0-9]{1,2})?$" onchange="updateBankPolicy('@s.Name',2)" data-old="@ss.ElementAt(1).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-3" value="@ss.ElementAt(2).Value" required data-reg="^[0-9]+(\.[0-9]{1,2})?$" onchange="updateBankPolicy('@s.Name',3)" data-old="@ss.ElementAt(2).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-4" value="@ss.ElementAt(3).Value" required data-reg="^[0-9]+(\.[0-9]{1,2})?$" onchange="updateBankPolicy('@s.Name',4)" data-old="@ss.ElementAt(3).Value">
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-5" value="@ss.ElementAt(4).Value" required data-reg="^[0-9]+(\.[0-9]{1,2})?$" onchange="updateBankPolicy('@s.Name',5)" data-old="@ss.ElementAt(4).Value" />
                            </td>
                            <td>
                                <select id="bg-@s.Name-6" onchange="updateBankPolicy('@s.Name',6)" data-old="@ss.ElementAt(5).Value">
                                    <option value="True" @(ss.ElementAt(5).Value == "True" ? "selected" : string.Empty)>是</option>
                                    <option value="False" @(ss.ElementAt(5).Value == "False" ? "selected" : string.Empty)>否</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-7" value="@ss.ElementAt(6).Value" required data-reg="^[0-9]+$" onchange="updateBankPolicy('@s.Name',7)" data-old="@ss.ElementAt(6).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-8" value="@ss.ElementAt(7).Value" required data-reg="^[0-9]+$" onchange="updateBankPolicy('@s.Name',8)" data-old="@ss.ElementAt(7).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-9" value="@ss.ElementAt(8).Value" required data-reg="^[0-9]+$" onchange="updateBankPolicy('@s.Name',9)" data-old="@ss.ElementAt(8).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-10" value="@ss.ElementAt(9).Value" required data-reg="^[0-9]+$" onchange="updateBankPolicy('@s.Name',10)" data-old="@ss.ElementAt(9).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-11" value="@ss.ElementAt(10).Value" required data-reg="^[0-9]+$" onchange="updateBankPolicy('@s.Name',11)" data-old="@ss.ElementAt(10).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-12" value="@ss.ElementAt(11).Value" required data-reg="^[0-9]+$" onchange="updateBankPolicy('@s.Name',12)" data-old="@ss.ElementAt(11).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-13" value="@ss.ElementAt(12).Value" data-reg="^[0-9]+$" onchange="updateBankPolicy('@s.Name',13)" data-old="@ss.ElementAt(12).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-14" value="@ss.ElementAt(13).Value" required data-reg="^[0-9]+(\.[0-9]{1,2})?$" onchange="updateBankPolicy('@s.Name',14)" data-old="@ss.ElementAt(13).Value" />
                            </td>
                            <td>
                                <input type="text" id="bp-@s.Name-15" value="@ss.ElementAt(14).Value" required data-reg="^[0-9]+(\.[0-9]{1,2})?$" onchange="updateBankPolicy('@s.Name',15)" data-old="@ss.ElementAt(14).Value" />
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </p>
</body>
</html>
