﻿@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content=" " />
    <meta name="Copyright" content=" " />
    <meta name="Description" content=" " />
    <meta name="Keywords" content=" " />
    <title>Setting</title>
</head>
<frameset border="0" id="forum" name="forum" framespacing="0" frameborder="no" cols="299,8,*" scrolling="auto" noresize>
    <frame name="tree_menu" src="@Url.Content("~/Admin/Setting/Tree")" marginwidth="0" marginheight="0" scrolling="auto" noresize>
    <frame name="forum_separator" src="@Url.Content("~/Admin/Setting/Separator")" marginwidth="0" marginheight="0" scrolling="no" noresize=noresize>
    </frame><frame name="treeFrame" id="treeFrame" src="@Url.Content("~/Admin/Setting/Node")" marginwidth="00" marginheight="0" scrolling="auto" noresize=noresize>
</frame></frameset>
<noframes></noframes>
</html>