﻿@{
    Layout = null;
}

@model PinganHouse.SHHTS.Entities.Setting

<link rel="stylesheet" href="@Url.Content("~/Content/admin.css")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<style type="text/css">
    input[type='text'] {
        width: 300px;
    }
</style>
<script type="text/javascript">
    function submitSave() {
        if ($("#method").val() == "add") {
            $("form:eq(0)").attr("action", "@Url.Content("~/Admin/Setting/Add")");
        }
        return true;
    }
    function submitDel() {
        if (confirm("你确定删除此配置节点吗,请确认此节点没有子配置项")) {
            $("form:eq(0)").attr("action", "@Url.Content("~/Admin/Setting/Remove")");
            return true;
        }
        return false;
    }
    $(document).ready(function () {
        var message = $("#ResultMessage").val();
        if (message.length > 0) {
            alert(message);
        }

        window.parent.frames["tree_menu"].window.Refresh();
    });
</script>

@{
    string nodeId = string.Empty;
    string nodeName = string.Empty;
    string nodeDesc = string.Empty;
    string nodePath = string.Empty;
    string nodeValue = string.Empty;

    string nodeTitle = "新增";

    string nameClass = "", nameReadonly = "";

    if (Model != null)
    {
        nodeId = Model.Id;
        nodeName = Model.Name;
        nodeDesc = Model.Description;
        nodePath = Model.Path;
        nodeValue = Model.Value;

        nodeTitle = nodeName;

        nameReadonly = "readonly=\"readonly\"";
        nameClass = "readonly";
    }

}

@using (Html.BeginForm("Node", "Setting"))
{
    <div class="btnbox_t">
        <input type="submit" value="保 存" class="form_btn" onclick="return submitSave();" />
        <input type="submit" value="删 除" class="form_btn" onclick="return submitDel();" />
    </div>
    <fieldset class="forms_style">
        <h3><span><b>配置信息-@nodeTitle</b></span></h3>
        <table class="formtable">
            <tbody>
                <tr>
                    <th>编号：</th>
                    <td><input name="id" type="text" value="@nodeId" readonly="readonly" class="readonly" /></td>
                </tr>
                <tr>
                    <th> 名称：</th>
                    <td><input name="name" type="text" value="@nodeName" class="required @nameClass" @nameReadonly /></td>
                </tr>
                <tr>
                    <th>描述：</th>
                    <td><input name="desc" type="text" value="@nodeDesc" /></td>
                </tr>
                <tr>
                    <th>路径：</th>
                    <td><input name="path" type="text" value="@nodePath" readonly="readonly" class="readonly" /></td>
                </tr>
                <tr>
                    <th>值：</th>
                    <td>
                        <textarea id="value" name="value" cols="60" rows="15">@nodeValue</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="parentId" value="@Request["pid"]" />
        <input type="hidden" id="method" value="@Request["action"]" />
    </fieldset>
    <input type="hidden"  id="ResultMessage" value="@ViewBag.ResultMessage"/>
}