﻿@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" rev="stylesheet" href="@Url.Content("~/Content/admin.css")" type="text/css" media="screen" />
    <script language="javascript">
        function hideLeftFrame() {
            if (parent.document.getElementById("forum").cols != "0,8,*") {
                parent.document.getElementById("forum").cols = "0,8,*";
                document.getElementById("power").className = "power_close";
            } else {
                parent.document.getElementById("forum").cols = "249,8,*";
                document.getElementById("power").className = "power_open";
            }
        }
    </script>
</head>
<body>
    <div class="power_body">
        <div style="height:50%"><!-- --></div>
        <div id="power" class="power_open" onclick="hideLeftFrame()"><!-- --></div>
    </div>
</body>
</html>
