﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Setting</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/zTree/css/zTreeStyle.css")" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/zTree/jquery.ztree.core-3.5.js")"></script>

    <script type="text/javascript">
        var tmpLastNode = null;
        var tmpTreeId = null;
        var setting =
        {
            view: {
                showIcon: true
            },
            async: {
                enable: true,
                type: "post",
                url: "@Url.Content("~/Admin/Setting/LoadChildren")",
                autoParam: ["id", "rootId"]
            },
            callback: {
                onClick: function (event, treeId, treeNode) {
                    tmpLastNode = treeNode;
                    tmpTreeId = treeId;
                    if (treeNode.id == -2) {
                        var treeObj = $.fn.zTree.getZTreeObj(treeId);
                        var node = treeNode.getParentNode();
                        treeObj.reAsyncChildNodes(node, "refresh");
                    }
                },
                onAsyncSuccess: function (event, treeId, treeNode, msg) {
                    //alert(msg);
                },
                onAsyncError: function zTreeOnAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }
            }
        };

        $(document).ready(function () {
            var zNodes = eval($("#TreeRootJson").val());
            $.fn.zTree.init($("#tree"), setting, zNodes);

        });
        window.Refresh = function () {
            if (tmpLastNode != null && tmpTreeId != null) {
                var treeObj = $.fn.zTree.getZTreeObj(tmpTreeId);
                var node = tmpLastNode.getParentNode();
                treeObj.reAsyncChildNodes(node, "refresh");
            }
        }
    </script>
</head>
<body>
    <div>
        <ul id="tree" class="ztree" style="width:260px; height:100%; overflow:visible;"></ul>
        <input type="hidden" value="@ViewBag.TreeRootJson" id="TreeRootJson" />
    </div>
</body>
</html>
