﻿/*public*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body{ font-size:12px; background:#FFFFFF;}
html, body { height: 100%; }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: block;}
select.vam,input.vam{ font-family:Tahoma; vertical-align:middle;border:0px;margin:0px;padding:0px;}

.btnbox_t{ clear:both; padding-bottom:10px;}
.btnbox_b{ clear:both; padding-top:10px;}
.btnbox_c{ clear:both; padding-top:10px; margin-bottom:10px;}

/*font*/
.rad{color:#ff0000;}

/*page*/
.paginator{text-align:right;height:20px;line-height:20px;color:#509100;font-size:12px;padding-right:0px;display:inline;float:right;}
.paginator .inputLine{margin:0px 2px;}
.paginator a{border:1px solid #BCD792;padding:3px 6px 1px 6px;color:#509100;text-decoration:none;margin:0px 2px;}
.paginator a:hover{border:1px solid #BCD792;background:#F0F7E2;color:#509100;text-decoration:none;}
.paginator a.p_on{border:1px solid #BCD792;background:#F0F7E2;color:#509100;text-decoration:none;font-weight:bold;}
.paginator .this-page{font-weight:bold;margin:0px 2px;}
.paginator .pageTitle{display:inline;margin:0px 2px;}

.page{float:right; clear:both;}
.page a{ float:left; height:17px; line-height:17px; padding:0 6px; margin-right:4px; border:1px solid #ccc;text-decoration:none; color:#509100}
.page a:hover,.page a.current{background:#666666; color:#ffffff; text-decoration:none; height:17px; line-height:17px; border:1px solid #666666;}
.page a.current{ font-weight:bold;}
.page a.pre,.page a.next,.page a.pre:hover,.page a.next:hover{background:url(../images/admin/pages.gif) no-repeat; border:0px;line-height:19px;height:19px;}
.page a.pre{ padding:0 8px 0 15px;color:#333333}
.page a.pre:hover{background-position:-60px 0; color:#ff6600}
.page a.pre:active{background-position:-120px 0; color:#509100}
.page a.next{ padding:0 15px 0 8px; background-position:-240px 0;color:#333333}
.page a.next:hover{ background-position:-300px 0;color:#ff6600}
.page a.next:active{ background-position:-360px 0;color:#509100}
.page .page_go{ width:20px; margin:0 6px; font-family:Tahoma;vertical-align:middle; height:14px;}
.page .go{width:40px; cursor:pointer; font-size:12px;background:url(../images/admin/pages.gif) right -1px no-repeat; border:0px; line-height:18px; height:18px;_padding-top:1px;*padding-top:1px;}

.search_box{ padding:10px; color:#333333; border:1px solid #D4E8B6; line-height:20px; }
.search_box h3{ line-height:30px;}
.search_box input{ color:#666666 background:#ffffff; border:1px solid #809DB9; margin-right:10px;}
.search_box a.btn{background:url(../images/admin/btn_bg.jpg) left bottom; padding:3px 10px 4px 10px; _padding:5px 10px 3px 10px; border:1px #FC7C00 solid; margin-left:30px; position:relative; top:-4px; color:#ffffff; font-weight:bold; text-decoration:none;}
.search_box a.btn:hover{text-decoration:underline}
.search_box input.btn{padding:3px 10px 3px 10px; *padding:5px 10px 1px 10px; font-size:12px; color:#FFFFFF;font-weight:bold; text-decoration:none; background:url(../images/admin/btn_bg.jpg) left -66px; border:1px solid #FC7C00; *border:1px solid #FFFFFF ; width: auto;_width: 0;overflow:visible !ie; background-color:#FC7C00; cursor:pointer;}
.search_box input.btn:hover{color:#FFFFFF; background:url(../images/admin/btn_bg.jpg) left -66px;border:1px solid #FC7C00; *border:1px solid #FFFFFF ;background-color:#FC7C00; cursor:pointer;}



/*forms for new*/
.f_left{display:inline;float:left;color:#ff6600;}
.forms{}
.forms_style{}
.forms_style label{ display:inline-block;}
.forms_style h3{ background:url(../images/admin/legendbg.gif); height:22px; border:1px solid #BCD792;margin-bottom: 10px;}
.forms_style h3 span{ background:url(../images/admin/tab_bg.gif) no-repeat; height:28px; display:block; position:absolute; margin:-5px 0px 0px 15px ; padding:0px 0px 0px 24px; font-size:14px;}
.forms_style h3 span b{ background:url(../images/admin/tab_bg.gif) right top no-repeat;display:block;height:28px; position:absolute;  padding:0px 10px 10px 0px; white-space:nowrap;letter-spacing:1px;}

.forms_style label span{}
.forms_style label span b{ color:#FF0000; padding:0px 3px; font-weight:normal;}
.forms_style input{ color:#333333;border-top:1px solid #9A9A9A;border-left:1px solid #9A9A9A; border-bottom:1px solid #D8D8D8; border-right:1px solid #D8D8D8;}
.forms_style input.vam{border:0px;padding:0px;margin:0px;}
.forms_style textarea{ color:#333333;border-top:1px solid #9A9A9A;border-left:1px solid #9A9A9A; border-bottom:1px solid #D8D8D8; border-right:1px solid #D8D8D8;}


.lab_fl{ float:left; margin-right:6px !important; margin-right:4px; padding-top:4px;}

input.form_btn{padding:3px 20px 3px 20px; *padding:5px 20px 1px 20px; font-size:14px; color:#417C05;font-weight:bold; text-decoration:none; background:url(../images/admin/btn_bg.gif) left -52px; border:1px solid #6DA61F; *border:1px solid #FFFFFF ; width: auto;_width: 0;overflow:visible !ie; background-color:#6DA61F; cursor:pointer;}
input.form_btn:hover{color:#FFFFFF; background:url(../images/admin/btn_bg.gif) left -28px;border:1px solid #6DA61F; *border:1px solid #FFFFFF ;background-color:#6DA61F; cursor:pointer;}
input.form_btn2{padding:1px 5px 2px 5px; *padding:3px 5px 0px 5px; font-size:12px; color:#417C05;font-weight:normal; text-decoration:none; background:url(../images/admin/btn_bg.gif) left -52px; border:1px solid #6DA61F; *border:1px solid #FFFFFF ; width: auto;_width: 0;overflow:visible !ie; background-color:#6DA61F; cursor:pointer;}
input.form_btn2:hover{color:#FFFFFF; background:url(../images/admin/btn_bg.gif) left -28px;border:1px solid #6DA61F; *border:1px solid #FFFFFF ;background-color:#6DA61F; cursor:pointer;}

/*login*/
.admin_body{background:url(../images/admin/main_bg.gif) 0 -0px;}
.admin_body h3{height:84px; min-width:1000px; background:url(../images/admin/logo.jpg) 0 -0px no-repeat;text-indent:-9999px;}
.admin_login{width:507px;height:220px;padding-top:100px;background: url(../images/admin/login.png) 0 0 no-repeat; margin:0px auto;margin-top:100px; position:relative}
.admin_login p{height:26px;line-height:26px;padding:5px 0px;margin:0px;}
.admin_login .login_input{width:208px;height:22px;line-height:22px;border:1px #cccccc solid;font-family:Tahoma; vertical-align:middle;margin-top:-3px;}
.admin_login .change_pwd{ background:#E4F0CE; position:absolute; width:100px; height:40px; top:48px; left:100px; color:#509100; line-height:40px; overflow:hidden; font-weight:bold; font-size:18px; font-family:"幼圆"}
.admin_login  label{float:left;width:150px;text-align:right;padding-right:5px;font-size:14px;color:#333333;line-height:26px;}

/*table*/
.formtable{margin:10px 0px; width:100%; color:#666666}
.formtable,.formtable td,.formtable th{ vertical-align:top; border:1px solid #BCD792;border-collapse:collapse;}
.formtable td,.formtable th{ padding:4px;}
.formtable th{ text-align:right;background:#F0F7E2; color:#333333}
.formtable tbody th{ width:150px;vertical-align: middle;}
.formtable th b{ color:#FF0000; font-weight:normal;}
.formtable td a{ color:#4484D9; margin:0px 10px;}
.formtable td a.disable{ color:#CCCCCC; margin:0px 10px; cursor:default}
.formtable td p{display:block;line-height:18px;padding-bottom:10px;}
.formtable input{ margin-right:10px;}
.formtable select{ margin-right:10px;}

td.bgcolor_1, tr.bgcolor_1, th.bgcolor_1, tr.bgcolor_1 td, tr.bgcolor_1 th{ background:#FFCCCC}
td.bgcolor_2, tr.bgcolor_2, th.bgcolor_2, tr.bgcolor_2 td, tr.bgcolor_2 th{ background:#CCFFCC}

.datatable{border-collapse: collapse;margin:10px 0px; width: 100%;border: 1px solid #D4E8B6; border-bottom:1px solid #E1E1E1;}
.datatable,.datatable td,.datatable th{ vertical-align:top; border:1px solid #BCD792;border-collapse:collapse;}
.datatable thead{border: 1px solid #D4E8B6; line-height:26px; border-bottom:none;}
.datatable th {background: #F1F7E2;color: #fff;font-weight: bold;padding: 2px 4px;text-align: left; color:#333333; text-align:center; border-bottom:1px solid #D4E8B6; }
.datatable td {padding: 6px 4px; vertical-align: top; line-height:20px; text-align:center}
.datatable td.t_left{text-align:left;}
.datatable td .red{color:#ff0000;}
.datatable td a{ color:#509100;padding-right:5px;}
.datatable td a:hover{ color:#ff6600;}
.datatable td a.gray{color:#999999;}
.datatable tr.alt td {background: #F1F1F1;}
.datatable tr.over td {background: #F1F7E2;}
.datatable td span.content{ display:block;overflow:hidden;text-overflow:ellipsis; margin:0 auto;width:20em; max-height:50px; _height:50px }
h4{padding-top:20px;}


/*muban*/
.header_body{background:url(../images/admin/main_bg.gif) 0 -16px;height:70px;overflow:hidden;}
.logo_bg{height:70px; min-width:1000px; background:url(../images/admin/logo.jpg) 0 -16px no-repeat;}
.head_menu{ position:absolute; top:0px; right:20px;height:36px;overflow:hidden; }
		.head_menu_l{float:left; width:10px; height:36px; background:url(../images/admin/head_menu.jpg);}
		.head_menu_c{ width:510px;float:left; height:36px; background:url(../images/admin/head_menu.jpg) -36px;}
			.notes{ float:left; margin:5px 0 0 0; padding:0px 5px; width:220px; height:22px; line-height:22px; color:#666666; overflow:hidden; background:url(../images/admin/notes_bg.jpg);}
			.menu_ul{ float:left;}
			.menu_ul li{ float:left; line-height:30px; color:#999999;}
			.menu_ul li a{ padding:0px 25px;color:#509100;}
			.menu_ul li a:hover{color:#ff6600;}
			.menu_ul li a.current{ font-size:14px; color:#509100; font-weight:bold;}
		.head_menu_r{float:left; width:10px; height:36px; background:url(../images/admin/head_menu.jpg) left -72px;}
		
.a_body{width:100%;height:100%;}
.a_left{float:left;background:#ffffff;width:250px;height:100%;}
.a_right{float:left;width:724px;padding:10px;}

/*------power.html------*/
.power_body{width:6px;height:100%;background:#D4E8B6;border-left:1px solid #BAD68E; border-right:1px solid #BAD68E;vertical-align:middle;}
.power_open{ width:6px; height:43px; background:url(../images/admin/power.jpg); cursor:pointer;}
.power_close{ width:6px; height:43px; background:url(../images/admin/power.jpg) -6px; cursor:pointer;}
table#a_b{width:100%;height:100%;} 
#a_left{vertical-align:top;}
#a_right{padding:10px;}

/*menu*/
.a_left{}
.a_left dl{width:250px;}
.a_left dl dt{width:250px;height:30px;line-height:30px;background:url(../images/admin/menu_2.jpg);color:#666666;font-weight:bold;font-size:14px;text-indent:15px;cursor:pointer;}
.a_left dl dd{height:24px;line-height:24px;}

.a_left dl.d_open dt{width:250px;height:30px;line-height:30px;background:url(../images/admin/menu_1.jpg);color:#509100;font-weight:bold;font-size:14px;text-indent:15px;}

/*treeview*/
.treeview a{ color:#666666; text-decoration:none;}
.treeview, .treeview ul {padding: 0;margin: 0;list-style: none;}
.treeview ul {background-color: white;margin-top: 4px;}
.treeview .hitarea {background: url(../images/admin/tree/treeview-default.gif) -64px -25px no-repeat;height: 16px;width: 16px;margin-left: -16px;float: left;cursor: pointer;}
/* fix for IE6 */
* html .hitarea {display: inline;float:none;}
.treeview li {margin: 0;padding: 3px 0pt 3px 16px;}
.treeview a.selected {background-color: #eee;}
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color:#509100; cursor: pointer; }
.treeview li { background: url(../images/admin/tree/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/admin/tree/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview li.expandable span.tree_power{ float:right; width:16px; height:16px; background:url(../images/admin/tree/tree_power.jpg) no-repeat; margin:7px 15px 0px 0px;}
.treeview li.collapsable span.tree_power{ float:right; width:16px; height:16px; background:url(../images/admin/tree/tree_power.jpg) right no-repeat; margin:7px 15px 0px 0px;}
.treeview li.first{ background:none;}
.treeview li.first span.first{ display:block; width:100%; color:#666666; line-height:28px; font-size:14px; font-weight:bold; background:url(../images/admin/tree/maintree_bg.jpg); border-top:1px solid #cccccc;}
.treeview li.first span.first b{ margin-left:16px;}
.treeview li.first ul.sub_ul{ margin:5px 0px 5px 16px;}
.treeview li.first div.first-hitarea{ display:none;}
.treeview li.collapsable span.first{ border-bottom:1px solid #cccccc;}
.treeview li.lastExpandable span.first{ border-bottom:1px solid #cccccc;}
.treeview li.last span.first{ border-bottom:1px solid #cccccc;}
.treeview li.first { padding: 0px 0 0px 0px;}
.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file ,.filetree span.file1{ padding: 1px 0 1px 20px; display: block; }
.filetree span.folder { background: url(../images/admin/tree/folder.gif) 0 0 no-repeat; color:#509100; }
.filetree li.expandable span.folder { background: url(../images/admin/tree/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../images/admin/tree/file.gif) 0 0 no-repeat; }
.filetree span.file1 { background: url(../images/admin/tree/file.gif) 0 0 no-repeat; color:#FF0000; font-size:12px;}
.filetree span.file1 a{color:#FF0000;}
