﻿@{
    ViewBag.Title = "应用管理人员配置";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="width:90%" id="main-content">
    <div class="easyui-layout" style="width: 100%;min-height:780px;">
        <div data-options="region:'north'" style="height:35px">
            <b style="padding: 10px;line-height: 25px;">点击左侧应用列表为每个应用添加相对应的管理人员</b>
        </div>
        <div data-options="region:'west',split:true,collapsible:false" title="应用列表" style="width:450px;">
            <div id="gataGrid"></div>
        </div>
        <div data-options="region:'center',title:'管理人员',iconCls:'icon-ok'">
            <div id="gataGridRelation"></div>
        </div>
    </div>
</div>
<div id="w"></div>
<script>
    var toolbar = [
        {
            text: '添加人员',
            iconCls: 'icon-add',
            handler: function() {
                addUserToApplications();
            }
        }];
    
    var dtoolbar = [{
        text: '确定',
        iconCls: 'icon-save',
        handler: function () {
            saveUserToApplications();
        }
    }, '-', {
        text: '取消',
        iconCls: 'icon-edit',
        handler: function () {
            $("#w").dialog("close");
        }
    }];

    $(function () {
                        
        //加载数据  
        $('#gataGrid').datagrid({
            fit: true,
            url: '/Admin/Applications/GetApplicationsList',
            loadMsg: '数据加载中请稍后……',
            toolbar: '#tb',
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'ApplicationsNo', title: '应用程序编码', align: 'left', width: 150 },
                { field: 'ApplicationsName', title: '应用程序名称', align: 'left', width: 180 }
            ]],
            onClickRow: function(rowIndex, rowData) {
                if (!rowData) return;
                $('#gataGridRelation').datagrid('load', {
                    applications: rowData.SysNo
                });
            }
        });
        //加载数据  
        $('#gataGridRelation').datagrid({
            fit: true,
            url: '/Admin/User/GetUserListInApplications',
            loadMsg: '数据加载中请稍后……',
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            toolbar: toolbar,
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'Name', title: '用户名', align: 'left', width: 120 },
                { field: 'UserName', title: '人员名称', align: 'left', width: 120 },
                { field: 'CreateDate', title: '添加时间', align: 'left', width: 180 },
                {
                    field: 'opt', title: '操作', width: 150, align: 'center',
                    formatter: function (value, row, index) {
                        var e = '<a href="#" class="editcls" onclick="delUserInApplications(\'' + index + '\')">移除</a> ';
                        return e;
                    }
                }
            ]],
            onLoadSuccess: function () {
                $('.editcls').linkbutton({ text: '移除', plain: true, iconCls: 'icon-cut' });
            }
        });
    });

    //给应用程序添加人员
    function addUserToApplications() {
        var row = $('#gataGrid').datagrid('getSelected');
        if (!row) return;
        $("#w").dialog({
            title: '选择人员',
            toolbar: dtoolbar,
            width: 600,
            height: 400,
            href: '/Admin/User/UserIndex?applications=' + row.SysNo,
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true
        });
        $("#w").dialog("open");
    }

    //保存管理人员到应用程序
    function saveUserToApplications() {
        var rows = $('#userList').datagrid('getSelections');
        if (rows.length == 0) return;
        var userList = [];
        for (var i = 0; i < rows.length; i++) {
            var user = {};
            user.SysNo = rows[i].SysNo;
            user.DomainName = rows[i].DomainName;
            userList.push(user);
        }
        
        var applicationsRow = $('#gataGrid').datagrid('getSelected');
        var applications = {};
        applications.SysNo = applicationsRow.SysNo;
        applications.ApplicationsNo = applicationsRow.ApplicationsNo;

        $.ajax({
            url: '/Admin/User/AddUserListToApplications',
            type: "POST",
            datatype: 'json',
            data: {
                applications: JSON.stringify(applications),
                userList: JSON.stringify(userList)
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统消息', '当前操作保存成功!', 'info', function () {
                        $("#w").dialog("close");
                        $("#gataGridRelation").datagrid('reload');
                    });
                } else {
                    $.messager.alert('系统消息', '很抱歉,当前操作保存失败!', 'info');
                }

            },
            error: function () {
                $.messager.alert('系统错误', '很抱歉,当前操作保存错误!', 'error');
            }
        });
    }
    
    //移除人员
    function delUserInApplications(index) {
        $('#gataGridRelation').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGridRelation').datagrid('getSelected');
        $.messager.confirm('系统提示', '确定移除当前选择的管理人员?', function (r) {
            if (r) {
                $.ajax({
                    url: '/Admin/User/RemoveUserInApplications',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (opt) {
                        if (opt) {
                            $.messager.alert('系统提示', '移除证书成功!', 'info');
                            $('#gataGridRelation').datagrid('reload');
                        } else {
                            $.messager.alert('系统提示', '很抱歉,移除证书操作失败!', 'info');
                        }
                    },
                    error: function () {
                        $.messager.alert('系统错误', '很抱歉,移除操作发生错误!', 'error');
                    }
                });
            }
        });
    }
</script>