﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style type ="text/css">
    input  {
        border: 1px skyblue solid;
        min-height: 20px;
    }
    textarea {
        border: 1px skyblue solid; 
        min-height: 20px;
    }
    select {
        border: 1px skyblue solid; 
        min-height: 20px;
    }
</style>
<div style="margin-left:25px;margin-top:25px;line-height:25px;">
    <input id="sysNo" type="hidden" />
    <div>应用编号：<input id="applicationsNo" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>应用名称：<input id="applicationsName" type="text"  class="easyui-validatebox textbox" data-options="required:true"/></div>
    <div>应用说明：<br/><textarea id="applicationsDescribe" cols="30" rows="4"></textarea></div>
</div>
