﻿@{
    ViewBag.Title = "应用程序列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="../../Content/default.css" rel="stylesheet" />
<div style="width:91%;">
    <div id="gataGrid"></div>
</div>
<div id="w"></div>
<script>
    var toolbar = [{
        text: '新增应用',
        iconCls: 'icon-add',
        handler: function () {
            addApplications();
        }
    }, '-', {
        text: '编辑应用',
        iconCls: 'icon-edit',
        handler: function () {
            var row = $('#gataGrid').datagrid('getSelected');
            if (row) {
                var index = $('#gataGrid').datagrid('getRowIndex', row);
                eidtApplications(index);
            } else {
                $.messager.alert('系统提示', '未选择行数据!', 'info');
            }
        }
    }];
    
    var dtoolbar = [{
        text: '保存',
        iconCls: 'icon-save',
        handler: function () {
            saveApplications();
        }
    }, '-', {
        text: '取消',
        iconCls: 'icon-edit',
        handler: function () {
            $("#w").dialog("close");
        }
    }];

    $(function () {
        //加载数据  
        $('#gataGrid').datagrid({
            widht: 'auto',
            url: '/Admin/Applications/GetApplicationsList',
            loadMsg: '数据加载中请稍后……',
            toolbar: toolbar,
            pagination: true,
            rownumbers: true,
            striped: true, //隔行变色
            singleSelect: true, //单选
            fitColumns: false,　//禁止自适应宽度、可以水平滚动
            queryParams: {
                status: status,
                filter: null
            },
            pageSize: 25,
            pageList: [25, 40, 60, 80],
            columns: [[
                { field: 'SysNo', title: '', align: 'left', width: 100, hidden: true },
                { field: 'ApplicationsNo', title: '应用程序编码', align: 'left', width: 125 },
                { field: 'ApplicationsName', title: '应用程序名称', align: 'left', width: 180 },
                { field: 'CreateDate', title: '创建时间', align: 'left', width: 150 },
                { field: 'Icon', title: '显示样式', align: 'left', width: 150,formatter:function(val){
                    return "<span style='padding-left:25px;' class='icon " + val + "'>" + val + "</span>";
                    }
                }
            ]],
            onClickRow: function (rowIndex, rowData) {
                if (!rowData) return;
            }
        });
    });
    
    //添加应用
    function addApplications() {
        $("#w").dialog({
            title: '编辑应用',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/Applications/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/Applications/GetApplications',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        SysNo: 0
                    },
                    success: function (opt) {
                        $("#sysNo").val(0);
                        $("#applicationsNo").val(opt.ApplicationsNo);
                        $("#applicationsName").val(opt.ApplicationsName);
                        $("#applicationsDescribe").val(opt.ApplicationsDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }



    //编辑应用
    function eidtApplications(index) {
        $('#gataGrid').datagrid('selectRow', index);// 关键在这里
        var row = $('#gataGrid').datagrid('getSelected');
        
        $("#w").dialog({
            title: '编辑主体',
            toolbar: dtoolbar,
            width: 300,
            height: 300,
            href: '/Admin/Applications/Edit',
            iconCls: 'icon-edit',
            cache: false,
            modal: true,
            closed: true,
            onLoad: function () {
                $.ajax({
                    url: '/Admin/Applications/GetApplications',
                    type: "POST",
                    datatype: 'json',
                    data: {
                        sysNo: row.SysNo
                    },
                    success: function (opt) {
                        $("#sysNo").val(opt.SysNo);
                        $("#applicationsNo").val(opt.ApplicationsNo);
                        $("#applicationsName").val(opt.ApplicationsName);
                        $("#applicationsDescribe").val(opt.ApplicationsDescribe);
                    }
                });
            }
        });
        $("#w").dialog("open");
    }
    
    function saveApplications() {
        var applications = {};
        applications.SysNo = $("#sysNo").val();
        applications.ApplicationsNo = $("#applicationsNo").val();
        applications.ApplicationsName = $("#applicationsName").val();
        applications.ApplicationsDescribe = $("#applicationsDescribe").val();
        $.ajax({
            url: '/Admin/Applications/SaveApplications',
            type: "POST",
            datatype: 'json',
            data: {
                applications: JSON.stringify(applications)
            },
            success: function (opt) {
                if (opt) {
                    $.messager.alert('系统消息', '当前操作保存成功!', 'info', function () {
                        $("#w").dialog("close");
                        $("#gataGrid").datagrid('reload');
                    });
                } else {
                    $.messager.alert('系统消息', '很抱歉,当前操作保存失败!', 'info');
                }

            },
            error: function () {
                $.messager.alert('系统错误', '很抱歉,当前操作保存错误!', 'error');
            }
        });
    }
</script>
