﻿
@{
    ViewBag.Title = "Search";
}<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>搜索案件</title>

    <meta name="keywords" content="上海好房" />
    <meta name="description" content="平安好房网(Pinganfang.com) 是中国平安集团下的专业房地产平台，专业提供上海新房、上海二手房、上海租房、海外房产等服务，并有在线购房、在线租房、在线竞价、在线支付等多项全新的服务功能，满足您的不同需求">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="http://static.pinganfang.com/css/iconfont/iconfont.css" />
    <link rel="Shortcut Icon" href="http://static.pinganfang.com/201504241643/img/web/common/favicon.ico" />
    <link href="~/Content/static/common/base.css" rel="stylesheet" />
    <link href="~/Content/static/esf.css" rel="stylesheet" />

</head>
<body>
    <div class="wxh_main">
        <div class="search_option">
            <dl><input type="text" placeholder="请输入案件编号"></dl>
            <dl class="addr_option">物业地址</dl>
            <dl class="addr_select  ">
                <dt>上海 上海市</dt>
                <dd>
                    <select>
                        <option value="黄浦区">黄浦区</option>
                        <option value="徐汇区">徐汇区</option>
                        <option value="长宁区">长宁区</option>
                        <option value="静安区">静安区</option>
                        <option value="普陀区">普陀区</option>
                        <option value="闸北区">闸北区</option>
                        <option value="虹口区">虹口区</option>
                        <option value="杨浦区">杨浦区</option>
                        <option value="闵行区">闵行区</option>
                        <option value="宝山区">宝山区</option>
                        <option value="嘉定区">嘉定区</option>
                        <option value="浦东新区">浦东新区</option>
                        <option value="金山区">金山区</option>
                        <option value="松江区">松江区</option>
                        <option value="青浦区">青浦区</option>
                        <option value="奉贤区">奉贤区</option>
                        <option value="崇明县">崇明县</option>
                    </select>
                    <i class="iconfont">&#xe66a;</i>
                </dd>
            </dl>
            <dl><input type="text" placeholder="请输入详细物业地址"></dl>
            <dl>
                <dt>案件状态</dt>
                <dd>
                    <select>
                        <option value="全部交易">全部交易</option>
                        <option value="进行中">进行中</option>
                        <option value="已完成">已完成</option>
                    </select>
                    <i class="iconfont">&#xe66a;</i>
                </dd>
            </dl>
            <dl> <dt>签约时间</dt> <dd> <input type="text" placeholder="前三个月" id="start_date" />-<input id="end_date" type="text" placeholder="至今" /><i class="iconfont">&#xe66a;</i></dd></dl>
        </div>
        <div class="search_btn"><button>搜索案件</button></div>
    </div>
    <script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
    <script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
    <script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

    <script>
 KISSY.use('node,calendar,calendar/assets/dpl.css', function(S, Node, Calendar) {
	        var S_Date = S.Date;
		var startdata,enddate;
     new Calendar('#start_date', {
            popup:true,
            triggerType:['click'],
            closable:true,
			align:{points:['bl','tl'],offset:[10,10]}
        }).on('select', function(e) {
			startdata=e.date;
            Node.one('#start_date').val(S_Date.format(startdata, 'localLongDate'));
        });



	new Calendar('#end_date', {
            popup:true,
            triggerType:['click'],
            closable:true,
			align:{points:['bl','tl'],offset:[-100,10]}
        }).on('select', function(e) {
			enddate=e.date;
			if(startdata <= enddate){
            Node.one('#end_date').val(S_Date.format(enddate, 'localLongDate'));
			}else{
			alert('结束日期不能小于开始日期');
			}
        });


    });

    </script>

</body>
</html>
