﻿@{
    ViewBag.Title = "交易记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tradeDetailList = Model as List<PinganHouse.SHHTS.WebUI.Models.TradeDetailInfo>;
    var isMine = Convert.ToInt32(ViewData["IsMine"]);
    var caseId = Convert.ToString(ViewData["CaseId"]);
}
<input id="isMine" type="hidden" value="@(isMine)" />
<input id="caseId" type="hidden" value="@(caseId)" />
<div class="fd-repayment-detail esf-fd-calculator">

    <div class="tab-title">
        <a class="item left-border-radius @(isMine == 0 ? "active" : "")" href="/Transaction?isMine=0&caseId=@(caseId)">
            全部
        </a><a class="item right-border-radius @(isMine == 1 ? "active" : "")" href="/Transaction?isMine=1&caseId=@(caseId)">我的</a>
    </div>
    <div class="deal-detail-list" id="J_List">
        @{
            var length = 0;
            if (tradeDetailList != null) { 
                foreach (var tradeDetail in tradeDetailList)
                {
                    <div class="detail-item">
                        <a href="/Transaction/TransferDetails?tradeNo=@(tradeDetail.TradeNo)&orderNo=@(tradeDetail.OrderNo)&caseId=@(tradeDetail.CaseId)" class="cover-link"></a>
                        <div class="detail-item-tit clearfix">
                            <span class="tit-item">@(tradeDetail.Payment)</span>
                            <span class="tit-item max-width-150">-@(tradeDetail.TenementAddress)</span>
                            <span class="tit-item">-@(tradeDetail.OrderBizTypeDes)</span>
                            <div class="detail-date">@(tradeDetail.CreateDateDes)</div>
                        </div>
                        <div class="detail-item-money clearfix">
                            <div class="detail-money">￥@(tradeDetail.Amount)</div>
                            <div class="detail-status">@(tradeDetail.Status)</div>
                        </div>
                    </div>
                    length++;
                }
            }
            if (length == 0)
            {
                <div style="text-align:center;margin:15px,15px;">亲，您还没有交易记录哦！</div>
            }
        }
    </div>

</div>
<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>
<script>
    KISSY.use('ajax, event', function (S, IO, Event) {

        Event.delegate('#J_List', 'click', '.J_Collspan', function (e) {
            var el = S.one(e.currentTarget);
            var father = el.parent().parent().parent();
            if (father.hasClass("hover-grey")) {
                if (el.attr('data-show') === "yes") {
                    father.next().hide();
                    el.attr('data-show', 'no');
                    el.html("&#xe633;");
                } else {
                    father.next().show();
                    el.attr('data-show', 'yes');
                    el.html("&#xe63f;");
                }
            }
        });



        var isSendFlag = false;
        var pageIndex = 1;
        function getDealData() {
            IO({
                url: '/Transaction/GetTradeModeAjaxList',
                type: 'post',
                dataType: "json",
                beforeSend: function () {
                    S.one('#J_List').append('<div class="loading"></div>');
                    isSendFlag = true;
                },
                data: {
                    pageIndex: pageIndex + 1,
                    caseId: S.one("#caseId").val(),
                    isMine: S.one("#isMine").val()
                },
                success: function (data) {
                    S.all('.loading').remove();
                    renderDealList(data);
                    pageIndex += 1;
                    isSendFlag = false;
                },
                error: function () {
                    alert();
                    S.all('.loading').remove();
                    isSendFlag = false;
                }
            });
        }

        function renderDealList(response) {
            var tradeDetailList = response.data;
            var array = new Array();
            var length = tradeDetailList.length;
            for (var i = 0; i < length; i++) {
                var tradeDetail = tradeDetailList[i];
                var item = [                
                '<div class="detail-item">',
                    '<a href="/Transaction/TransferDetails?tradeNo=' + tradeDetail.TradeNo + '&orderNo=' + tradeDetail.OrderNo + '&caseId=' + tradeDetail.CaseId + '" class="cover-link"></a>',
                    '<div class="detail-item-tit clearfix">',
                        '<span class="tit-item">' + tradeDetail.Payment + '</span>',
                        '<span class="tit-item max-width-150">-' + tradeDetail.TenementAddress + '</span>',
                        '<span class="tit-item">-' + tradeDetail.OrderBizTypeDes + '</span>',
                        '<div class="detail-date">' + tradeDetail.CreateDateDes + '</div>',
                    '</div>',
                    '<div class="detail-item-money clearfix">',
                        '<div class="detail-money">￥' + tradeDetail.Amount + '</div>',
                        '<div class="detail-status">' + tradeDetail.Status + '</div>',
                    '</div>',
                '</div>'
                ];
                array.push(item.join(''));
            }
            S.one('#J_List').append(array.join(''));
        }

        // 滚动到页底的时候请求数据
        Event.on(window, 'scroll', function () {
            if ((S.one(window).height() + S.one(window).scrollTop()) >= S.one("body").height()) {
                if (!isSendFlag) {
                    getDealData();
                }
            }
        });

    });

</script>