﻿@{
    ViewBag.Title = "交易详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dictionary = Model as Dictionary<string, object>;
    var order = dictionary["Order"] as PinganHouse.SHHTS.DataTransferObjects.Order;
    var tradeDetail = dictionary["TradeDetail"] as PinganHouse.SHHTS.DataTransferObjects.TradeDetail; 
    var caseDto=dictionary["Case"] as PinganHouse.SHHTS.DataTransferObjects.CaseDto; 
}
<div class="wxh_main">
    <div class="trade_detail_2">
        <table>
            <tr>
                <th scope="row" rowspan="2" class="border_show">房屋交易编号</th>
                <td>@(caseDto.CaseId)</td>
            </tr>
            <tr>
                <td class="border_show">@(caseDto.TenementAddress)</td>
            </tr>
            <tr>
                <th scope="row" class="border_show">交易金额</th>
                <td class="border_show">@(Math.Abs(tradeDetail.Amount))元</td>
            </tr>
            <tr>
                <th scope="row" class="border_show">资金用途</th>
                <td class="border_show"> @(PinganHouse.SHHTS.Utils.EnumExtends.GetDescription(order.OrderBizType))</td>
            </tr>
            <tr>
                <th scope="row" class="border_show">交易状态</th>
                <td class="border_show"> @(PinganHouse.SHHTS.Utils.EnumExtends.GetDescription(tradeDetail.Status))</td>
            </tr>
            <tr>
                <th scope="row" class="border_show">流水号</th>
                <td class="border_show">@(tradeDetail.TradeNo)</td>
            </tr>
            <tr>
                <th scope="row" class="border_show">创建时间</th>
                <td class="border_show trade_time">@(tradeDetail.CreateDate.ToString("yyyy-MM-dd HH:mm"))</td>
            </tr>
        </table>
    </div>
</div>
