﻿@{
    ViewBag.Title = "房贷计算器";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="esf-fd-calculator">

    <div class="tab-title">
        <a class="item left-border-radius active" href="Javascript:void(0);">
            房贷计算器
        </a><a class="item right-border-radius" href="/TaxCalculation/Index">税费计算器</a>
    </div>

    <div class="loan-type">
        <div class="border">
            <a class="item left-border-radius" href="Javascript:void(0);" id="sydk">
                商业贷款
            </a><a class="item both-border" href="Javascript:void(0);" id="gjjdk">
                公积金贷款
            </a><a class="item right-border-radius" href="IndexZH">组合贷款</a>
        </div>
    </div>

@using (Html.BeginForm("Search", "LoanCalculation", FormMethod.Post))
{
    <div class="calculator-option">
        <dl>
            <dt>还款方式</dt><dd>
                <b></b>
                <select class="select-txt" name="selHuanKuanFangShi" id="selHuanKuanFangShi">
                    <option value="1" selected="selected">等额本息</option>
                    <option value="2">等额本金</option>
                </select>
                <i class="iconfont">&#xe66a;</i>
            </dd>
        </dl>
        <dl>
            <dt>贷款总额</dt><dd>
                <input type="tel" role="text-number" class="input-txt" name="txtDaiKuan" id="txtDaiKuan">
                <i>万元</i>
            </dd>
        </dl>
        <dl>
            <dt>贷款年数</dt><dd>
                <b></b>
                <select class="select-txt" name="selAnJieNianShu" id="selAnJieNianShu">
                    <option value="1">1年（12期）</option>
                    <option value="2">2年（24期）</option>
                    <option value="3">3年（36期）</option>
                    <option value="4">4年（48期）</option>
                    <option value="5">5年（60期）</option>
                    <option value="6">6年（72期）</option>
                    <option value="7">7年（84期）</option>
                    <option value="8">8年（96期）</option>
                    <option value="9">9年（108期）</option>
                    <option value="10">10年（120期）</option>
                    <option value="11">11年（132期）</option>
                    <option value="12">12年（144期）</option>
                    <option value="13">13年（156期）</option>
                    <option value="14">14年（168期）</option>
                    <option value="15">15年（180期）</option>
                    <option value="16">16年（192期）</option>
                    <option value="17">17年（204期）</option>
                    <option value="18">18年（216期）</option>
                    <option value="19">19年（228期）</option>
                    <option value="20">20年（240期）</option>
                    <option value="21">21年（252期）</option>
                    <option value="22">22年（264期）</option>
                    <option value="23">23年（276期）</option>
                    <option value="24">24年（288期）</option>
                    <option value="25">25年（300期）</option>
                    <option value="26">26年（312期）</option>
                    <option value="27">27年（324期）</option>
                    <option value="28">28年（336期）</option>
                    <option value="29">29年（348期）</option>
                    <option value="30" selected="selected">30年（360期）</option>
                </select>
                <i class="iconfont">&#xe66a;</i>
            </dd>
        </dl>
        <dl>
            <dt>利<b></b>率</dt><dd>
                <b></b>
                <select class="select-txt" name="selLiLvZheKou" id="selLiLvZheKou">
                    <option value="0.7">7折</option>
                    <option value="0.75">7.5折</option>
                    <option value="0.8">8折</option>
                    <option value="0.85">8.5折</option>
                    <option value="0.88">8.8折</option>
                    <option value="0.9">9折</option>
                    <option value="0.95">9.5折</option>
                    <option value="0.97">9.7折</option>
                    <option value="1" selected="selected">基准利率</option>
                    <option value="1.1">1.1倍</option>
                    <option value="1.5">1.5倍</option>
                </select>
                <i class="iconfont">&#xe633;</i>
                <input type="tel" role="text-number" value="5.4" class="input-txt" name="txtLiLv" id="txtLiLv">%
            </dd>
        </dl>
    </div>

        <div class="calculator-btn">
            <button tyep="submit" class="btn-compute">开始计算</button>
        </div>

}

</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    var s;
    KISSY.use('uri', function (S, Uri) {
        var url = window.location.href;
        s = new Uri(url).getQuery().get('s')
       
        
    });

    KISSY.use("dom", function (S, DOM) {
        
        if (s == "gjj") {
            DOM.addClass("#gjjdk", "active");
            DOM.removeClass("#sydk", "active");
            S.one('#txtLiLv').val("3.5");
            S.one('#txtDaiKuan').val(50);
        } else {
            DOM.addClass("#sydk", "active");
            DOM.removeClass("#gjjdk", "active")
            S.one('#txtLiLv').val("5.4");
            S.one('#txtDaiKuan').val(100);
        }
        

        S.one('#gjjdk').on('click', function () {
            location.href = "/LoanCalculation/Index?s=gjj";
        });
        S.one('#sydk').on('click', function () {
            location.href = "/LoanCalculation/Index";
        });
    });
</script>