﻿@using PinganHouse.SHHTS.WebUI.Models
@{
    ViewBag.Title = "房贷计算结果";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loanModelList = Model as IList<PinganHouse.SHHTS.WebUI.Models.LoanModel>;
}


<input id="hidDaiKuan" type="hidden" value="@(ViewData["daiKuan"])" />
<input id="hidAnJieNianShu" type="hidden" value="@(ViewData["anJieNianShu"])" />
<input id="hidLiLv" type="hidden" value="@(ViewData["liLv"])"/>
<input id="hidHuanKuanFangShi" type="hidden" value="@(ViewData["huanKuanFangShi"])"/>
<input id="hidDaiKuanLeiXing" type="hidden" value="@(ViewData["daiKuanLeiXing"])"/>
<input id="hidDaiKuan_gjj" type="hidden" value="@(ViewData["daiKuan_gjj"])" />
<input id="hidAnJieNianShu_gjj" type="hidden" value="@(ViewData["anJieNianShu_gjj"])" />
<input id="hidLiLv_gjj" type="hidden" value="@(ViewData["liLv_gjj"])" />


<div class="fd-repayment-detail">

    <div class="page-title">房贷还款详情</div>

    <div class="pie-chart">
        <div class="detail-section">
            <div id="canvas">
                <div class='canvas_text'>
                    <label>&nbsp;</label>
                    <label>首月月供</label>
                    <span>@(ViewData["firstMonthMoney"])/月</span>
                </div>
            </div>

        </div>
    </div>

    <table class="repayment-detail-list">
        <thead>
        <th class="thead width-20">月份</th>
        <th class="thead width-25">月供本金</th>
        <th class="thead width-25">月供利息</th>
        <th class="thead width-30">剩余贷款</th>
        </thead>
        <tbody id="J_List">
        <tr>
            <td class="year">第1年</td>
            <td colspan="3" class="grey"></td>
        </tr>
            @{
                if (loanModelList != null)
                {
                    foreach (LoanModel m in loanModelList)
                    {
                        <tr>
                            <td class="td width-20">@(m.Month)月</td>
                            <td class="td width-25">￥@(m.Principal)</td>
                            <td class="td width-25">￥@(m.Interest)</td>
                            <td class="td width-30">￥@(m.Loan)</td>
                        </tr>
                    }
                }
            }
            
            
        </tbody>
    </table>

</div>

<input type="hidden" value="2" id="J_nextyear">

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>
<script src="http://g.tbcdn.cn/bui/acharts/1.0.23/acharts-min.js"></script>

<script>
    var isLoading = false;
    KISSY.use('ajax, event', function(S, IO, Event) {

        function getMonthData(year) {
            if (isLoading) {
                return;
            };
            IO({
                url: '/LoanCalculation/GetLoanList',
                type: 'post',
                dataType: "json",
                data: {
                    year: S.one('#J_nextyear').val(),
                    daiKuan: S.one("#hidDaiKuan").val(),
                    anJieNianShu: S.one("#hidAnJieNianShu").val(),
                    liLv: S.one("#hidLiLv").val(),
                    huanKuanFangShi: S.one("#hidHuanKuanFangShi").val(),
                    daiKuanLeiXing: S.one("#hidDaiKuanLeiXing").val(),
                    daiKuan_gjj: S.one("#hidDaiKuan_gjj").val(),
                    anJieNianShu_gjj: S.one("#hidAnJieNianShu_gjj").val(),
                    liLv_gjj: S.one("#hidLiLv_gjj").val()

                },
                beforeSend: function() {
                    S.one('.fd-repayment-detail').append('<div class="loading"></div>');
                    isLoading = true;
                },
                success: function(data) {
                    S.all('.loading').remove();
                    renderMonthList(data);
                    isLoading = false;
                },
                error: function() {
                    S.all('.loading').remove();
                    isLoading = false;
                }
            });
        }

        function renderMonthList(data) {
            var array = new Array();
            var year = [
                '<tr>',
                '<td class="year">第' + S.one('#J_nextyear').val() + '年 </td>',
                '<td colspan="3" class="grey"></td>',
                '</tr>'
            ];
            array.push(year.join(''));
            for (var k in data.data) {
                var html = [
                    '<tr>',
                    '<td class="td width-20">' + data.data[k].Month + '月</td>',
                    '<td class="td width-25">￥' + data.data[k].Principal + '</td>',
                    '<td class="td width-25">￥' + data.data[k].Interest + '</td>',
                    '<td class="td width-30">￥' + data.data[k].Loan + '</td>',
                    '</tr>'
                ];
                array.push(html.join(''));
            }
            S.one('#J_List').append(array.join(''));
            S.one('#J_nextyear').val(parseInt(S.one('#J_nextyear').val()) + 1);

        }

        // 滚动到页底的时候请求数据
        Event.on(window, 'scroll', function() {
            var year = S.one('#J_nextyear');
            var daiKuanNianShu = S.one("#hidAnJieNianShu").val();
            if ((S.one(window).height() + S.one(window).scrollTop()) >= S.one("body").height()) {
                if (parseInt(S.one('#J_nextyear').val()) <= parseInt(daiKuanNianShu)) {
                    getMonthData(year);
                }
            }
        });

    });

    var a = @(ViewData["Interest"]);  //支付利息
    var c = @(ViewData["daiKuanYuan"]);  //贷款总额
    var chart = new AChart({
        theme: AChart.Theme.SmoothBase,
        id: 'canvas',
        width: 300,
        height: 300,
        legend: null, //不显示图例
        tooltip: null, //不像是提示文本
        seriesOptions: {
//设置多个序列共同的属性
            pieCfg: {
                colors: ['#ff7510', '#1983b7', '#74ba0a'], //更改颜色
                allowPointSelect: false, //不允许选择动作
                labels: {
                    distance: 12, //文本距离圆的距离
                    custom: true, //自定义标签
                    label: {
                        //文本信息在此配置

                    },
                    renderer: function(value, item) { //自定义标签
                        return '<span >￥' + (item.point.value).toFixed(2) + '</span><br><span class="title">' + value + '</span>';
                    }
                },
                innerSize: '60%' //内部的圆，留作空白
            }
        },
        series: [
            {
                type: 'pie',
                name: 'wwww',
                data: [
                    ['支付利息', a],
                    ['贷款总额', c]
                ]
            }
        ]
    });

    chart.render();
</script>

<style type="text/css">
    .detail-section {
        margin: 0 auto;
    }

    #canvas {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        width: 300px;
        height: 300px;
    }

        #canvas .title {
            white-space: nowrap;
            font-family: Microsoft Yahei;
            font-size: 13px;
            color: #333;
        }

    .canvas_text {
        width: 70px;
        height: 50px;
        z-index: 55;
        position: absolute;
        top: 90px;
        left: 115px;
        font-family: Microsoft Yahei;
    }

        .canvas_text label {
            width: 100%;
            display: block;
            text-align: center;
            font-size: 12px;
            color: #999;
        }

        .canvas_text span {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 13px;
            color: #333;
        }

            .canvas_text span:last-child {
                color: #FF0000;
            }
</style>