﻿@{
    Layout = null;
    var cookie = Request.Cookies["LOGIN"];
    var domainName = string.Empty;
    var checkedStatus = string.Empty;
    if (cookie != null)
    {
        domainName = cookie.Values["DomainName"];
        checkedStatus = cookie.Values["Checked"];
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>权限控制系统</title>
    <script src="../../Scripts/jQuery-1.8.1-min.js"></script>
    <link href="../../Content/login.css" rel="stylesheet" />
</head>
<body>
    <div id="login">
        <h1><a href="#">LOGO</a></h1>
        <form method="post" action="javascript:return false">
            <p>
                <label for="username">
                    用户名<br>
                    <input type="text" tabindex="10" size="20" class="inpu"
                           id="username" name="username" value="@domainName" />
                </label>
            </p>
            <p>
                <label for="password">
                    密码<br>
                    <input type="password" tabindex="10" size="20" value="" class="inpu" id="password" name="password" />
                </label>
            </p>
            <div class="clearfix">
                <p class="forgetmenot">
                    <label for="rememberme">
                        <input type="checkbox" tabindex="90" @checkedStatus
                               id="rememberme" name="rememberme"> 记住我
                    </label>
                </p>
                <p class="nore">
                    <a href="javascript:void(0)" onclick="forgetPassWord()">忘记密码？</a>
                </p>
            </div>
            <p id="message" style="margin-top: 10px;color: red;display:none">很抱歉,登录失败,请检查用户名或密码.</p>
            <p>
                <a class="login_btn" href="javascript:void(0)">登&nbsp;&nbsp;录</a>
            </p>
        </form>
    </div>
</body>
<script>
    $(function () {
        document.onkeydown = function (e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {
                $(".login_btn").trigger("click");
            }
        };
        $(".login_btn").click(function () {
            Login();
        });

        $(".inpu").focus(function () {
            $("#message").hide();
        });

    });

    function forgetPassWord() {
        $("#message").html('请邮件联系管理员.');
        $("#message").show();
        setTimeout(function () { $("#message").hide(); }, 3000);
    }

    function Login() {
        var username = $.trim($("#username").val());
        var password = $.trim($("#password").val());
        var rememberme = $("#rememberme").is(":checked");;// 1为记住密码  0 未记住密码
        if (checkNullOrEmpty(username)) {
            return false;
        }
        if (checkNullOrEmpty(password)) {
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/Admin/Login/Login",
            data: {
                domainName: username,
                password: password,
                rememberme: rememberme
            },
            dataType: "json",
            success: function (opt) {
                if (opt) {
                    location.href = "/Admin/Manager/Index";
                } else {
                    $("#message").html('很抱歉,登录失败,请检查用户名或密码.');
                    $("#message").show();
                }
            },
            timeout: 60000,
            error: function () {
                $("#message").html('很抱歉,登录发生错误,请联系管理员.');
                $("#message").show();
            }
        });
        return false;
    }
    //检查字符串是否为空 add xia 2014-06-12
    function checkNullOrEmpty(str) {
        var result = false;
        if (str == null)
            result = true;
        str = str.replace(/(^\s*)|(\s*$)/g, "");
        if (str.length == 0)
            result = true;
        return result;
    }
</script>
</html>
