﻿@model PinganHouse.SHHTS.WebUI.Models.LimitsPurchasesModel
@{
    ViewBag.Title = "购房资格查询";
}
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>购房资格查询</title>

    <meta name="keywords" content="上海好房" />
    <meta name="description" content="平安好房网(Pinganfang.com) 是中国平安集团下的专业房地产平台，专业提供上海新房、上海二手房、上海租房、海外房产等服务，并有在线购房、在线租房、在线竞价、在线支付等多项全新的服务功能，满足您的不同需求">

    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="http://static.pinganfang.com/css/iconfont/iconfont.css" />
    <link rel="Shortcut Icon" href="http://static.pinganfang.com/img/web/common/favicon.ico" />
    <link href="~/Content/static/common/base.css" rel="stylesheet" />
    <link href="~/Content/static/esf.css" rel="stylesheet" />

</head>
<body>
    <div class="wxh_main">

        <div class="quota_type">
            <ul>
                <li>@Html.ActionLink("上海户籍", "ShanghPeopleSearch")</li>
                <li>@Html.ActionLink("非上海户籍", "NoShanghPeopleSearch")</li>
                <li> <a class="selected">境外户籍</a></li>
            </ul>
        </div>
        <div class="quota_option">
            <dl>
                <dt>现有家庭住房套数</dt>
                <dd><button class="minus_btn">-</button><input type="text" value="0" class="num_box" readonly="readonly"><button class="plus_btn">+</button><i>套</i></dd>
            </dl>
            <dl>
                <dt>有1年以上的劳务合同</dt>
                <dd>
                    <span class="switch_text1">无</span><div class="switch_btn">
                        <label class="btn-ios-switch switch_btn_p ">
                            <input type="checkbox" class="ios-switch green J_Checkbox" name="" />
                            <div>
                                <div>
                                </div>
                            </div>
                        </label>
                    </div>
                </dd>
            </dl>
            <div class="quota_search_btn quota_search_btn_unmar "><button id="J_search">查询</button> </div>
        </div>
    </div>
    <!-- confirm -->
    <div class="wxh-alert-modal" style="display:none;" id="J_searchModal">
        <div class="title">购房资格查询</div>
        <div class="body">
            <p>根据相关条件查询</p>
            <p>您目前能购买的房子套数为</p>
            <p><b id="countNum">0</b>套</p>
        </div>
        <div class="button" id="J_BtnClose">我知道了</div>
    </div>


    <div class="masking" id="J_Mask"></div>
    <script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
    <script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
    <script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    var num = 0;
    var status;
 KISSY.use('node,event',function(S,Node,Event){
     //加号
     Node.all('.plus_btn').on('click',function(){
         num=Node.all(this).parent().all('.num_box').val();
         num++;
         Node.all(this).parent().all('.num_box').val(num);
     });
     //减号
     Node.all('.minus_btn').on('click',function(){
		
         num= Node.all(this).parent().all('.num_box').val();
         if(num>0) {num--;}
         Node.all(this).parent().all('.num_box').val(num);
     });

     // 苹果开关变动的时候交互也要变动
     S.all('.J_Checkbox').removeAttr('checked');
     Event.on('.J_Checkbox', 'change', function () {
         var el = S.one(this);


         if (el.attr("checked") === "checked") {
             S.all('.switch_text1').text('有');
             status = true;
         } else {
             S.all('.switch_text1').text('无');
             status = false;
         }
     });

     Event.on('#J_search', 'click', function (e) {
         e.halt();
         if (status && num == 0) {
             document.getElementById("countNum").innerText = "1";
         }
         else {
             document.getElementById("countNum").innerText = "0";
         }
         S.one('#J_searchModal').show();
         S.one('#J_Mask').show();
     });


     // 隐藏
     //Event.on('#J_Mask', 'click', function () {
         Event.on('#J_Mask, #J_BtnClose', 'click', function(){
         S.one('#J_Mask').hide();
         S.one('#J_searchModal').hide();
         });

         
 });
</script>
