﻿
@{
    ViewBag.Title = "购房资格查询";
}
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>限购查询</title>

    <meta name="keywords" content="上海好房" />
    <meta name="description" content="平安好房网(Pinganfang.com) 是中国平安集团下的专业房地产平台，专业提供上海新房、上海二手房、上海租房、海外房产等服务，并有在线购房、在线租房、在线竞价、在线支付等多项全新的服务功能，满足您的不同需求">

    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="http://static.pinganfang.com/css/iconfont/iconfont.css" />
    <link rel="Shortcut Icon" href="http://static.pinganfang.com/img/web/common/favicon.ico" />
    <link href="~/Content/static/common/base.css" rel="stylesheet" />
    <link href="~/Content/static/esf.css" rel="stylesheet" />
</head>

<body>
    <div class="wxh_main">
        <div class="quota_type">
            <ul>
                <li> <a class="selected">上海户籍</a></li>
                <li>@Html.ActionLink("非上海户籍", "NoShanghPeopleSearch")</li>
                <li>@Html.ActionLink("境外户籍", "ForeignSearch")</li>
            </ul>
        </div>
        <div class="quota_option">
            <dl>
                <dt>婚姻状况</dt>
                <dd><span class="switch_text">未婚</span>
                <div class="switch_btn">
                    <label class="btn-ios-switch switch_btn_p ">
                    <input type="checkbox" class="ios-switch green J_Checkbox" name="" />
                    <div>
                        <div>
                        </div>
                    </div>
                    </label> 
                </div>
                </dd>
            </dl>
            <dl class="quota_state">本人住房情况</dl>
            <dl>
                <dt>本人现有住房</dt>
                <dd><button class="minus_btn">-</button><input id="Self" type="text" value="0" class="num_box" readonly="readonly"><button class="plus_btn">+</button><i>套</i></dd>
            </dl>
            <dl>
                <dt>2011年1月28日前与父母共有住房</dt>
                <dd><button class="minus_btn">-</button><input id="SelfBefore" type="text" value="0" class="num_box" readonly="readonly"><button class="plus_btn">+</button><i>套</i></dd>
            </dl>
            <dl>
                <dt>2011年1月28日后与父母共有住房</dt>
                <dd><button class="minus_btn">-</button><input id="SelfAfter" type="text" value="0" class="num_box" readonly="readonly"><button class="plus_btn">+</button><i>套</i></dd>
            </dl>
            <dl class="quota_state mar">配偶住房情况</dl>
            <dl class="mar">
                <dt>配偶现有住房</dt>
                <dd><button class="minus_btn">-</button><input id="Spouse" type="text" value="0" class="num_box" readonly="readonly"><button class="plus_btn">+</button><i>套</i></dd>
            </dl>
            <dl class="mar">
                <dt>2011年1月28日前与父母共有住房</dt>
                <dd><button class="minus_btn">-</button><input id="SpouseBefore" type="text" value="0" class="num_box" readonly="readonly"><button class="plus_btn">+</button><i>套</i></dd>
            </dl>
            <dl class="mar">
                <dt>2011年1月28日后与父母共有住房</dt>
                <dd><button class="minus_btn">-</button><input id="SpouseAfter" type="text" value="0" class="num_box" readonly="readonly"><button class="plus_btn">+</button><i>套</i></dd>
            </dl>
            <dl class="quota_state">未成年子女住房情况</dl>
            <dl>
                <dt>未成年子女现有住房</dt>
                <dd><button class="minus_btn">-</button><input id="Children" type="text" value="0" class="num_box" readonly="readonly"><button class="plus_btn">+</button><i>套</i></dd>
            </dl>
            <div class="quota_search_btn quota_search_btn_unmar "><button id="J_search">查询</button> </div>
        </div>
    </div>

    <!-- confirm -->
    <div class="wxh-alert-modal" style="display:none;" id="J_searchModal">
        <div class="title">购房资格查询</div>
        <div class="body">
            <p>根据相关条件查询</p>
            <p>您目前能购买的房子套数为</p>
            <p><b id="countNum">0</b>套</p>
        </div>
        <div class="button" id="J_BtnClose">我知道了</div>
    </div>
    <div class="masking" id="J_Mask"></div>


    <script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
    <script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
    <script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>
    
    var status = false;

    KISSY.use('node,event', function (S, Node, Event) {
        //加号
        Node.all('.plus_btn').on('click', function () {
            var num = Node.all(this).parent().all('.num_box').val();
            num++;
            Node.all(this).parent().all('.num_box').val(num);
        });
        //减号
        Node.all('.minus_btn').on('click',function(){
	
            var num= Node.all(this).parent().all('.num_box').val();
            if(num>0) {num--;}
            Node.all(this).parent().all('.num_box').val(num);
        });

        S.all('.J_Checkbox').removeAttr('checked');

        //上海户籍已婚与未婚切换
        Event.on('.J_Checkbox', 'change', function () {
            var el = S.one(this);
            if (el.attr("checked") === "checked") {
                S.all('.switch_text').text('已婚');
                S.all('.mar').show();
                S.all('.quota_search_btn').removeClass('quota_search_btn_unmar');
                S.all('.quota_search_btn').addClass('quota_search_btn_mar');
                status = true;
            } else {
                S.all('.switch_text').text('未婚');
                S.all('.mar').hide();
                S.all('.quota_search_btn').removeClass('quota_search_btn_mar');
                S.all('.quota_search_btn').addClass('quota_search_btn_unmar');
                status = false;
            }
        });


        // 展示
        Event.on('#J_search', 'click', function (e) {
            e.halt();
            var self = parseInt(document.getElementById("Self").value);
            var selfBefore = parseInt(document.getElementById("SelfBefore").value);
            var selfAfter = parseInt(document.getElementById("SelfAfter").value);
            var spouse = parseInt(document.getElementById("Spouse").value);
            var spouseBefore = parseInt(document.getElementById("SpouseBefore").value);
            var spouseAfter = parseInt(document.getElementById("SpouseAfter").value);
            var children = parseInt(document.getElementById("Children").value);
            var total = 0;
            if (selfBefore >= 2) {
                selfBefore = selfBefore - 2;
            }
            else {
                selfBefore = 0;
            }

            //已婚
            if (status == "true") {
                if (spouseBefore >= 2) {
                    spouseBefore = spouseBefore - 2;
                }
                else {
                    spouseBefore = 0;
                }
                total = self + selfBefore + selfAfter + spouse + spouseAfter + spouseBefore + children;

                if (total == 0) {
                    document.getElementById("countNum").innerText = "2";
                }
                else if (total == 1) {
                    document.getElementById("countNum").innerText = "1";
                }
                else {
                    document.getElementById("countNum").innerText = "0";
                }
            }
                //未婚
            else {
                total = selfBefore + self + selfAfter + children;
                if (total == 0) {
                    document.getElementById("countNum").innerText = "1";
                }
                else {
                    document.getElementById("countNum").innerText = "0";
                }
            }

            S.one('#J_searchModal').show();
            S.one('#J_Mask').show();
        });


        // 隐藏
        Event.on('#J_Mask, #J_BtnClose', 'click', function () {
            S.one('#J_Mask').hide();
            S.one('#J_searchModal').hide();
        });

        
    });
</script>

</body>

</html>
