﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>AC控制系统</title>
        <script src="../../Scripts/jQuery-1.8.1-min.js"></script>
        <script src="../../Jquery-easyui/jquery.easyui.min.js"></script>
        <link href="../../Jquery-easyui/themes/default/easyui.css" rel="stylesheet" />
        <link href="../../Jquery-easyui/themes/icon.css" rel="stylesheet" />
        <script src="../../Jquery-easyui/locale/easyui-lang-zh_CN.js"></script>    
        @*封装的对话框JS和样式*@
        <script src="../../Scripts/centanetOutLook.js"></script>
        <link href="../../Content/default.css" rel="stylesheet" />
        <script type="text/javascript">
            var jsonMenu = unescape('@(new HtmlString(ViewBag.Menus))');
           
            //var _menus = {"menus": [
            //        {
            //            "menuid": "1", "icon": "icon-sys", "menuname": "资源/证书管理",
            //            "menus": [
            //                { "menuid": "101", "menuname": "资源列表", "icon": "icon-role", "url": "/Resource/Index" },
            //                { "menuid": "101", "menuname": "证书列表", "icon": "icon-role", "url": "/Credentials/Index" },
            //                { "menuid": "102", "menuname": "资源/证书设置", "icon": "icon-set", "url": "/Resource/RelationIndex" }
            //            ]
            //        }, {
            //            "menuid": "2", "icon": "icon-sys", "menuname": "主体/证书管理",
            //            "menus": [
            //                { "menuid": "201", "menuname": "主体列表", "icon": "icon-role", "url": "/PrincipalPart/Index" },
            //                { "menuid": "202", "menuname": "主体/证书设置", "icon": "icon-role", "url": "/PrincipalPart/RelationIndex" }
            //            ]
            //        }, {
            //            "menuid": "3", "icon": "icon-sys", "menuname": "人员管理",
            //            "menus": [
            //                { "menuid": "301", "menuname": "人员列表", "icon": "icon-role", "url": "/User/Index" },
            //                { "menuid": "302", "menuname": "部门列表", "icon": "icon-role", "url": "/User/Index" }
            //            ]
            //        }
            //    ]
            //};
            var  _menus = { "menus": eval('(' + jsonMenu + ')') };
            $(function () {
                openPwd();
                $('#editpass').click(function () {
                    $('#w').window('open');
                });
                $('#btnEp').click(function() {
                    updatePassWord();
                });
                $('#btnCancel').click(function() {
                     closePwd();
                });
                
                $('#loginOut').click(function() {
                    $.messager.confirm('系统提示', '您确定要退出本次登录吗?', function(r) {
                        if (r) {
                            location.href = '/Admin/Login/LoginOut';
                        }
                    });
                });
            });
        </script>

    </head>
    <body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
        <div region="north" split="false" border="false" style="overflow:hidden;height:25px;
            background: url(../../images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
            <span style="float:right; padding-right:20px;" class="head">欢迎 @(HttpUtility.UrlDecode(ViewBag.Name))
                <a href="#" id="editpass" >修改密码</a> 
                <a href="#" id="loginOut">安全退出</a></span>
            <span style="padding-left:10px; font-size: 16px; "> 权限控制系统</span>
        </div>

        <div region="south" split="false" style="height: 30px; background: #D2E0F2; ">
            <div class="footer">权限控制系统</div>
        </div>

        <div region="west" hide="true" split="true" title="导航菜单" style="width:180px;" id="west">
            <div id="nav" class="easyui-accordion" fit="true" border="false">
                <!--  导航内容 -->				
            </div>
        </div>

        <div id="mainPanle" region="center" fit="true" style="background: #eee; overflow-y:hidden">
            <div id="tabs" class="easyui-tabs" fit="true" border="false" >
                <div title="欢迎使用" style="padding:20px;overflow:hidden; color:red; "></div>
            </div>
        </div>
    
        <!--修改密码窗口-->
        <div id="w" class="easyui-window" title="修改密码" collapsible="false" minimizable="false"
             maximizable="false" icon="icon-save"  style="width: 300px; height: 150px; padding: 5px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                background: #fafafa;">
            <div class="easyui-layout" fit="true">
                <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                    <table cellpadding=3>
                        <tr>
                            <td>新密码：</td>
                            <td><input id="txtNewPass" type="Password" class="txt01" /></td>
                        </tr>
                        <tr>
                            <td>确认密码：</td>
                            <td><input id="txtRePass" type="Password" class="txt01" /></td>
                        </tr>
                    </table>
                </div>
                <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
                    <a id="btnEp" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" >
                        确定</a> <a id="btnCancel" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">取消</a>
                </div>
            </div>
        </div>

        <div id="mm" class="easyui-menu" style="width:150px;">
            <div id="mm-tabupdate">刷新</div>
            <div class="menu-sep"></div>
            <div id="mm-tabclose">关闭</div>
            <div id="mm-tabcloseall">全部关闭</div>
            <div id="mm-tabcloseother">除此之外全部关闭</div>
            <div class="menu-sep"></div>
            <div id="mm-tabcloseright">当前页右侧全部关闭</div>
            <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
            <div class="menu-sep"></div>
            <div id="mm-exit">退出</div>
        </div>
        
    </body>
</html>
<script language="javascript">
    
    //设置登录窗口
    function openPwd() {
        $('#w').window({
            title: '修改密码',
            width: 300,
            modal: true,
            shadow: true,
            closed: true,
            height: 180,
            resizable: false
        });
    }
    
    //关闭登录窗口
    function closePwd() {
        $('#w').window('close');
    }

    //修改密码
    function updatePassWord() {
        var $newpass = $('#txtNewPass');
        var $rePass = $('#txtRePass');
        if ($newpass.val() == '') {
            $.messager.alert('系统提示', '请输入密码.', 'info');
            return;
        }
        if ($rePass.val() == '') {
            $.messager.alert('系统提示', '请在一次输入密码.', 'info');
            return;
        }
        if ($newpass.val() != $rePass.val()) {
            $.messager.alert('系统提示', '两次密码不一至.请重新输入.', 'warning');
            return;
        }
        $.post('/Login/UpdatePassWord?passWord=' + $newpass.val(), function (opt) {
            if (opt) {
                $.messager.alert('系统提示', '恭喜，密码修改成功.', 'info');
                $newpass.val('');
                $rePass.val('');
                $('#w').window('close');
            }
        });
    }

</script>