﻿@{
    var dicEvent = Model as Dictionary<PinganHouse.SHHTS.Enumerations.CaseStatus, PinganHouse.SHHTS.DataTransferObjects.CaseEvent>;
    var text = string.Empty;
    var color = string.Empty;
}
<div class="chart-all">
    @*********************已放款*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.DK8))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.DK8].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">已放款</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************他证已收*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.DK7))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.DK7].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">他证已收</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************合同送过户*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY5))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY5].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">合同送过户</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************贷款申请已取消*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.ZB11))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.ZB11].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">贷款办理取消</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************审批结果*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.DK5))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.DK5].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">审批结果(通过)</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }
    @{        
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.DK9))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.DK9].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">审批结果(不通过)</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>

        }
    }

    @*********************贷款资料补齐中*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.DK10))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.DK10].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">贷款资料补齐中</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************已签贷款申请协议*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.DK3))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.DK3].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">已签贷款申请协议</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }
    
    @*********************已受理*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.DK2))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.DK2].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">已受理</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
        }
    }

</div>