﻿<!-- 卖方还贷 -->
@{
    var dicEvent = Model as Dictionary<PinganHouse.SHHTS.Enumerations.CaseStatus, PinganHouse.SHHTS.DataTransferObjects.CaseEvent>;
    var text = string.Empty;
    var color = string.Empty;
}
<div class="chart-all">

    @*********************抵押注销成功*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.HD6))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.HD6].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">抵押注销成功</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************抵押已注销*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.HD5))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.HD5].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">抵押已注销</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************出结清凭证*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.HD4))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.HD4].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">出结清凭证</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************已还款*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.HD3))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.HD3].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">已还款</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }


    @*********************已预约还款*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.HD2))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.HD2].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">已预约还款</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*********************已受理*************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.HD1))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.HD1].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">已受理</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
        }
    }
</div>