﻿<!-- 贷款审税 -->
@{
    var caseModel = Model as PinganHouse.SHHTS.WebUI.Models.CaseModel;
    var dicEvent = caseModel.DicEvent;
    var text = string.Empty;
    var color = string.Empty;
}
<div class="chart-all">
    @*过户检查*@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.ZB13))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.ZB13].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">结案</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY12))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY12].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">出新产证</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY11))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY11].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">过户</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
        else if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY11A1))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY11A1].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">过户</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.ZB7))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.ZB7].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">案件已中止</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }


    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY10))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY10].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">完税</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*******************购房资格查询结果****************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY6))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY6].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">购房资格查询[具备购房资格]</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }
    @{
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY9))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY9].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">购房资格查询<span style="color:#ea8010">【不具备购房资格】</span></span>
                    <span class="date">@(text)</span>
                    <div class="big-arrow">
                        <div class="right-polyline"></div>
                        <div class="arrow-line-container">
                            <div class="arrow"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }


    @*******************提交购房资格查询****************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY4))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY4].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">提交购房资格查询</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*******************审税****************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY3))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY3].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">审税</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*******************已受理****************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY2))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY2].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">已核价</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*******************已受理****************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.JY1))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.JY1].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">已受理</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }

    @*******************完成签约****************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.HA2))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.HA2].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">完成签约</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }
    @*******************签约取消****************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.ZB5))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.ZB5].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">签约取消</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
            <div class="vertical-line"></div>
        }
    }
    @*******************创建交易****************************@
    @{
        color = string.Empty;
        text = string.Empty;
        if (dicEvent.ContainsKey(PinganHouse.SHHTS.Enumerations.CaseStatus.YJ1))
        {
            color = "active";
            text = dicEvent[PinganHouse.SHHTS.Enumerations.CaseStatus.YJ1].CreateDate.ToString("yyyy-MM-dd");
            <div class="circle-item-txt">
                <div class="circle-item @(color)"></div>
                <div class="txt-item">
                    <span class="txt">创建交易</span>
                    <span class="date">@(text)</span>
                </div>
            </div>
        }
    }
</div>