﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 声明IE8浏览器使用它支持的最高模式渲染页面 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="上海好房" />
    <meta name="description" content="平安好房网(Pinganfang.com) 是中国平安集团下的专业房地产平台，专业提供上海新房、上海二手房、上海租房、海外房产等服务，并有在线购房、在线租房、在线竞价、在线支付等多项全新的服务功能，满足您的不同需求">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="http://static.pinganfang.com/css/iconfont/iconfont.css" />
    <link rel="Shortcut Icon" href="http://static.pinganfang.com/201504241643/img/web/common/favicon.ico" />
    <link href="~/Content/static/common/base.css" rel="stylesheet" />
    <link href="~/Content/static/esf.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>