﻿@{
    ViewBag.Title = "税费计算器";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="esf-fd-calculator">

    <div class="tab-title">
        <a class="item left-border-radius " href="/LoanCalculation/Index">
            房贷计算器
        </a><a class="item right-border-radius active" href="Javascript:void(0);">税费计算器</a>
    </div>

@using (Html.BeginForm("Result", "TaxCalculation", FormMethod.Post))
{
    <div class="calculator-option">
        <dl>
            <dt>
                房屋面积
            </dt>
            <dd>
                <input type="tel" role="text-number" value="100" class="input-txt" name="txtArea">
                <i>平方米</i>
            </dd>
        </dl>
        <dl>
            <dt>
                房款总价
            </dt>
            <dd>
                <input type="tel" role="text-number" value="100" class="input-txt" name="txtTotalPrice">
                <i>万元</i>
            </dd>
        </dl>
        <dl>
            <dt>
                房屋原价
            </dt>
            <dd>
                <input type="tel" role="text-number" value="100" class="input-txt" name="txtOriginalPrice">
                <i>万元</i>
            </dd>
        </dl>
        <dl>
            <dt>
                计征方式
            </dt>
            <dd>
                <select class="select-txt" name="rdoPriceType" id="J_LevySelect">
                    <option value="1">总价</option>
                    <option value="2">差价</option>
                </select>
                <i class="iconfont">&#xe633;</i>
                @*<div class="hide" id="J_Levy">
                        <input type="text" value="100" class="input-txt" name="">
                        <i>万元</i>
                    </div>*@
            </dd>
        </dl>
        <dl>
            <dt>
                房屋性质
            </dt>
            <dd>
                <select class="select-txt" name="rdoHouseType">
                    <option value="1">&nbsp;&nbsp;&nbsp;&nbsp;普通住宅</option>
                    <option value="2">非普通住宅</option>
                </select>
                <i class="iconfont">&#xe633;</i>
            </dd>
        </dl>
        <dl>
            <dt>
                房产购置年限
            </dt>
            <dd>
                <select class="select-txt" name="selYears">
                    <option value="1">未满2年</option>
                    <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;满2年</option>
                    <option value="3">&nbsp;&nbsp;&nbsp;&nbsp;满5年</option>
                </select>
                <i class="iconfont">&#xe633;</i>
            </dd>
        </dl>
        <dl>
            <dt>
                买方家庭首次购房
            </dt><dd>
                <span class="J_iOSTxt" style="display:block;margin-right:54px;">否</span>
                <label class="btn-ios-switch">
                    <input type="checkbox" class="ios-switch green J_iOSBtn" name="First" />
                    <div>
                        <div>
                        </div>
                    </div>
                </label>
            </dd>
        </dl>
        <dl>
            <dt>
                卖方家庭唯一住房
            </dt><dd>
                <span class="J_iOSTxt" style="display:block;margin-right:54px;">否</span>
                <label class="btn-ios-switch">
                    <input type="checkbox" class="ios-switch green J_iOSBtn" name="OnlyOne" />
                    <div>
                        <div>
                        </div>
                    </div>
                </label>
            </dd>
        </dl>
        <dl class="cat-tit">是否办理公证</dl>
        <dl>
            <dt>
                否
            </dt>
            <dd>
                <label class="btn-ios-switch">
                    <input type="checkbox" class="ios-switch green J_Checkbox" name="Notarized" data-item="Notarization" />
                    <div>
                        <div>
                        </div>
                    </div>
                </label>
            </dd>
        </dl>
        <dl class="hide J_Notarization">
            <dt>
                公证费承担主体
            </dt>
            <dd>
                <select class="select-txt" name="rdoNotarized">
                    <option value="1">买方</option>
                    <option value="2">卖方</option>
                    <option value="3">买卖双方各半</option>
                </select>
                <i class="iconfont">&#xe633;</i>
            </dd>
        </dl>
        <dl class="cat-tit">是否办理贷款</dl>
        <dl>
            <dt>
                否
            </dt>
            <dd>
                <label class="btn-ios-switch">
                    <input type="checkbox" class="ios-switch green J_Checkbox" name="Loan" data-item="Loan" />
                    <div>
                        <div>
                        </div>
                    </div>
                </label>
            </dd>
        </dl>
        <dl class="hide J_Loan">
            <dt>
                贷款金额
            </dt>
            <dd>
                <input type="text" value="100" class="input-txt" name="txtLoan">
                <i>万元</i>
            </dd>
        </dl>
        <dl class="hide J_Loan">
            <dt>
                是否办理贷款公证
            </dt>
            <dd>
                <label class="btn-ios-switch">
                    <input type="checkbox" class="ios-switch green" name="LoanNotarized" />
                    <div>
                        <div>
                        </div>
                    </div>
                </label>
            </dd>
        </dl>
        <dl class="cat-tit">是否办理委托公证</dl>
        <dl>
            <dt>
                否
            </dt>
            <dd>
                <label class="btn-ios-switch">
                    <input type="checkbox" class="ios-switch green J_Checkbox" name="CommissionedNotarized" data-item="Entrust" />
                    <div>
                        <div>
                        </div>
                    </div>
                </label>
            </dd>
        </dl>
        <dl class="hide J_Entrust">
            <dt>
                委托公证主体
            </dt>
            <dd>
                <select class="select-txt" name="rdoCommissionedNotarized">
                    <option value="1">买方</option>
                    <option value="2">卖方</option>
                    <option value="3">买方和卖方</option>
                </select>
                <i class="iconfont">&#xe633;</i>
            </dd>
        </dl>
    </div>

    <div class="calculator-btn">
        <button tyep="submit" class="btn-compute" id="J_BtnSubmit">开始计算</button>
    </div>

}

</div>

<div class="loading-v2" id="J_ShowLoading">
    <img src="http://file.pinganfang.com/view/banner/194ed5c0269740467ca2fdd0ebf5c2cd35f8fc5d.gif" class="icon-loading">
</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/bui/adapter1.1.5-min.js"></script>
<script src="http://static.pinganfang.com/kissyui/config-min.js"></script>

<script>

    KISSY.use('ajax, event', function (S, IO, Event) {

        S.all('.J_Checkbox').removeAttr('checked');

        // 苹果开关变动的时候交互也要变动
        Event.on('.J_Checkbox', 'change', function () {
            var el = S.one(this);
            var item = el.attr("data-item");

            if (el.attr("checked") === "checked") {
                el.parent().parent().prev().text('是');
                S.all('.J_' + item).show();
            } else {
                el.parent().parent().prev().text('否');
                S.all('.J_' + item).hide();
            }
        });

        //Event.on('#J_LevySelect', 'change', function (e) {
        //    var el = S.one(this);
        //    if (el.val() === "2") {
        //        S.one('#J_Levy').css('display', "inline-block");
        //    } else {
        //        S.one('#J_Levy').hide();
        //    }
        //});

        // 菊花
        Event.on('#J_BtnSubmit', 'click', function () {
            S.one('#J_ShowLoading').show();
        });

        // 开关蚊子
        Event.on('.J_iOSBtn', 'change', function (e) {
            var el = S.one(this);
            if (el.attr("checked") === "checked") {
                el.parent().prev().text("是");
            } else {
                el.parent().prev().text("否");
            }
        });
    });

</script>