﻿@{
    ViewBag.Title = "税费详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="fd-repayment-detail esf-fd-calculator">

    <div class="page-title">税费详情</div>

    <div class="tab-title">
        <a class="item left-border-radius active" href="Javascript:void(0);" id="aBuyer">
            买方
        </a><a class="item right-border-radius" href="Javascript:void(0);" id="aSeller">卖方</a>
    </div>

    <div class="calculator-option" id="dvBuyer">
        <div class="tit-item">
            <p class="tit-txt">
                税金总额
            </p>
            <p class="tit-price">
                <b class="font-size-18">@(ViewData["BuyerTotal"])元</b>
            </p>
        </div>
        <dl>
            <dt>
                契税
            </dt>
            <dd>
                @(ViewData["DeedTax"])元
            </dd>
        </dl>
        <dl>
            <dt>
                房产税
            </dt>
            <dd>
                0.00元
            </dd>
        </dl>
        <dl>
            <dt>
                权证印花税
            </dt>
            <dd>
                @(ViewData["CertificateStamDuty"])元
            </dd>
        </dl>
        <dl>
            <dt>
                登记费
            </dt>
            <dd>
                @(ViewData["RegistrationFee"])元
            </dd>
        </dl>
        <dl>
            <dt>
                图纸费
            </dt>
            <dd>
                @(ViewData["BlueprintFee"])元
            </dd>
        </dl>
        <dl>
            <dt>
                抵押登记费
            </dt>
            <dd>
                @(ViewData["MortgageRegistrationFee"])元
            </dd>
        </dl>
        <dl>
            <dt>
                交易手续费
            </dt>
            <dd>
                @(ViewData["BuyerTransactionFee"])元
            </dd>
        </dl>
        <dl>
            <dt>
                公证费
            </dt>
            <dd>
                @(ViewData["BuyerNotaryFee"])元
            </dd>
        </dl>
        <dl>
            <dt>
                委托公证费
            </dt>
            <dd>
                @(ViewData["BuyerCommissionedNotaryFee"])元
            </dd>
        </dl>
        <dl>
            <dt>
                贷款公证费
            </dt>
            <dd>
                @(ViewData["CreditNotarizationFee"])元
            </dd>
        </dl>
        <dl>
            <dt>
                贷款评估费
            </dt>
            <dd>
                @(ViewData["LoanAssessmentFee"] )元
            </dd>
        </dl>
    </div>

    <div class="calculator-option" id="dvSeller" style="display: none">
        <div class="tit-item">
            <p class="tit-txt">
                税金总额
            </p>
            <p class="tit-price">
                <b class="font-size-18">@(ViewData["SellerTotal"])元</b>
            </p>
        </div>

        <dl>
            <dt>营业税</dt>
            <dd>@(ViewData["SellerBusinessTax"])元</dd>
        </dl>
        <dl>
            <dt>个人所得税</dt>
            <dd>@(ViewData["SellerIncomeTax"])元</dd>
        </dl>
        <dl>
            <dt>交易手续费</dt>
            <dd>@(ViewData["SellerTransactionFee"])元</dd>
        </dl>
        <dl>
            <dt>公证费</dt>
            <dd>@(ViewData["SellerNotaryFee"])元</dd>
        </dl>
        <dl>
            <dt>委托公证费</dt>
            <dd>@(ViewData["SellerCommissionedNotaryFee"])元</dd>
        </dl>
    </div>

</div>

<script src="http://static.pinganfang.com/kissyui/1.3.2/build/kissy-min.js"></script>
<script>
    KISSY.use("dom", function (S, DOM) {
        //S.one('#dvBuyer').show();
        //S.one('#dvSeller').hide();

        S.one('#aBuyer').on('click', function () {
            S.one('#dvBuyer').show();
            S.one('#dvSeller').hide();
            DOM.addClass("#aBuyer", "active");
            DOM.removeClass("#aSeller", "active");
        });
        S.one('#aSeller').on('click', function () {
            S.one('#dvSeller').show();
            S.one('#dvBuyer').hide();
         
            DOM.addClass("#aSeller", "active");
            DOM.removeClass("#aBuyer", "active");
        });
    });
</script>